[2020-03-13 08:34] Anrock opened #9 "Incorrect validation of directories existance with non-default root-folder param"
When running with non-default `--root-folder` argument validation erroneously fails, because existance of directory is checked relative to current folder instead of specified root-folder.

Example:
`metrics --root-folder lib src` in this repo fails with `Can't find directory src`.

[2020-03-13 08:37] Anrock opened #10 "Directories for analysis should be checked to be children of root-folder"
Example:
`metrics --root-folder lib test` will produce empty report because files in test are not in `lib` directory. This should produce at least a warning.

[2020-03-13 11:19] Anrock opened #11 "Simplify usage as library"
Right now it's neccessary to create a bunch of internal classes and orchestrate them to create a report.

There should be a simpler way to perform common scenarios, preferably with a single function.

[2020-03-13 11:57] Anrock opened #12 "Root folder not validated before running analysis"
Pass non-existent or non-directory path to root-folder param and cli-tool will throw.

[2020-03-13 13:33] #9 closed

[2020-03-13 13:33] #12 closed

[2020-03-13 13:38] Anrock commented on #10
Fixed in #13

[2020-03-13 13:38] #10 closed

[2020-04-08 17:46] neokree opened #18 "Exit code for CI"
Hello,

It could be very useful to add an option like `--set-exit-on-alarm` and `--set-exit-on-warning` to allow this library to make a pipeline fail.

I'm talking about GitLab here, but I think that exit code are used in other CI tools to made them fail.

[2020-04-09 11:59] Anrock commented on #18
Thanks for suggestion @neokree, we'll try to implement in near future.

[2020-04-14 12:17] #18 closed

[2020-04-14 12:38] Anrock commented on #18
@neokree Hi, check out `--set-exit-on-violation-level` parameter in new 1.4.0 version

[2020-04-15 18:23] neokree commented on #18
@Anrock Thank you!

[2020-05-12 12:02] fabiomaia opened #27 "How to integrate into `flutter analyze`"
Is it possible to integrate these metrics into `flutter analyze`? I tried but couldn't seem to get it to work

[2020-05-22 13:45] #27 closed

[2020-06-05 10:49] Anrock opened #32 "Document configuration via analysis_options file"

[2020-06-11 09:13] #32 closed

[2020-06-11 09:14] Anrock opened #37 "Implement member-ordering rule"
Allows to enforce declaration order in classes. For example:

`member-ordering: [angular-inputs, angular-outputs, public, constructor, private]`

Inspired by [TSLint rule](https://palantir.github.io/tslint/rules/member-ordering/)

[2020-06-11 09:35] Anrock opened #38 "Implement no-object-declaration"
A rule that issues a warning when class member is declared with Object type. Must not issue a warning when function/method argument has type Object or when type argument is Object.

[2020-06-11 09:44] Anrock opened #39 "Implement no-magic-number rule"
Issue a warning when there is a number literal in expression, except -1/+1/0. Recommend to extract magic number to named constant.

Bad:
[code]
Fix:
[code]
No warnings for exceptional literals:
[code]

Inspired by [TSLint rule](https://palantir.github.io/tslint/rules/no-magic-numbers/)

[2020-06-11 09:49] Anrock opened #40 "Implement unnecessary-type-assertion"
Issue a warning for unnecessary type assertions.

Bad:
[code]

Inspired by [TSLint rule](https://palantir.github.io/tslint/rules/no-unnecessary-type-assertion/)

[2020-06-11 09:55] Anrock opened #41 "Implement prefer-conditional-expressions rule"
Issue a warning when there is a if-else block and same variable is written to in both branches.

Bad:
[code]

Good:
[code]

Inspired by [TSLint rule](https://palantir.github.io/tslint/rules/prefer-conditional-expression/)

[2020-06-11 09:57] Anrock opened #42 "Implement binary-expression-operand-order"
Issue a warning when literal value is lhs in binary expressions.

Bad:
[code]
Good:
[code]

Inspired by [TSLint rule](https://palantir.github.io/tslint/rules/binary-expression-operand-order/)

[2020-06-11 10:06] Anrock opened #43 "Implement prefer-functions rule"
Issues a warning for class method that doesn't use class fields

[2020-06-19 21:01] dkrutskikh opened #48 "Implement number-of-methods metric"
The number of methods is the total number of methods or functions in a class. High number of methods indicates a high complexity of the class.

[2020-06-23 09:09] #39 closed

[2020-06-29 02:33] rrousselGit opened #54 "About analyzer_plugin"
Hello!

This is more of a question on analyzer_plugin and not directly related to this package – but the resources on analyzer_plugin are scarce.
I would love if you were able to answer this question for me:

## How to debug custom analyzer plugins?

I've forked this repository and added both a `print` and `File(...).writeAsString` in `tools/analyzer_plugin/bin/plugin.dart`, but neither of them do

[2020-06-29 03:32] rrousselGit commented on #54
Closing as I've found by luck the problem and were able to work around it

[2020-06-29 03:32] #54 closed

[2020-06-29 07:41] #42 closed

[2020-06-29 22:07] #48 closed

[2020-06-30 13:26] Anrock opened #56 "Make MetricsAnalysisRecorder exception safe"
MetricsAnalysisRecorder has unsafe API that can lead to runtime exceptions if `startRecordFile()` and `endRecordFile()` calls are unpaired.

This can be improved using [Dispose pattern](https://en.wikipedia.org/wiki/Dispose_pattern).

Suggested API changes:
* Create two new interfaces
  * `MetricsRecordsStore` with two methods:
    * `records` with same signature as `MetricsAnalysisRecorder.record

[2020-07-04 12:51] #56 closed

[2020-07-04 12:58] Anrock opened #60 "Remove deprecated code"
Deprecated in #56

lib/src/analysis_options.dart
lib/src/metrics_analysis_recorder.dart

[2020-07-09 08:13] andrewst opened #68 "Exclude files section does not work for rules"
Rules the analysis does not react to exclude section in the analysis_options.yaml file

[2020-07-10 15:04] Anrock opened #69 "Improve no-magic-number rule"
Some field cases with false-positivish warnings:
[code]
[code]
[code]

So far it looks like rule should be altered to not trigger if magic number is inside const constructors and number literals in other const literals.
`DateTime` should be made an exception, since it doesn't have a const constructor and putting every argument in separate const declaration is inconvenient.

[2020-07-10 18:37] dkrutskikh opened #70 "Improve prefer-intl-name"
Check `args` for message with arguments

[2020-07-20 18:06] #41 closed

[2020-07-21 11:17] incendial opened #74 "Improve prefer-conditional-expressions"
We should provide correction to CodeIssue to enable rule quick fix.

[2020-07-21 16:52] #38 closed

[2020-07-23 11:36] Anrock opened #75 "Add small guide on how to create new rules"
* How to use/write visitor
* How to parse per-rule configs (when implemented)
* How to implement BaseRule interface

[2020-07-25 11:35] incendial opened #76 "Improve no-object-declaration type check"
We should migrate type name checking to DartType checking.

[2020-07-25 16:30] #74 closed

[2020-07-28 17:04] incendial opened #80 "Improve member-ordering"
We should add ability to sort members alphabetically inside one group.
Also should add support for Angular view children/content children annotations.

[2020-07-28 18:39] #37 closed

[2020-07-29 09:54] syberside opened #81 "Use OnPush change detection strategy by default"

[2020-07-29 15:57] csepanda commented on #69
I would like to append list of false-positive warning:
[code]

Furthermore, it would be nice to have avoid running of this rule in the test directory.

[2020-07-30 12:19] Anrock commented on #69
@csepanda #89 allows to configure allowed literals and disabling rules per-directory should be handled in #68

[2020-07-31 14:16] #69 closed

[2020-07-31 18:38] #81 closed

[2020-07-31 19:43] #80 closed

[2020-08-01 15:30] incendial opened #92 "[New rule] Component annotation arguments ordering"
**Please describe what the rule should do:**
Enforces ordering for `@Component` Angular annotation arguments. Order should be configurable.
Available options:
* selector
* template(includes templateUrl and template)
* directives (includes directives and directiveTypes)
* pipes
* encapsulation
* styles (includes styles and styleUrls)
* exports (includes exports and exportAs)
* changeDetection
* vis

[2020-08-01 15:30] incendial commented on #92
@Anrock @dkrutskikh what do you think? Do we need this?

[2020-08-01 19:41] dkrutskikh commented on #92
@incendial I think yes! Great idea.

[2020-08-02 11:33] Anrock commented on #92
Not sure, but why not. Some ppl may find it useful.

[2020-08-06 09:02] devforey opened #99 "[Question] Line of codes are not equal to the file's line of code?"
**What do you want to discuss?**
I'm trying to know why the line of code reported by the tool isn't exactly the line of code of the file itself. I assume this is intended but I just need to know the reason behind and how the tool does it technically.

![image](https://user-images.githubusercontent.com/18719783/89512877-6ab6f500-d806-11ea-8777-0f88559dc776.png)
Line of code reported by the tool: **

[2020-08-06 10:33] Anrock commented on #99
@devforey what's the name of a rule triggered on these lines? Could you also copypaste code from screenshot as text here (or pastebin)?

[2020-08-09 23:01] devforey commented on #99
Thanks for the reply! I checked if there are rules being triggered but there weren't rules being triggered for this file.

I just run the code `metrics lib --reporter=html` then opened the HTML for the file.

[2020-08-09 23:03] devforey commented on #99
I'm guessing the `Lines of code` in the reports are the number of lines inside the methods. I also see that it doesn't count empty lines.

It was just confusing. I expected the `Lines of code` in the reports are the file's lines of code.

[2020-08-10 10:10] Anrock commented on #99
Probably we should rename to something like "executable lines of code" or something like that 🤔 @dkrutskikh what do you think?

[2020-08-11 07:39] csepanda opened #106 "Allow to ignore metrics warning"
It would be nice to have `// ignore` support for number-of-methods, number-of-arguments, and other metrics.

Sometimes, metrics provide false-positive warning for cases, when large amount of arguments & methods is necessary. Example of large amount of arguments is Angular DI factory providers, which serves particular technical role, but might require large amount of arguments, because those argume

[2020-08-12 15:17] #68 closed

[2020-08-12 17:58] dkrutskikh commented on #99
@devforey thanks for highlight this problem, at this moment we collect information about executable lines of code

[2020-08-14 17:46] #106 closed

[2020-08-15 13:33] #70 closed

[2020-08-15 16:25] #92 closed

[2020-08-16 14:29] incendial opened #111 "[New rule] Potential null dereference"
**Please describe what the rule should do:**
Check for potential null dereference in conditional expressions and blocks.

**If your rule is inspired by other please provide link to it:**
https://www.viva64.com/en/w/v6008/

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion

[2020-08-16 14:37] incendial opened #112 "[New rule] Then statement is equal to the else statement"
**Please describe what the rule should do:**
Check for equal then and else statements.

**If your rule is inspired by other please provide link to it:**
https://www.viva64.com/en/w/v6004/

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

**P

[2020-08-16 14:45] incendial opened #113 "[New rule] Redundant async"
**Please describe what the rule should do:**
Checks for redundant `async`.
Cases where `async` is useful include:
* You are using `await`.
* You are returning an error asynchronously. `async` and then `throw` is shorter than return `Future.error(...)`.
* You are returning a value and you want it implicitly wrapped in a future. `async` is shorter than `Future.value(...)`.

**What category of rule i

[2020-08-16 14:52] incendial opened #114 "[New rule] Avoid return FutureOr"
**Please describe what the rule should do:**
Warns when return type is `FutureOr<T>`, because end users need to check whether get back a T or a Future<T> before they can do anything useful.

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

*

[2020-08-16 14:57] incendial opened #115 "[New rule] Prefer future void"
**Please describe what the rule should do:**
Warns when return type is `Future` or `Future<Null>` instead of a `Future<void>`.

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about (it w

[2020-08-27 11:05] #99 closed

[2020-09-07 13:38] #60 closed

[2020-09-12 10:12] incendial opened #132 "[New rule] No equal arguments"
**Please describe what the rule should do:**
Check for equal arguments passed to functions or method invocations.

**If your rule is inspired by other please provide link to it:**

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

**Provide 2

[2020-09-12 12:45] andrewst opened #134 "[New rule] avoid export from another package"
**Please describe what the rule should do:**
avoid export from another package
**If your rule is inspired by other please provide link to it:**

**What category of rule is this? (place an "X" next to just one item)**

[ X] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule wil

[2020-09-12 15:09] incendial commented on #134
@andrewst could you explain the motivation behind the rule? It seems valid to reexport code from external packages (allows to hide them from your package users).

[2020-09-14 13:42] andrewst commented on #134
@incendial I think is bad practices, because you can using code from another package, however you has't direct dependence for this package.

[2020-09-15 08:55] andrewst opened #136 "[New rule] avoid named from keywords list"
**Please describe what the rule should do:**
avoid named from keywords list https://dart.dev/guides/language/language-tour#keywords
**If your rule is inspired by other please provide link to it:**

**What category of rule is this? (place an "X" next to just one item)**

[ X] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Other (please spec

[2020-09-15 09:22] incendial commented on #134
@andrewst why would you care about that? All those packages are **external** and their implementation is hidden for you as an end user. It seems strange to disable this flexible ability to reexport.

[2020-09-15 13:55] andrewst commented on #134
@incendial This is just a rule, whether to use it or not is up to you.

[2020-09-29 18:14] #132 closed

[2020-09-29 18:26] #111 closed

[2020-10-12 08:57] Yerik17170 opened #143 "[Question] "--ignore-files" does not work?"
**What do you want to discuss?**
When I use the command line tool, "--ignore-files" does not seem to work. And only the absolute path can be used, the path "/**.dart" cannot be found.
1.
![image](https://user-images.githubusercontent.com/34933160/95726479-92658600-0cab-11eb-854a-d9d6e8004cd9.png)
2.
![image](https://user-images.githubusercontent.com/34933160/95726636-c345bb00-0cab-11eb-9a80-d40de4

[2020-10-14 20:45] dkrutskikh commented on #143
@Yerik17170 please try to run `metrics ./viola_sdk/vendor/ --cyclomatic-complexity=5 --ignore-files="{viola_sdk/vendor/widget/VAPageWidget.dart,viola_sdk/vendor/utils/VAHttpRequestUtil.dart}"`

[2020-10-23 17:22] #143 closed

[2020-10-26 07:56] amorenew opened #145 "Promoting"
It is an awesome tool
I didn't know it is there before so I wonder if you could promote it on the dart linter team or make pull requests to merge it to the main tool?
https://github.com/dart-lang/linter/issues/2302

[2020-11-02 18:19] dkrutskikh opened #146 "[Idea] formalise rule naming"
That's an example! https://github.com/dart-lang/linter/blob/master/doc/WritingLints.MD
https://github.com/dart-lang/sdk/blob/5bac4d9b0cdc12a21d0b9914a3c8c0d9716aa705/pkg/front_end/lib/src/fasta/diagnostics.md#guide-for-writing-diagnostics

[2020-11-02 18:20] dkrutskikh opened #147 "[Idea] write CONTRIBUTING.md"
links
https://github.com/Workiva/over_react/blob/master/tools/analyzer_plugin/README.md

[2020-11-03 16:27] dkrutskikh opened #148 "[Idea] Create a website with the documentation"
http://dart-lang.github.io/linter/lints/
https://workiva.github.io/over_react/analyzer_plugin/

[2020-11-03 17:47] dkrutskikh opened #149 "[New anti-pattern] Large Class"
**Please describe what the rule should do:**

Detect a classes contains many fields/methods/lines of code.

**If your rule is inspired by other please provide link to it:**

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[x] Other (please specify:) anti-pattern

**Pro

[2020-11-04 19:05] incendial commented on #145
@amorenew Hi! Thank you for creating the issue, we are working on promotion for the package right now, but it's not connected with dart `linter` package. But your idea for making a list of popular plugins is great (it may also help others to develop new plugins).
As for merging into the main tool - this tools also has anti-patterns check which we want to develop and our approach with rules is a bi

[2020-11-04 19:39] amorenew commented on #145
Cool, I will close it for now till you got time to promote it.

[2020-11-04 19:39] #145 closed

[2020-11-05 05:14] dkrutskikh opened #151 "[New rule] validate settings"
**Please describe what the rule should do:**

Validate settings block in analysis_options.yaml

**If your rule is inspired by other please provide link to it:**

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[X] Other (please specify:) Warns about problems in plugin

[2020-11-06 18:42] incendial opened #152 "[New rule] Prefer trailing comma"
**Please describe what the rule should do:**
Should check for trailing comma for arguments, parameters, enum values and collections.
By default should warn in cases when items aren't on a single line.
Additionally should accept items count breakpoint config. For example, if breakpoint count is equal 2, then the rule should warn when items count is greater than or equal to the count or items aren't

[2020-11-09 12:17] #152 closed

[2020-11-09 17:35] incendial opened #154 "Refactor existing tests to resolveFile approach"
Migrate current approach with strings in tests to separate dart files with examples. It will improve maintainability and readability of our tests.

[2020-11-09 18:13] #76 closed

[2020-11-10 09:29] Mahakon opened #155 "[Rule change] Add rules for static field/method in member ordering rule"
Add rules for static field/method in member-ordering rule

**What rule do you want to change?**
member-ordering

**How will the change be implemented? (New option, new default behavior, etc.)?**
new option, just we will be able to make order for static methods/fields too

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

[2020-11-10 09:56] Mahakon opened #156 "[New rule] avoid void arrow function"
For dart code is better to avoid use void arrow function, for several reasons:

- after compilation ```return``` is added to such function:
[code]
[code]

- if in such function we add more action in git diff it looks better

**Please describe what the rule should do:**
it will ask not to use void arrow function

**If your rule is inspired by other please provide link to it:**
-

**What category of

[2020-11-12 04:17] dkrutskikh opened #157 "[New metric] ATFD"
See: Lanza. Object-Oriented Metrics in Practice. Page 18.

[2020-11-12 04:20] dkrutskikh opened #158 "[New metric] WMC"
See: Lanza. Object-Oriented Metrics in Practice. Page 16.

[2020-11-12 04:21] dkrutskikh opened #159 "[New metric] TCC"
See: Lanza. Object-Oriented Metrics in Practice. Page 17.

[2020-11-12 04:23] dkrutskikh opened #160 "[New anti pattern] God Class"
The God Class Rule detects the God Class design flaw using metrics. A god class does too many things, is very big and complex. It should be split apart to be more object-oriented. The rule uses the detection strategy described in [1]. The violations are reported against the entire class.

[1] Lanza. Object-Oriented Metrics in Practice. Page 80.

#157 #158 #159

[2020-11-16 16:54] MattisBrizard commented on #152
Hi, Thanks for this work.

Do you know when the 2.2.0 with the prefer-trailing-comma feature will be published on pub ?

cc @dkrutskikh

[2020-11-16 20:45] incendial opened #161 "[New rule] Avoid unused parameters"
**Please describe what the rule should do:**
Should check for unused parameters in function or method body.

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about (it will be better if yo

[2020-11-17 18:38] incendial commented on #152
@MattisBrizard Hi, we just published 2.2.0 on pub.

[2020-11-21 13:36] incendial commented on #146
Other naming examples:
* https://eslint.org/docs/rules/
* https://palantir.github.io/tslint/rules/
* https://dart-lang.github.io/linter/lints/

[2020-11-21 13:49] incendial opened #162 "[New rule] Prefer entry point imports"
**Please describe what the rule should do:**
Should check that libraries in `lib/src` are imported from entry point exports in the same package.

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule wil

[2020-12-08 11:06] akvus opened #172 "[Question] Analyzer version update"
Is update to latest analyzer version possible? Currently, there are conflicts with other dependencies when using the 2.3.0 version of dart-code-metrics.

[2020-12-08 18:17] dkrutskikh commented on #172
@akvus which version of analyzer do you need?

[2020-12-10 03:31] masashi-sutou commented on #172
- I have the same problem.
- I use flutter stable 1.22.4.

[code]

[2020-12-11 08:52] #172 closed

[2020-12-11 17:16] dkrutskikh commented on #172
@akvus , @masashi-sutou try to use 2.3.1 version

[2020-12-12 08:52] zgosalvez opened #175 "How are you using this with codeclimate?"
**What do you want to discuss?**

@dkrutskikh, I noticed that you recently updated the reporter. I want to integrate this with the Code Climate Engine but the Code Climate CLI is throwing an exception when using the codeclimate reporter. You can see the exact error in my PR draft here wrike/codeclimate-dart/pull/2 and from my fork here zgosalvez/codeclimate-dart/pull/1.

[2020-12-24 16:45] dkrutskikh commented on #175
@zgosalvez I was publish 2.3.2 version with codeclimate report fixes

[2020-12-24 23:33] #175 closed

[2020-12-24 23:34] zgosalvez commented on #175
Thanks @dkrutskikh

[2020-12-26 21:27] zmeggyesi opened #183 "[BUG] Mismatch in `ignore` rule application"
While adapting a fork of the plugin to my own use, I discovered a potential inconsistency in the parsing/application of ignore rules, stemming from the fact that when constructing the rule cache, the rules are canonicalized by trimming and lowercasing, but are searched verbatim when the rules are being applied during analysis.

[2020-12-27 16:10] #183 closed

[2020-12-28 17:37] #75 closed

[2020-12-29 12:53] #161 closed

[2021-01-02 23:29] bbugh opened #195 "[BUG] Provide documentation for how to use auto fixes"
**What do you want to discuss?**

Hi! 👋 Thank you for the wonderful additions to the analyzer, some of these are so useful! Much appreciated.

Many of the rules suggest that they support auto fixes, but there's nothing in the documentation about how to use them.

As far as I can tell, [dartanalyzer doesn't support auto fix](https://github.com/dart-lang/sdk/issues/33358) which is a couple of years

[2021-01-03 14:36] incendial commented on #195
@bbugh hi, thank you very much for the feedback, it's great to hear that!

As for auto fixes, currently they are supported only in a IDE context menu. We will add some

Apparently dart now has `dart fix` command which is not listed [in the commands docs](https://github.com/dart-lang/sdk/tree/b0efb3738f9f5e34441fc43979c4401ff11a1eea/pkg/dartdev). I've made a little research and it seems that it cov

[2021-01-03 14:59] bbugh commented on #195
Thanks for the reply! Command line would be useful for pre-commit hooks and CI, but in this case auto fix in the editor (VS Code) would be a big enough win I think.

[2021-01-03 15:04] bbugh commented on #195
Auto fix when auto format is on when saving, that is!

[2021-01-03 18:32] incendial commented on #195
Unfortunately, i don't see a way to do that with the API that we use, which is provided by the dart analysis server (which is then used by VS Code extension).
I think that the most automatic way that we can implement without a huge amount of work is to add fix command to CLI.

[2021-01-03 19:37] bbugh commented on #195
Got it, thanks for explaining. The dart tooling has some oddities for sure!

I think it would be helpful to add to the documentation the way to use the auto fixes. I have it installed as a dev dependency and the warnings showed up but I could my find a way to do any fixing, command line or editor.

[2021-01-20 00:09] btd1337 opened #206 "[Question] How to use It with Gitlab CI + Codeclimate"
Hi @srvc-wrikegithub,

Firstly, congratulations on this great job.

I have one question to you:

How use this with `Flutter` + `Gitlab CI` + `Codeclimate`?

I follow [this tutorial](https://docs.gitlab.com/ee/user/project/merge_requests/code_quality.html) but It's won't works for me.

[2021-01-30 20:57] ovestoerholt opened #208 "[Question] Would it be possible to change dependency for args?"
**What do you want to discuss?**
If you could change dependency for args package from 1.44 to 2.0.0-nullsafety this library could be used with Flutter 1.25 and beyound with null safety suppor.
Possible?

[2021-02-07 11:00] #162 closed

[2021-02-08 03:48] #195 closed

[2021-02-10 18:36] skumar-code-design opened #210 "[BUG] CSS files not generated for a report html file"
* **Dart code metrics version: 2.4.0**
* **Dart sdk version: 2.12.0 (build 2.12.0-259.8.beta)**

**Please show your full configuration:**
<details>
<summary>Configuration</summary>
analyzer:
  exclude:
    - build/**
    - test/**
  plugins:
    - dart_code_metrics

  dart_code_metrics:
    anti-patterns:
      - long-method
      - long-parameter-list
    metrics:
      cyclomatic-complexity: 20

[2021-02-14 22:20] fredgrott opened #211 "can we get a directory parameter?"
what would be nice is a way to set our own directory for where the reports get written to

I enjoy using this plugin. keep up the good work.

[2021-02-21 10:23] spydon opened #212 "[Question] ignore_for_files: code-metrics"
**What do you want to discuss?**
Is it possible to ignore the metrics for one file, but not exclude the rules?
I have tried to put the following in the top of the file:
[code]
and for specific metrics:
[code]
But it still reports the the metrics for that file.

Is `ignore_for_files` not supported?

[2021-02-21 22:07] spydon commented on #212
I realized that
[code]
will exclude the file/directory for metrics but not rules, so that solves my problem.

[2021-02-21 22:07] #212 closed

[2021-02-24 06:43] roman-petrov opened #213 "[Question] Ignore files in Visual Studio Code?"
Is there any way to ignore files in Visual Studio Code?

`ignore-files` option takes no effect in my project / environment. Should this option affect warnings displayed in Visual Studio Code, or it works only from command line analysis?..

[2021-02-26 16:52] luanpotter opened #214 "[BUG] `required` keyword is not understood"
* **Dart code metrics version:** 2.4.0
* **Dart sdk version:** 2.12.0-259.16.beta

<details>
<summary>Configuration</summary>

[code]

</details>

Before null-safety, we had the `@required` annotation; now that has been replaced by the `required` keyword.

However dart_code_metrics seem to not understand it; take this perfectly formatted trailing comma code:

[code]

**What did you expect to happe

[2021-02-28 10:20] incendial commented on #214
@luanpotter Hi, thank you for submitting the issue. Right now we are not supporting null-safety and, unfortunately, we blocked by analyzer_plugin package, that is used to connect to analysis server. But migration is on our roadmap.

[2021-02-28 11:51] incendial commented on #213
@roman-petrov Hi, `ignore-files` flag is for CLI only, if you want to exclude files for analysis in an IDE, you can use setup `exclude` or `metrics-exclude` in a `analysis_options.yaml`, like:

[code]

[2021-02-28 13:21] incendial commented on #211
@fredgrott hi, sorry for the long response, what report type are you talking about, html?

[2021-02-28 13:26] incendial commented on #208
@ovestoerholt hi, sorry for the long response, it seems that changing `args` package version will require dart 2.12 and migrating dart-code-metrics to null safety too. But currently we blocked by analyzer_plugin package, that is used to connect to analysis server.

[2021-02-28 13:28] incendial commented on #210
@skumar-code-design hi, thank you for submitting the issue and sorry for the long response. I will take a look at it.

[2021-02-28 21:49] fredgrott commented on #211
Yes html, please thanks

[2021-03-01 06:36] roman-petrov commented on #213
Dmitry, thank you! I figured this out so I am closing the issue.

[2021-03-01 06:36] #213 closed

[2021-03-05 08:17] mrRedSun opened #215 "[BUG] Plugin removes default errors and warnings from Dart analyzer"
* **Dart code metrics version:** 2.4.0
* **Dart sdk version:** 2.10.5 (stable)
* **OS: MacOs**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you expect to happen?**
New issues from the plugin would be added alongside issues from the Dart analyzer
**What actually happened?**
Only issues from the plugin are shown

[2021-03-08 12:02] incendial commented on #215
@mrRedSun hi! What IDE are you using? When issues from the Dart analyzer disappear, after reload?

[2021-03-08 12:13] incendial opened #216 "Null safety migration"
Release v3.0.0 checklist
- [x] migrate analyzer_plugin package (or wait until[ it will be migrated](https://github.com/dart-lang/sdk/issues/45236))
- [x] migrate the package
- [x] publish the package
- [x] rework json reporter (completely new report format)
- [x] merge code_checker
- [ ] ~~drop support for angular rules (?)~~
- [x] rework public api
  - [x] unify `exclude` and `ignore-files` argum

[2021-03-09 07:27] mrRedSun commented on #215
I'm using VSCode, I see the same picture on every restart, it first shows my issues from the Dart analyzer, and then they all disappear and issues from metrics start appearing

[2021-03-09 10:53] incendial commented on #215
Hm, strange. They recently added lsp mode for the analyzer, can you please check `Preview LSP` dart setting in VSCode?

[2021-03-10 04:12] dkrutskikh commented on #216
@fredgrott I think yes. Our goal support latest Flutter and Dart versions.

[2021-03-11 02:58] #210 closed

[2021-03-11 07:23] mrRedSun commented on #215
I tried with Preview LSP on and off, didn't have an effect

[2021-03-12 20:30] fredgrott commented on #206
I found the answer for you! You need to follow the codeclimate-dart directions from wrike at here:
https://github.com/wrike/codeclimate-dart

as it wraps dart code metrics so that codeclimate can understand it and process the results

[2021-03-13 10:09] #211 closed

[2021-03-13 10:54] dkrutskikh commented on #211
@fredgrott we publish new version, can you try it out?

[2021-03-13 10:55] dkrutskikh commented on #210
@skumar-code-design we publish version 2.4.1, can you try it out?

[2021-03-13 17:21] GroovinChip opened #220 "[BUG] Using code metrics in analysis_options.yaml results in external libraries being analyzed"
* **Dart code metrics version:**
2.4.1
* **Dart sdk version:**
2.7.0 in project, 2.12.0 globally

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]
</details>

**What did you do? Please include the source code example causing the issue.**

I configured my `analysis_options.yaml` file as listed in the configuration section of this issue

**What did you exp

[2021-03-13 18:24] incendial commented on #220
@GroovinChip hi! Could you please share the pubspec.yaml too? Have you tried to run CLI and check will it also analyze external packages? If you could share a minimal example where we can reproduce the problem - that would be very helpful.

[2021-03-13 18:28] GroovinChip commented on #220
Hi @incendial thanks for responding! Here's my pubspec.yaml:
[code]
I have run the CLI and can confirm that it does not analyze external packages. I'll try to get a minimal reproducible example to you shortly.

[2021-03-13 18:44] GroovinChip commented on #220
Here's the [example](https://github.com/GroovinChip/code_metrics_bug), although the bug is not appearing there even though the analysis_options.yaml is identical, and a few packages that are being analyzed in my actual app are imported too. The repo for the full app that does have the bug is https://github.com/GroovinChip/CallManager.

[2021-03-13 19:16] incendial commented on #220
@GroovinChip thanks for the example, sad that the problem is not appearing there. I will take a closer look.

Do you have a single pubspec and a single analysis_options files?

[2021-03-13 19:24] GroovinChip commented on #220
Yes, a single pubspec and a single analysis_options.yaml in both repos

[2021-03-13 19:29] incendial commented on #220
I was able to reproduce the bug on the https://github.com/GroovinChip/CallManager, thank you

[2021-03-13 19:31] GroovinChip commented on #220
Great! Do you have any thoughts on what the problem might be?

[2021-03-13 19:38] incendial commented on #220
Sorry, at first I though that I got it, but I was wrong. Although I am using VSCode and maybe should switch to WebStorm for better changes.

[2021-03-13 19:42] GroovinChip commented on #220
Ah ok. Yeah, I'm using Android Studio. I haven't tried to see if VS Code has the same problem. I'm AFK for a while but I can check when I'm back at the computer.

[2021-03-13 20:05] incendial commented on #220
Sure, switching to Android Studio didn't work for me, no external packages analysis.

Could you please open "View analyzer diagnostics" and check the Plugins tab? You should have only a single plugin instance and version.
<img width="455" alt="Screenshot 2021-03-13 at 22 58 55" src="https://user-images.githubusercontent.com/21116742/111042813-42544080-8450-11eb-984f-6cbc4e77de31.png">

[2021-03-13 20:32] GroovinChip commented on #220
Sure, here's the output from the Plugins tab:
[code]

[2021-03-13 20:57] GroovinChip commented on #220
Can confirm the issue occurs in VSCode too
<img width="1173" alt="Screen Shot 2021-03-13 at 3 57 43 PM" src="https://user-images.githubusercontent.com/4250470/111044170-d99ba280-8414-11eb-9a3f-b2f004734e0b.png">

[2021-03-13 21:08] incendial commented on #220
Of course! We don't ignore this installed plugins and they appear only after build (thats why I was not able to reproduce it). We should probably add ignores for them. Could you try to add exclude for the ios folder? That should work:
[code]

[2021-03-13 22:13] GroovinChip commented on #220
Trying this now

[2021-03-13 22:15] GroovinChip commented on #220
This did the trick! Thank you!

[2021-03-13 22:15] #220 closed

[2021-03-14 07:57] incendial commented on #220
Great! Sorry for that long debugging journey, I should probably checked generated folders first.

[2021-03-14 08:08] incendial commented on #215
I have tried to reproduce the problem, but with provided analysis_options config it works for me as expected.

It would be very helpful if you could create an example where the issue could be reproduced.

[2021-03-14 08:36] mrRedSun commented on #215
CLI worked as expected.
I just created the scratch project and it worked fine there, also the previous project works fine as well, it seems that the issues are VSCode and not plugin related.
Sorry for the confusion and waste of your time, closing the issue.

[2021-03-14 08:36] #215 closed

[2021-03-14 09:21] incendial commented on #215
No problem, please let me know if the issue will appear again.

[2021-03-22 19:29] GroovinChip commented on #216
Hi everyone, is there any movement on this?

[2021-03-30 17:39] fredgrott opened #237 "update to crypto 3.0 to match integration-test driver?"
cannot use as you are still on crypto 2.0.x when test driver is crypto 3.0.x here is my pub output:

Because dart_code_metrics >=1.6.0 depends on crypto ^2.0.6 and every version of flutter_driver from sdk depends on crypto 3.0.0, dart_code_metrics >=1.6.0 is incompatible with flutter_driver from sdk.

And because integration_test 1.0.2+2 depends on flutter_driver any from sdk and no versions of in

[2021-04-02 16:08] GroovinChip commented on #216
FYI, the `source_span`  dependency conflicts with the version in `flutter_test`:

[code]

This is when I target `dart_code_metrics` from git like so:
[code]

[2021-04-02 16:22] incendial commented on #216
@GroovinChip thanks! That was an unexpected version pin, to be honest. I have downgraded the version constraints.

[2021-04-02 16:23] GroovinChip commented on #216
Sure thing! I'll try it out soon let you know how it goes.

[2021-04-02 16:28] GroovinChip commented on #216
Okay, `flutter pub get` works now. Thank you!

[2021-04-02 16:39] GroovinChip opened #242 "[Question] Clarification on `member_ordering` configuration"
A `member_ordering` configuration with constructors declared before public fields seems to be incorrectly warning that public fields should be before constructors. Is this correct behavior or a bug?

Configuration in `analysis_options.yaml`:
[code]
Screenshot of warning:
<img width="444" alt="Screen Shot 2021-04-02 at 12 36 36 PM" src="https://user-images.githubusercontent.com/4250470/113435065-19

[2021-04-02 16:52] incendial commented on #242
@GroovinChip looks like a bug to me, but is it a full rule config? And can you share a full content of the file? Also is it a correct screenshot, because it should not warn about methods for that case?

[2021-04-02 16:54] GroovinChip commented on #242
No, it's not a full rule config. The way I understood the [docs](https://github.com/dart-code-checker/dart-code-metrics/blob/master/doc/rules/member_ordering.md) was that I could choose specific ordering rules and anything not specified would fall under the default ordering rule.

Here's the full file:
[code]

[2021-04-02 17:10] incendial commented on #242
Sorry, I meant the dart file content.

Thats correct. But the error still looks strange, because methods are not mentioned in the config at all.

[2021-04-02 17:20] incendial commented on #242
Right now we don't support auto config update applying, analysis server (or simply IDE) should be reloaded after config change. Can that be the issue for your case?

[2021-04-02 17:42] GroovinChip commented on #242
Oh, sorry about that, here it is:
[code]

I guess it's possible, I didn't realize the analysis server needed to be restarted after changing my `dart_code_metrics` configuration. I restarted the server while typing this and it's taking ages - it's been pretty slow lately in general.

[2021-04-02 18:02] incendial commented on #242
We have a task to change the plugin to automatically update config after config file is changed and hopefully will take it soon.

All wrong ones or just all?

[2021-04-02 18:03] GroovinChip commented on #242
I mean the analyzer is working but now there are no warnings related to `dart_code_metrics` at all.

[2021-04-02 18:16] incendial commented on #242
Hm, that's strange... I've cloned you repo and tested it with null safety metrics version, all works fine and event member ordering issues are shown.

If you try to run cli `pub run dart_code_metrics:metrics lib`, will it display member_ordering issues?

[2021-04-02 18:19] GroovinChip commented on #242
Doing `flutter pub run dart_code_metrics:metrics lib` does nothing, actually. No output on the console. Maybe I need to update the global package.

[2021-04-02 18:33] incendial commented on #242
Okey, I see it now. Your config should look like:
[code]

[2021-04-02 18:37] GroovinChip commented on #242
The tool is telling me that's not correct syntax 🤔

[2021-04-02 18:41] GroovinChip commented on #242
Okay, things are working as expected now. Thank you for clearing this up!

[2021-04-02 18:41] #242 closed

[2021-04-02 18:45] incendial commented on #242
No problem, thanks for the great feedback. I've added a task to make config examples more clear.

[2021-04-03 19:54] GroovinChip opened #246 "[Question] What is the proper usage of the GitHub reporter?"
[This page](https://github.com/dart-code-checker/dart-code-metrics/blob/master/doc/reporters/github-reporter.md) doesn't make it very clear how one might use the GitHub reporter in an Action. What is the proper usage?

[2021-04-04 14:30] incendial commented on #246
@dkrutskikh could you please help with that?

@GroovinChip AFAIK, we have it enabled and that is all config that I see right now https://github.com/dart-code-checker/dart-code-metrics/blob/master/.github/workflows/build.yaml#L33.

[2021-04-04 15:55] dkrutskikh commented on #246
@GroovinChip after finish work on null-safety stable release. We start works on Github action. At this time it's simple report whose report only about issues.

[2021-04-04 16:00] GroovinChip commented on #246
That's fine, I'm just unsure of how to use it at all. When I select it as the reporter using the CLI, the output doesn't seem to be recorded anywhere but the console. And the docs weren't clear either.

Looking forward to actions improvements after null safety is released :) thanks!

[2021-04-05 15:40] incendial commented on #155
Will be closed by #245 with a separate rule for now.

[2021-04-06 06:34] #155 closed

[2021-04-06 14:31] incendial commented on #216
Prerelease version is now available on Pub, here is [the link](https://pub.dev/packages/dart_code_metrics/versions/3.0.0-nullsafety.1).

[2021-04-06 15:21] GroovinChip commented on #216
https://twitter.com/GroovinChip/status/1379440194710036482?s=19

😁

[2021-04-07 09:03] psrcek commented on #216
I get the following trying to use the prerelease version:

[code]

I have flutter_driver included like this in my pubspec:
[code]

I'm using flutter version `2.0.4`

[2021-04-07 10:25] dkrutskikh commented on #216
@psrcek thank you for feedback. I'll release new version with fix of your problem in a couple of hours.

[2021-04-07 13:53] GroovinChip opened #253 "[Bug] Using code_metrics for a plugin that has an example app causes the Dart analysis server not to pickup on metrics analysis"
At work, I develop and maintain a Flutter plugin and I added code metrics to it yesterday. I configured it as I normally do. However, metrics analysis doesn't show up in Android Studio's analyzer tab, and when I view the diagnostics it shows errors because of the example. So I tried two things, and while they solved the error, neither results in the metrics being shown in the ide:
1) Have the anal

[2021-04-07 14:01] incendial commented on #253
@GroovinChip ah, here we go again! 😄

Have you tried open it in VS Code or it's not possible? And could u please do the same steps, that we covered [here](https://github.com/dart-code-checker/dart-code-metrics/issues/220#issuecomment-798777378)?

[2021-04-07 14:05] incendial commented on #253
If VS Code will work fine, then I will start debugging from Android Studio right away.

[2021-04-07 14:06] GroovinChip commented on #253
Here we go again indeed! 😅

I actually already made sure to exclude the iOS folder, and I made sure that my member ordering rule has the correct indentation. VS code is also not showing any metrics. I think it's because the plugin isn't running. The analysis server diagnostics say that it cannot resolve code metrics for the example app, and so it is not running, which prompted me to file this 😅

[2021-04-07 14:30] incendial commented on #253
No problem, let's try to make it work!

Do I understand you correctly, that:
1. It works fine for all other code except the example directory and everything inside?
2. You have two `pubspec` and two `analysis_options` files (for the project and for the example) and they are both configured in the same way?

And I have some additional questions:
1. What type of diagnostic errors you see in the exam

[2021-04-07 14:35] GroovinChip commented on #253
No, it doesn't work at all, and the diagnostics say that it's because it cannot resolve the code metrics package at the example's path.

This is indeed something I tried, and while it resolved the diagnostics error, metrics were still not appearing at all. So I rolled back to only using it in the plugin.

None

The cli has worked the whole time, but the dart analysis server in IDE's is not picking

[2021-04-07 14:40] incendial commented on #253
Hmm, that's look very interesting then...

So, now you have two pubspecs and the root one is depending on a dart_code_metrics, right?

Great, that cli works, it means that files are parsed correctly and it's not an issue with the analyzer itself. Could you please double check that you passed the `plugin` config to the analysis_options?

[2021-04-07 15:05] GroovinChip commented on #253
Yes, two pubspecs - the plugin pubspec and the example app pubspec, and code metrics is a dev dependency in the plugin pubspec.

Yes, the plugin analysis_options.yaml is configured this way.

I'll try this and report back.

[2021-04-07 15:08] GroovinChip commented on #253
Update: deleting the example resolves the error shown previously in the analysis server diagnostics, but metrics are still to appearing in the ide after a restart.

[2021-04-07 15:11] GroovinChip commented on #253
Update: after invalidating caches and restarting, the analysis server diagnostics say code metrics is not running for an unknown reason

[2021-04-07 15:20] GroovinChip commented on #253
Here's a picture of the log. I'd paste it, but again, GitHub is blocked (don't ask lol)

![image](https://user-images.githubusercontent.com/4250470/113891505-23b54100-9793-11eb-886f-211407c92e60.jpeg)

[2021-04-07 15:24] GroovinChip commented on #253
And here's what shows above the log
![image](https://user-images.githubusercontent.com/4250470/113892254-d4bbdb80-9793-11eb-89a1-ab04c7136697.jpeg)

[2021-04-07 15:24] incendial commented on #253
Hm, I think I need some time to think about this...

If you will be able to create an example where the issue can be reproduced - it will be very very helpful.

[2021-04-07 15:26] GroovinChip commented on #253
I'll see if I can recreate this on my personal computer. Should I update this to be a bug issue? I filed it as a question because I wasn't sure if it was user error or not.

[2021-04-07 15:33] incendial commented on #253
Yeah, looks like a bug to me... Is it a full stacktrace or there is more? if yes, can u share a full log?

[2021-04-07 15:35] GroovinChip commented on #253
OK, I'll update the issue. Hm, I thought I had captured the full log but there are actually about 20 more lines. Stand by for the rest.

[2021-04-07 15:38] GroovinChip commented on #253
Rest of the log
![image](https://user-images.githubusercontent.com/4250470/113894111-b060fe80-9795-11eb-935a-48f1f623ceec.jpeg)

[2021-04-07 15:51] incendial commented on #253
Thanks!

[2021-04-07 15:53] GroovinChip commented on #253
Issue reproduced here: https://github.com/GroovinChip/code_metrics_repro1

Logs are in the readme

Oddly, the creation of this project has resulted in #220 reappearing in that same project O_O

[2021-04-07 16:55] m-Skolnick opened #254 "[Question] Use as part of sub-package"
I am trying to use `dart_code_metrics` in my analyzer package which I have as a sub-package to my main project.

Is this possible?

VSCode does not seem to pick up the additional rules unless I put it in my `main_package/analysis_options.yaml`.

My project structure is as follows:

main_package/
- pubspec.yaml
- analysis_options.yaml
- packages / my_analysis_package

I then include the analysis op

[2021-04-07 17:09] GroovinChip commented on #253
@incendial Restarting the analyzer seems to resolve #220 again for that project

[2021-04-07 17:52] dkrutskikh commented on #254
@m-Skolnick please provide version of `dart_code_metrics`

[2021-04-07 17:59] m-Skolnick commented on #254
I have only tried with 2.4.1.

[2021-04-07 18:11] incendial commented on #253
@GroovinChip some updates from my side - 2.4.1 version works as expected, although there is also this error with `Could not resolve ...`, so, it seems like it's not the main reason.

And if I try to update the version to null safety, then plugin seems to work fine, but no issues in IDE.

[2021-04-07 18:26] GroovinChip commented on #253
Strange. I did try and downgrade to 2.4.1 (not in the repro) but couldn't due to dependency conflicts, so I can't say if that would work for me or not, but since you still got the error anyway it probably wouldn't work.

[2021-04-08 07:09] incendial commented on #253
@GroovinChip update - we finally found the problem, actually two problems 😄 . First one is connected with our migration -  analysis options file was not located correctly which resulted in that strange behaviour where the plugin was working correctly, but no files were processed. Second one is about `analyzer_plugin` package migration, there is a problem with types and I will create an issue.

[2021-04-08 07:11] incendial commented on #253
Hope, we will be able to fix it soon.

[2021-04-08 07:28] incendial commented on #254
@dkrutskikh Am I correct, that we don't support `include` syntax? It seems like a decent feature and I think we should add it.

[2021-04-08 07:57] incendial commented on #254
Nope, I was wrong, we even have tests for it.

@m-Skolnick could you please share a reproducible example?

[2021-04-08 11:28] psrcek commented on #216
I don't see the new version on pub.dev yet :smile: Maybe you forgot to release it? `3.0.0-nullsafety.1` still includes the issue.

[2021-04-08 11:36] incendial commented on #216
@psrcek sorry for the delay, but we found a critical issue with the plugin bootstrapping, so, if you want to use it as a plugin to the analyzer and see issues in IDE - it will not work yet, details can be found [here](https://github.com/dart-code-checker/dart-code-metrics/issues/253#issuecomment-815510423).

[2021-04-08 15:26] incendial commented on #254
Thank you, I will take a look.

[2021-04-08 16:13] incendial commented on #254
Looks like `include` works fine, the problem is with the plugin discoverability:
[code]

If you add `dart_code_metrics` dependency to a sub package, then a root package analysis_options.yaml `include` will lead to a plugin manager trying to find `dart_code_metrics` for the root package.

In other words I see two quick solutions here:
1. put the config in `main_package/analysis_options.yaml` and ha

[2021-04-08 17:33] m-Skolnick commented on #254
@incendial Thank you for looking into that! I want to be able to use the same analysis standards in multiple packages, so your solution #2 sounds like a good work-around for now!

For anyone with the same issue, you just need to add the `dart_code_metrics` dependency wherever you use the analysis package.

For example:

[code]

Thanks for your help!

[2021-04-08 17:33] #254 closed

[2021-04-08 17:39] incendial commented on #254
Great! Thank you for the example, it was very helpful!

[2021-04-09 00:53] GroovinChip commented on #253
@incendial using #255 results in the following diagnostics:
[code]

[2021-04-09 06:18] incendial commented on #253
@GroovinChip yeah, that is actually the first problem I was talking about. Should be resolved after updating dependency constraints here #259

[2021-04-09 07:16] incendial commented on #146
Python: https://www.flake8rules.com/

[2021-04-09 10:11] dkrutskikh commented on #253
@GroovinChip try to use 3.0.0-nullsafety.2 version

[2021-04-09 10:11] dkrutskikh commented on #216
@psrcek we publish 3.0.0-nullsafety.2 version

[2021-04-09 10:29] incendial commented on #253
The error with `Could not resolve` will still remain, but all issues should be now visible in IDE.

[2021-04-09 12:59] GroovinChip commented on #253
@dkrutskikh This seems to do the trick for now, thanks. Fingers crossed it stays that way!

[2021-04-09 20:54] erickzanardo opened #262 "[BUG] LSP plugin on vim gets crazy when dart-code-metrics is used"
Hello,

We have been using `dart-code-metrics` on [Flame](https://github.com/flame-engine/flame) from some time and I have noticed that when the plugin is configured on the `analysis_options.yml`, the analyzer starts to get "crazy" and point really strange errors, like this one:

![dart-code-metrics](https://user-images.githubusercontent.com/835641/114237991-42b1ff80-995a-11eb-84af-99555718a5c3.pn

[2021-04-09 20:57] christopherfujino commented on #262
I can reproduce this (with the latest flame repo) with the coc.nvim plugin configured as such:

[code]

[2021-04-09 21:08] luanpotter commented on #262
I can confirm I also saw the same issue on VSCode (on the flame repo), using the standard Dart and Flutter plugins. I thought it was something wrong with vscode at first and didn't bother much (a simple restart fixes it), but it has the same effect as it seems the underlying dart/flutter compiler is getting jumbled code to parse that does not match what is on the editor.

[2021-04-10 09:37] incendial commented on #262
Hi! That looks very strange, firstly because we don't perform those checks that you shown, they are performed by the analyzer itself.

I've never used nvim and decided to run some checks in VS Code. Here is the result:
1. Before `3.0.0-nullsafety.2` we had a bug with the plugin bootstrapping and basically it was not even subscribed to file analysis at all. So that means that the plugin was not sen

[2021-04-10 15:15] incendial commented on #216
Stable null safety release is now available [on pub](https://pub.dev/packages/dart_code_metrics)! 🎉

[2021-04-10 15:15] #216 closed

[2021-04-10 15:16] incendial commented on #208
@ovestoerholt hi, we finally release a stable null safety version where this problem was resolve. Please take a look if you still interested!

[2021-04-10 15:16] #208 closed

[2021-04-10 15:17] incendial commented on #237
@fredgrott hi, we finally released a stable null safety version where this problem was resolved. Please take a look if you still interested!

[2021-04-10 15:17] #237 closed

[2021-04-10 15:18] incendial commented on #214
Closing this due to a stable null safety release where this problem was resolved.

[2021-04-10 15:18] #214 closed

[2021-04-10 15:28] incendial commented on #253
Seems like we resolved the main problem with the plugin bootstrapping and the problem with `Could not resolve...` for a sub package is discussed [here](https://github.com/dart-code-checker/dart-code-metrics/issues/254#issuecomment-816008920) and have a decent work-around, so I'm closing this for now.

[2021-04-10 15:28] #253 closed

[2021-04-10 15:31] ovestoerholt commented on #208
Perfect! Super thanks! 😊

[2021-04-10 15:41] incendial commented on #156
We decided not to implement it due to a small impact and potential usage.

[2021-04-10 15:41] #156 closed

[2021-04-10 15:41] incendial commented on #136
We decided not to implement it due to a small impact and potential usage.

[2021-04-10 15:41] #136 closed

[2021-04-14 05:31] SebastianKlaiber opened #265 "Is there a way to exclude plugins from the checks?"
If I add dart_code_metrics with the following rules, then I also see the violations in the used packages. Is there a way to avoid this behavior?

[code]

<img width="1571" alt="Screenshot 2021-04-14 at 07 29 08" src="https://user-images.githubusercontent.com/59142/114659076-34196e80-9cf3-11eb-860e-be607e454d83.png">

[2021-04-14 06:27] dkrutskikh commented on #265
@SebastianKlaiber you can exclude folder with plugins in analysis_options.yaml

[code]

[2021-04-14 06:35] nikitadol commented on #265
It works
[code]

[2021-04-14 06:39] SebastianKlaiber commented on #265
Thank you

[2021-04-14 06:39] #265 closed

[2021-04-14 07:14] nikitadol opened #266 "no-boolean-literal-compare should only work with bool type"
* **Dart code metrics version:** 3.0.0
* **Dart sdk version:** 2.12.2 (stable) (Wed Mar 17 10:30:20 2021 +0100) on "macos_x64"

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**
If no parameter is specified, then the `push` method returns `dynamic`

[code]

**What

[2021-04-14 07:42] dkrutskikh commented on #266
@nikitadol thank you for feedback. I will try to fix this issue in upcoming release

[2021-04-14 17:42] DanTup commented on #262
If anyone can repro the issue with server/client appearing to be out of sync in VS Code, I'd definitely be interested in steps.

You can also run the **Dart: Open Analyzer Diagnostics** command in the VS Code command palette to access the overlay info (click Context, then find the file and click the "Contents" link) - this shows what the server thinks the file looks like:

<img width="989" alt="Sc

[2021-04-15 08:34] roman-petrov opened #267 "[BUG] Web link to rule details provided by IDE does not work"
* **Dart code metrics version:** 3.0.0
* **Dart sdk version:** 2.13.0-219.0.dev (dev) (Thu Apr 8 11:44:31 2021 -0700) on "windows_x64"

I am using Visual Studio with `dart-code-metrics`. When I click to a rule link provided by the plugin in tooltip (or problems panel)

![image](https://user-images.githubusercontent.com/18419515/114839434-6e136f00-9dde-11eb-8f5f-7ca6514a8411.png)

I am getting 404

[2021-04-15 08:37] dkrutskikh commented on #267
@roman-petrov thank you for feedback. This issues will be fix in nearest version

[2021-04-15 08:50] roman-petrov commented on #267
@dkrutskikh thank you for great support!

[2021-04-15 11:25] roman-petrov opened #268 "[BUG] Problem with excluding files from analysis in VSCode (only for Windows)"
I am trying to set up `dart_code_metrics` and Visual Studio Code. Everything works fine from command line but not in IDE.

Here is a very simple project I created to reproduce the issue:
[test_app.zip](https://github.com/dart-code-checker/dart-code-metrics/files/6317430/test_app.zip)

Note that `src/exclude_me.dart` is excluded from analysis and `prefer_single_quotes` analysis error is not shown i

[2021-04-15 19:26] incendial commented on #268
Hi, I've downloaded the example and everything works as expected (no highlights in VSCode). I'm kinda suspicious about plugin manager cache, but let's check preconditions first:
1. Do you have LSP preview enabled?
2. Could you please check the 5th step [from the doc](https://github.com/dart-code-checker/dart-code-metrics/blob/master/TROUBLESHOOTING.md) and share the screenshot (pay additional atte

[2021-04-16 03:21] #267 closed

[2021-04-16 04:05] roman-petrov commented on #268
Thank you for quick response. It's actually quite good news that everything works fine on your environment:) So there are the information you asked for:

1. I am not using LSP in this test application: my user settings in VSCode are almost empty. In LSP mode (`"dart.previewLsp": true`) results are almost the same.

2. Here is a screenshot for "Plugins" in analyzer diagnostics:
![image](https://use

[2021-04-16 04:22] roman-petrov commented on #268
UPD: I tried steps 2,3,4 but none of them helped me out.

1. I deleted folder `C:\Users\Roman Petrov\AppData\Local\.dartServer\.plugin_manager`
2. I switched to Flutter stable running `flutter channel stable` (`flutter doctor` now reports `2.0.4` installed)
3. I disabled all extensions in VSCode except Dart / Flutter

So I will try to ask my colleagues to check if they can reproduce the issue on t

[2021-04-16 06:03] incendial commented on #268
Yeah and I hoped that clearing will help...
If the issue is excluded correctly, it won't be even send to the analysis server, so I suppose other extensions or different SDK should not matter.

Two things come to mind:
1. replace the ignore pattern to
[code]
2. or add an inline ignore, like `//ignore_for_file: newline-before-return`

Thank you for your feedback and providing great debug info, it's

[2021-04-16 06:39] roman-petrov commented on #268
1. I tried excluding `**` pattern in analysis options - this takes no effect. It seems `exclude` / `metrics-exclude` are completely ignored on my machine in VSCode.
2. `// ignore_for_file: newline-before-return` works just fine. BTW, there is no lightbulb in VSCode to create such autofix: I am not sure if it should appear for `dart_code_metrics`.

I will continue my research, maybe I will try to c

[2021-04-16 07:18] roman-petrov commented on #268
I am trying to explore analyzer logs from Dart Code extension, I [attached it](https://github.com/dart-code-checker/dart-code-metrics/files/6323203/analyzerLogFile1.txt) FYI.

There is some error shown at the end like `{"id":"22","error":{"code":"GET_FIXES_INVALID_FILE","message":"Error during 'edit.getFixes': invalid file."}}`.

Not sure if this error might be source of my issue though. However,

[2021-04-17 07:23] incendial commented on #268
Okay, that's definitely a bug from our side, I will fix it, thank you.
Have you succeeded with asking your colleagues? Maybe it's a Windows-related problem and that's why I can't reproduce it...
And sorry for long responses.

[2021-04-17 08:01] roman-petrov commented on #268
I asked my colleague and he got the same result, he is able to reproduce the issue (he and almost everyone in our company uses Windows) .

It's quite possible that this is a Windows related problem. Yesterday I started setting up a virgin Windows virtual machine :)
I will continue informing you when I get any updates.

Please let me know if you like to set up a call with screen sharing, I will be

[2021-04-17 12:30] incendial commented on #268
@roman-petrov I've asked @dkrutskikh to check the problem on Windows machine and he confirmed that this is a bug with path building. Sorry for that long debug journey you have to make, I think we will fix it in the next minor release. I will also convert this issue to a bug type.

[2021-04-17 16:53] roman-petrov commented on #268
This is great news! I will look forward to 3.1.0 release.

We plan to start using `dart_code_metrics` in our company to improve code quality in our products so I hope I will contribute to this great package not only with issues :)

Thank you for all your help!

[2021-04-17 17:08] GroovinChip commented on #246
@dkrutskikh Since null safety has been released to stable, do you have any thoughts on when code metrics for actions will see some progress?

[2021-04-17 21:44] luanpotter commented on #262
@incendial sorry for the delay, it's been a busy week.

it's not trivial to test because it only gets "crazy" every so often, and every time it does I have to restart vscode. But here is some information:

* yes I do use the vim plugin for vscode
* I do have lsp preview enabled. with that setting on (which was on by default on my vscode) I am extremely confident, after a lot of testing, that it do

[2021-04-18 08:51] Alex-A4 commented on #268
Same problem on MacOS Catalina 10.15.7.
Just add next lines, tried different exclude options like  - do not work.
[code]

Also the problem is that analyzer tries to alanyze all the packages added to the project

[2021-04-20 15:37] dkrutskikh commented on #268
@Alex-A4 your config has one mistake. Exclude section must be placed in `analyzer` area, like this:

[code]

[2021-04-20 15:51] Alex-A4 commented on #268
Oh, thanks!
But what about analyzing of all packages are added with pubspec? Is that a normal behaviour or a bug?

[2021-04-20 16:25] dkrutskikh commented on #268
@Alex-A4 can you provide more details?

[2021-04-20 17:24] Alex-A4 commented on #268
Sure, @dkrutskikh
1) Add dart_code_metrics to existed project
2) Create `analysis_options.yaml` as said in [usage section](https://pub.dev/packages/dart_code_metrics#usage).
3) Restart IDE to apply plugin.
Voila, I see a lot of hints related to other packages, added with pubspec. Attaching the image
![image](https://user-images.githubusercontent.com/32712725/115438655-542abf80-a216-11eb-9ed4-fc5ee

[2021-04-20 17:26] incendial commented on #268
@Alex-A4 isn't it the same problem with `ios/.symlinks` as [described here](https://github.com/dart-code-checker/dart-code-metrics/issues/265#issuecomment-819267637)?

[2021-04-20 17:30] Alex-A4 commented on #268
@incendial Yeah, this works, thanks! Sorry for duplicate

[2021-04-20 17:40] incendial commented on #268
No problem, we probably should consider adding `ios` folder to the default ignores.

[2021-04-21 03:41] roman-petrov opened #271 "[Question] Are there still long term development & support plans?"
At our company we plan to start using `dart-code-metrics` in our Flutter design system and this would be a big and a long term project.

Recently I got a [news](https://habr.com/ru/company/wrike/blog/551964/) that says Wrike company long term plan is to move away from Dart language.

I know that currently the project is actively being improved - thank you for great work! But now I a bit wonder if

[2021-04-21 08:29] incendial commented on #271
Hi @roman-petrov, first of all, I’m very happy to know that your company is planning to use `dart-code-metrics` for a long-term project. It’s very exciting!

I’ll try to explain everything about our development and support plans, if you will still have any questions, feel free to ask.

As you might have noticed, we moved the project to a different Github org. some time ago and it should not be ass

[2021-04-21 08:43] roman-petrov commented on #271
@incendial thank you for great explanation! that's all I would like to hear :)

Now I understand that this product not associated with Wrike anymore and it's also clear that success of this project might heavily depend on contribution activity. So I will try to do my best to promote it inside our company and hope we will provide some contributions in future.

I have some ideas about rules enforcin

[2021-04-21 08:43] #271 closed

[2021-04-21 08:45] dkrutskikh commented on #271
@roman-petrov can you create issues for your ideas?

[2021-04-21 08:50] roman-petrov commented on #271
@dkrutskikh sure, I will. At the moment I don't have exact proposal, just some rough ideas. I will create feature request issues when I will have better understanding what do I like to enforce. I also plan to make code contribution myself if we decide to implement these rules after discussion.

[2021-04-21 09:11] incendial commented on #271
That sounds great, if you'll have any questions about the code I will be happy to help.

We discussed it and seems that we need to become a verified publisher which requires a website (as I understand). Hope, we will resolve this in the nearest future.

Thank you very much for your effort.

[2021-04-21 09:53] roman-petrov commented on #271
great, hope to see `dart_code_metrics` on top of `pub.dev` with `Flutter Favorite` badge this year!

[2021-04-21 13:38] dkrutskikh opened #272 "Migrate on analyzer 1.5.0"

[2021-04-21 14:10] furaiev commented on #246
Hello, @dkrutskikh @incendial ,
Thank you for this tool!

I have an issue with git report.
When I run
[code]
I get an error that bin/metrics.dart isn't found.

[2021-04-21 16:10] furaiev opened #274 "[Question] --reporter=github lib"
Hello, thank you for your tool.

I have a question regarding to `--reporter=github`:

When I run `flutter pub run dart_code_metrics:metrics --reporter=github lib` in my project I get only 2 `Long method.` warnings.
But when I run `flutter pub run dart_code_metrics:metrics lib`, I get a pretty long list of warnings and alarms.

Is it a CLI bug, or I missed something?

[2021-04-21 17:01] dkrutskikh commented on #274
@furaiev currently GitHub reporter support only anti-patterns and code analysis rules

[2021-04-21 18:30] furaiev commented on #274
@dkrutskikh I see, thank you.
Are `metrics` in the plans?

[2021-04-22 19:33] #246 closed

[2021-04-22 19:35] incendial commented on #246
@GroovinChip we merged the PR with the updated docs, please check it out.

Great thanks to @furaiev for creating the PR! 🎉

[2021-04-23 07:44] furaiev opened #277 "[BUG] no-magic-number: allowed cast error"
* **Dart code metrics version:** 3.0.0
* **Dart sdk version:**  2.12.2 (stable)

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]
</details>

**What did you do? Please include the source code example causing the issue.**
run `flutter pub run dart_code_metrics:metrics lib`

**What did you expect to happen?**
Get a report

**What actually happened?**
[code

[2021-04-23 17:08] PiN73 opened #279 "[BUG] exclude doesn't work"
* **Dart code metrics version:** 3.0.0
* **Dart sdk version:** 2.12.3 (stable)

<details>
<summary>Configuration</summary>

[code]

</details>

**Source code example causing the issue:** lib/hello.freezed.dart

[code]

This code is copied from [freezed](https://pub.dev/packages/freezed) generated file, which is used in my actual project.

**What did you expect to happen?**
Problems shouldn't be re

[2021-04-23 17:12] furaiev commented on #279
try to wrap your exclude params into quotation marks:

`- "**/*.freezed.dart"`

[2021-04-23 17:21] PiN73 commented on #279
Wrapping with `"` or `'` doesn't help.

Also this is only reproduced on Windows. On macOS `exclude` works. So I think it's duplicate of #268

[2021-04-23 18:34] incendial commented on #279
@PiN73 Hi, yeah, it looks like a duplicate.

[2021-04-23 18:52] #277 closed

[2021-04-23 19:06] incendial commented on #272
Created a project card instead, closing this.

[2021-04-23 19:07] #272 closed

[2021-04-24 12:55] #266 closed

[2021-04-24 17:43] incendial commented on #262
@luanpotter I agree and that's why it will be very helpful to get a reproduction example for VS Code. Are there any chance that you can create one or share reproduction steps? I'm talking about the initial problem with "confused" code.

[2021-04-25 14:43] dkrutskikh commented on #268
@roman-petrov unfortunately, we could not fix your problem in 3.1 release, fix of this problem was moved to release 3.2.

[2021-04-25 19:49] #154 closed

[2021-04-26 00:21] PiN73 opened #286 "Exclude all dart_code_metrics rules at once"
#258 allows to exclude rules:
[code]

This is useful to exclude generated files (e.g. [freezed](https://pub.dev/packages/freezed)). But then it will be duplicated:

[code]

I think it would be good to have root exclude option in dart_code_metrics section:
[code]

Note: exclude in analyzer section would disable analysis for the files at all, even errors
[code]

**Are you willing to submit a pull re

[2021-04-26 00:28] PiN73 commented on #286
There exists same issue for default Dart linter: https://github.com/dart-lang/linter/issues/320

But as dart_code_checker already supports per-rule exclude options, I think adding general one makes sense too

[2021-04-26 01:14] PiN73 commented on #265
Does it makes sense & is possible to make default behavior match this options?
[code]

[2021-04-26 01:29] PiN73 commented on #265
Reproduction steps (macOS needed, tested in Android Studio):
- Create new Flutter app project
- [Setup dart_code_metrics](https://pub.dev/packages/dart_code_metrics#usage)
- Add [cloud_firestore](https://pub.dev/packages/cloud_firestore) dependency
- Run app (to generate Podfile), error will occur (it's firestore+ios issue)
- Open ios/Podfile, uncomment 2nd line `platform :ios, '9.0'` and replace

[2021-04-26 01:34] PiN73 commented on #265
This analysis_options.yaml
[code]
& restarting IDE actually solves the problem

[2021-04-26 02:56] roman-petrov commented on #268
@dkrutskikh that's ok. I'm a bit blocked on this issue but I don't have deadline to integrate dart code metrics.

[2021-04-26 13:30] furaiev opened #289 "[BUG] dart_code_metrics resolving error for local packages"
When a project uses a local package, the analyzer can not resolve `dart-code-metrics`.

**Steps to reproduce:**
1) `git clone https://github.com/furaiev/dart_metrics_bug_proof.git`
2) `flutter pub get`
3) go through troubleshooting as of p.p. 4 https://github.com/dart-code-checker/dart-code-metrics/blob/master/TROUBLESHOOTING.md

**Result:** Could not resolve "package:dart_code_metrics/dart_code_m

[2021-04-26 17:08] incendial commented on #289
@furaiev isn't it the same problem as discussed in #254?

[2021-04-26 17:10] incendial commented on #265
We are working on adding this path to the default excludes in #270, hope will release it soon.

[2021-04-26 19:54] unger1984 opened #290 "[BUG] avoid-returning-widgets not work"
* **Dart code metrics version: 3.1.0**
* **Dart sdk version: 2.13.0-211.6.beta**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

If method have not return type, avoid-returning-widgets not catch it. Work only for:
[code]

PS: Please unban me in the tele

[2021-04-26 21:13] incendial commented on #290
I don't think that using `dynamic` return type should be covered by the rule. What is your motivation for not annotating the return type at all?

As I can see, you have an access.

[2021-04-26 21:16] unger1984 commented on #290
I need a linter first of all for protection from juniors. They may leave something else in the code. Dart compiles, everything works - they are satisfied. That's all the motivation.

[2021-04-26 21:21] incendial commented on #290
Why not to use https://dart-lang.github.io/linter/lints/always_declare_return_types.html then?

[2021-04-26 21:26] unger1984 commented on #290
How did I forget about the pedantic! Exactly thanks!

[2021-04-26 21:26] #290 closed

[2021-04-26 21:30] incendial commented on #290
No problem.

For anyone else facing the same problem - supporting `dynamic` will overcomplicate the rule implementation, so I'd prefer not to support this case unless there is a strong reason to. Consider always declare return type since it can find additional errors in the code.

[2021-04-28 07:21] furaiev commented on #289
@incendial not exactly.
I believe the plugin should work correctly without adding the dependency to each package inside the project.
It's ok if the plugin won't analyse the content of the internal packages, but it shouldn't at least throws errors in the `Analyzer Server Diagnostics`.
What do you think?

[2021-04-28 13:10] furaiev opened #292 "[Rule change] avoid-returning-widgets: include getters"
**What rule do you want to change?**
`avoid-returning-widgets`

**How will the change be implemented? (New option, new default behavior, etc.)?**
Will include getters

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
nothing

**What will the rule do after it's changed?**
notify a user that rule `avoid-returning-widgets`

[2021-04-29 10:12] unger1984 opened #296 "[New rule] Widget build method size"
build-widget-size

A rule is needed to set the size of the code only for methods that return the Widget. This will allow you to catch situations when the widget code is too large and in this case it is necessary to divide the widget into its components. Together with avoid-returning-widgets and cyclomatic-complexity, this will allow more flexible code verification.

The default value for this rule

[2021-04-29 10:14] unger1984 opened #297 "[Rule change] long-method exclude build Widget methods"
**What rule do you want to change?**

long-method

Flutter build methods that return a Widget must be excluded from the antipattern. They can be really big and this is not an anti-pattern. For their validation, the cyclomatic-complexity metric is enough.

With #296 Issue, cyclomatic-complexity and avoid-returning-widgets this will allow more flexible customization of code verification for flutter

[2021-04-30 00:33] QuirijnGB commented on #274
Is there a reason that it hasn't been done? Happy to have a stab at it.
Im asking because I noticed the `github_reporter` resides in the `obsolete` directory. Dont want to waste my time on it if itll get dropped

[2021-04-30 05:29] dkrutskikh commented on #274
@QuirijnGB current implementation is really obsolete. Currently we work on GitHub action, and I hope we release them soon.

[2021-04-30 05:30] QuirijnGB commented on #274
@dkrutskikh 👍  Sounds good. Let me know if i can help

[2021-04-30 15:26] roman-petrov opened #301 "[BUG] Many tests are failing when running on Windows"
To reproduce this issue just clone the repository on Windows machine and run `flutter_test`: [flutter_test_output.txt](https://github.com/dart-code-checker/dart-code-metrics/files/6406366/flutter_test_output.txt).

This is happening due to differences in path separators. This should be easy to fix issue, but I wonder if we should have some common patterns in code for this.

[2021-04-30 18:16] #268 closed

[2021-04-30 19:15] incendial commented on #301
I don't think that the `flutter_test` command should be used for this repo. It's `dart test` instead. Or I didn't get the point 🙂

We definitely should. Seems like we need to create a helper function for the path building.

[2021-05-01 06:45] roman-petrov commented on #301
Sure, it's my mistake - I work on Flutter projects so I'am tied to Flutter workflow:)

So, maybe, we should to have some convention for this when we construct path. If we construct all paths in code using `path` library methods the problem should be gone.

But I also a bit wonder if we can have a lint for this instead of having just a code convention. This lint might help people (and us) to improv

[2021-05-02 15:51] PiN73 commented on #279
Fixed in #298

[2021-05-02 15:51] #279 closed

[2021-05-03 19:17] #292 closed

[2021-05-04 10:58] roman-petrov opened #311 "[New rule] Avoid abbreviations"
There is a good and well maintained `ESLint` plugin [eslint-plugin-unicorn](https://github.com/sindresorhus/eslint-plugin-unicorn)

The idea is to implement `avoid_abbreviations` rule which works the same as [prevent-abbreviations](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/main/docs/rules/prevent-abbreviations.md) rule in `eslint-plugin-unicorn'.

Reference source code for unicorn

[2021-05-04 12:47] incendial commented on #311
Looks good!

And thanks for sharing the plugin rules list, looks very interesting too. I'll take a look at it.

[2021-05-05 13:31] roman-petrov opened #313 "[New feature: blocked] Run `dart_code_metrics` when running `dart analyze` command"
Actually, this is not just a question and closer to feature request. But there is almost nothing should be done in `dart_code_metrics` to implement this feature.

A relatively new `dart analyze`  command (which replaces `dartanalyzer`) uses analysis server to perform linting. `dart` tool [launches analysis server](https://github.com/dart-lang/sdk/blob/master/pkg/dartdev/lib/src/commands/analyze.da

[2021-05-06 18:31] incendial commented on #313
Yeah, we faced situations when running `dart analyze` could eventually fail because of a plugin issue report ([like this one](https://github.com/dart-code-checker/dart-code-metrics/runs/2311793200?check_suite_focus=true#step:5:6)), but unfortunately had no time to investigate it further or even help fix it.

I think it'd be great to have this feature.

[2021-05-06 18:34] incendial commented on #313
But we have other ideas for Cli commands, so we will not be able to remove it completely.

[2021-05-06 18:51] roman-petrov commented on #313
Actually, I am proposing just to have new feature and document it when Dart SDK issue is fixed. I understand that CLI integration can give us more than just analyzer plugin so I am not proposing to remove CLI commands.

Let's have this issue open if you don't mind: I will try to track it myself and hopefully will provide documentation PR when DartSDK issue is resolved.

[2021-05-08 20:16] spydon opened #317 "[Question] Replacement for lines-of-executable-code"
**What do you want to discuss?**
Is there a replacement for `lines-of-executable-code` that was deprecated in #291?
We are currently getting a warning about that being deprecated in out pipeline, but we can't remove it either since we increase the default number there so if we remove it we get a warning in the actual analysis.

[2021-05-08 20:27] dkrutskikh commented on #317
@spydon use `Source lines of Code`

[2021-05-08 20:51] spydon commented on #317
Makes sense, I still get the warning though. I'm probably doing something wrong then?
[code]
Result:
`WARNING addControlsStories - lines of executable code: 61`

[2021-05-09 11:45] #317 closed

[2021-05-09 12:09] dkrutskikh commented on #317
@spydon we released version 3.2.1 with fix this issue

[2021-05-09 17:03] spydon commented on #317
Nice, thanks for the very quick fix!)

[2021-05-09 23:35] creativecreatorormaybenot opened #322 "Violating breaking change contract"
You are not versioning breaking changes correctly:

Any **breaking change** (like removing an option) requires a **major version bump** according to semantic versioning.

---

I noticed this because `3.1.0` actually violates this already IMO. You **deprecated** `lines-of-executable-code`. A deprecation is **usually** not a breaking change. However, in this case (as this is an analysis package), it

[2021-05-09 23:35] creativecreatorormaybenot commented on #322
Therefore, you should bump to `4.0.0` instead.

[2021-05-10 06:30] dkrutskikh commented on #322
@creativecreatorormaybenot shure, if we change public api - we bump major. But major version not save our customers whose global activate this package.

[2021-05-10 06:36] creativecreatorormaybenot commented on #322
What do you mean by:

[2021-05-10 06:40] dkrutskikh commented on #322
If you use `dart pub global activate`

[2021-05-10 06:41] incendial commented on #322
@creativecreatorormaybenot thanks for feedback, we discussed it earlier and chose 3.3, but seems that we were wrong. Will publish 4.0 instead.

I don't see any code that is intensionally failing a pipeline because of a deprecation. Could you share more info about this?

`dart pub global activate` will install the latest version of a package even if it was a major change, which will lead to failing

[2021-05-10 06:42] dkrutskikh commented on #322
@creativecreatorormaybenot can you provide more details why ci drop builds?

[2021-05-10 07:59] creativecreatorormaybenot commented on #322
@incendial thanks for the information.

@dkrutskikh CI fails because `flutter analyze` (`dart analyze`) now fails because in our `analysis_options.yaml` file, we declared `lines-of-executable-code: 80`.

[code]

This is of course easily fixable by removing it, but that requires an additional change. Also note that we are not using `dart pub global activate` for `dart_code_metrics` - only the defau

[2021-05-10 08:43] incendial commented on #322
@creativecreatorormaybenot I was able to reproduce this warning only once, so can you please share some additional info:
1. do you have a stable reproduce?
2. for how long it takes for `flutter analyze` to complete? Right now I think that this warning may appear only for runs longer then 20s.

[2021-05-10 09:12] creativecreatorormaybenot commented on #322
@incendial

1. Yes, it always happens.
2. It appears right away. The CI is very slow but on my machine it appears instantly basically:

[code]

Make sure that you have configured the `analysis_options` file correctly would be my only guess.

[2021-05-10 09:41] incendial commented on #322
Thanks for sharing the info. Seems like when `flutter analyze` processes plugin output, it's not awaiting the results properly.
[code]
Only one with `37.2s` showed the warning.

We published version 3.2.2 where this check is disabled. Please let us know if you face this issue again.

[2021-05-10 09:41] #322 closed

[2021-05-11 13:04] furaiev opened #326 "[Rule change] no-magic-number - allow final declaration"
**What rule do you want to change?**
no-magic-number

**Why?**
Magic numbers often used in flutter widgets where variables can't be declared as non-static `const`.
https://dart.dev/tools/diagnostic-messages#const_instance_field

**How will the change be implemented? (New option, new default behavior, etc.)?**
Warns against using number literals outside of named constants and **finals**

**Please p

[2021-05-11 13:39] PiN73 opened #327 "Should no-equal-arguments trigger on double.infinity?"
[code]

[2021-05-11 14:00] PiN73 opened #328 "[BUG] Incorrect documentation urls"
For example, "Open documentation" option for reported `no-equal-arguments` rule in Dart Analysis opens [no-equal-arguments.html](https://github.com/dart-code-checker/dart-code-metrics/tree/master/doc/rules/no-equal-arguments.html) which in unavailable, should be [no-equal-arguments.md](https://github.com/dart-code-checker/dart-code-metrics/blob/master/doc/rules/no-equal-arguments.md)

https://gith

[2021-05-11 14:09] PiN73 commented on #328
Also current links will stop working when the file is changed in the repository.

It would be more reliable to make links to the tag, e.g.
[code]

but I doesn't know if it's easy to automate

[2021-05-11 17:51] incendial commented on #327
Looks like it's an exceptional case when equal arguments are expected and correct, because if you replace `double.infinity` with literals, like 10.0, it would still be correct, but the rule will trigger. Same goes for a const variable used for both `maxWidth` and `maxHeight`.

So the only solution I can suggest right now is to use ignores `// ignore: no-equal-arguments`.

[2021-05-11 17:52] incendial commented on #328
Oh, thank you for pointing this out. I think we will apply a quick fix for that, but in the nearest future will migrate it to our own website links.

[2021-05-12 09:15] roman-petrov opened #329 "[BUG] Failing rule tests with examples having CRLF line endings"
* **Dart code metrics version:** 3.2.2
* **Dart sdk version:** 2.14.0-18.0.dev

The problem can be reproduced on almost any rule test: just convert line endings to CRLF in `example.dart`.

I found this issue when I cloned the repository on my Windows machine at work. In my global `git` settings I have [core.autocrlf](https://docs.github.com/en/github/getting-started-with-github/configuring-git-to-

[2021-05-12 11:21] incendial commented on #329
Oh, that's an interesting problem.

This one looks very good, but I don't see a way to do that. That's how we create and resolve files right now:
[code]
As you can see, it uses only a file path to create a unit. How you want to fix CRLF's with only the path being used?

[2021-05-12 11:22] incendial commented on #329
Is it a typo and you meant CRLF?

[2021-05-12 14:09] roman-petrov commented on #329
Sure, it's a typo; I updated issue text.

At the moment I don't have good understanding of project architecture. I thought that in [FileResolver.resolve](https://github.com/dart-code-checker/dart-code-metrics/blob/master/test/helpers/file_resolver.dart#L20) method we can just normalize line endings to LF for `parseResult.content` before returning it inside `InternalResolvedUnitResult`...

Generall

[2021-05-12 18:39] incendial commented on #329
It works in a bit different way - we pass a file to `resolveFile` function and get a `ResolvedUnitResult`. Then we create a wrapper for that in order to remove non-null assertions in our codebase. And all rules are using compilation unit. So, if we change `parseResult.content` it will not affect the unit itself.

So, I like the idea, but I don't see how we can do that without creating some kind of

[2021-05-13 07:49] roman-petrov commented on #329
@incendial, thank you for explanations. I took a deeper look inside the project, now I see that my proposed solution to normalize line endings before Dart compiler parses source code is quite hard to implement.

So I created a PR https://github.com/dart-code-checker/dart-code-metrics/pull/331 with other proposed solution for this issue, please take a look.

[2021-05-13 08:38] roman-petrov commented on #329
I tested #331 locally and everything seems to be working as expected. Please take a look let me know your opinion about it.

[2021-05-13 18:52] incendial opened #332 "[New rule] avoid-unnecessary-setstate"
**Please describe what the rule should do:**

As @GroovinChip pointed out in one of a twitter thread, calling `setState` from a widget `initState` or `build` methods will lead to unnecessary rerender of the widget. It looks like a potential problem especially for new developers, so the idea of the rule is to warn about `setState` invocations in `initState` or `build`.

We have not quite come to a

[2021-05-13 18:57] incendial commented on #332
@GroovinChip if you have some time to review it, I'd be very grateful.

@dkrutskikh @roman-petrov I'd really happy to hear your thoughts about this rule and maybe you know some other places where calling setState should be considered unnecessary.

I'm not quite sure how this rule should be called, right now we have 3 options:
* avoid-unnecessary-setstate
* avoid-additional-render
* avoid-rerender

[2021-05-13 19:12] incendial commented on #332
Hm, that looks like the same problem https://github.com/flutter/devtools/pull/1336#discussion_r346598595

[2021-05-13 19:26] incendial commented on #329
I'm kinda on a small vacation right now, so I'll review your other request first and then return to this one. Sorry for the delay.

[2021-05-13 22:09] GroovinChip commented on #332
I'll try to review tonight or tomorrow, thanks @incendial

[2021-05-14 05:52] roman-petrov commented on #329
@incendial that's ok, take a good holiday!

[2021-05-14 08:54] roman-petrov opened #333 "[Question] What is maintability index metric?"
When trying to run `dart-code-metrics` in our large enough project I see that it fails **silently** on some packages with non zero exit code  but nothing reported to console.

When I launch with  `--reporter=html`  I see `maintainabilityIndex` violation but as I see this is undocumented feature and it is impossible to configure maintability index levels in analysis options.

In project source code

[2021-05-14 12:01] roman-petrov commented on #40
Just linking similar issue  https://github.com/dart-lang/linter/issues/2591

[2021-05-14 12:04] roman-petrov opened #334 "[New rule] id-length"
Not sure about the name, rule idea inspired by ESLint [id-length](https://eslint.org/docs/rules/id-length) rule. This can be implemented as configurable metric.

[2021-05-15 04:50] dkrutskikh commented on #333
@roman-petrov this is our first implementation of https://docs.microsoft.com/en-us/visualstudio/code-quality/code-metrics-maintainability-index-range-and-meaning?view=vs-2019

[2021-05-15 18:29] fartem opened #335 "Can plugin read `analysis_options.yaml` config?"
I'm have configured `analysis_options.yaml` with specific rules for this plugin. In IDE all works fine, but on CI when I'm running plugin check from shell, config cannot applying. It is normal behaviour? Can I exclude rules in plugin from CLI run?

[2021-05-15 19:05] dkrutskikh commented on #335
@fartem sure, we support configuration via analysis_options.yaml in both modes (cli / plugin). Can you provide more details about your project and configurations?

[2021-05-16 08:02] fartem commented on #335
@dkrutskikh Yes.

`analysis_options.yaml` config:

[code]

On CI plugins runs with:

[code]

[2021-05-16 09:40] dkrutskikh commented on #335
@fartem can you contact with me for more details?

[2021-05-16 09:41] fartem commented on #335
@dkrutskikh Sure.

[2021-05-16 10:58] fartem commented on #335
In my case, plugin send errors not about rules.

[2021-05-16 10:58] #335 closed

[2021-05-16 14:07] fartem opened #336 "[BUG] Invalid link to rule description"
* **Dart code metrics version:** 3.2.2.
* **Dart sdk version:** 2.12.2.

I'm running plugin from console and link to `avoid-returning-widgets` is invalid.

Console output:

[code]

It reproduces by running plugin from console from a project that contains issue by `avoid-returning-widgets`.

[2021-05-16 14:42] dkrutskikh commented on #336
@fartem looks like https://github.com/dart-code-checker/dart-code-metrics/issues/328#issue-887377787

[2021-05-16 14:43] #336 closed

[2021-05-17 06:24] #329 closed

[2021-05-18 12:53] grafovdenis opened #339 "[Rule change] add ingnore param to no-equal-arguments"
**What rule do you want to change?**

[No equal arguments](https://github.com/dart-code-checker/dart-code-metrics/blob/master/doc/rules/no-equal-arguments.md)

**How will the change be implemented? (New option, new default behavior, etc.)?**

Make arguments of this rule configurable.

**Example:**

[code]

**Please provide some example code that this change will affect:**

For example, i'd like to

[2021-05-18 13:01] incendial commented on #329
Thank you! I'm finally back, let's continue discussion in PR.

[2021-05-18 13:42] #327 closed

[2021-05-18 13:44] incendial commented on #327
Actually, this looks like a fix to the problem your pointed out https://github.com/dart-code-checker/dart-code-metrics/issues/339.

[2021-05-18 13:51] incendial commented on #339
@grafovdenis thats actually a great idea. There is another issue #327 and I initially suggested to add an ignore comment, but your idea is way more better.

Will support this soon. I'm not sure about the exact parameter name, though.

[2021-05-18 14:53] roman-petrov commented on #333
@dkrutskikh thank you, now I understand the source of this metric, but it is currently undocumented and I do not see any possibility to disable or configure it. Should we improve this somehow?

[2021-05-18 16:50] grafovdenis opened #345 "[BUG] alphabetize member-ordering-extended shows wrong lints"
* **Dart code metrics version:** 3.2.2
* **Dart sdk version:** 2.12.0

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**

1. Another lint: `public-methods should be before overridden-methods.`
2. Lint should apear above `

[2021-05-18 20:03] incendial commented on #328
@PiN73 we released 3.2.3 with the fix to this problem and it should now work fine.

[2021-05-18 20:03] #328 closed

[2021-05-19 08:02] grafovdenis commented on #345
Found few more bugs:
**Config (order only):**
[code]

[code]

[2021-05-19 09:09] incendial commented on #301
Sorry, kinda forgot to answer this.

I don't think we need an internal lint to check this, can just convert file path at runtime.

Also, is this issue still reproducing, because I remember that @dkrutskikh fixed something similar?

[2021-05-19 09:14] incendial commented on #289
@furaiev sorry, I completely forgot to answer.

I agree, that it should not require to   add a dependency to each package, but if I remember correctly that is how the plugin discovery process works for now.

So, it's more like an `analyzer_plugin` integration problem.

[2021-05-22 03:08] luanpotter commented on #262
Sorry for the delay, but I can definitely and without a shadow of doubt now, due to extensive use, that setting `preview=off` fix the issue for me. It never happened again since :)

[2021-05-22 15:20] incendial commented on #345
@grafovdenis I've finally looked closer and fix is on the way.

Are you sure that this is the expected result? From my point of view it should be `constructors should be before public-methods.`.

Am I correct that the expected result was to have 0 issues?

[2021-05-22 15:33] grafovdenis commented on #345
@incendial Nicely done!

Yep, you are right.

Yes, there should be no issues.

[2021-05-24 09:02] DanTup commented on #262
FWIW, LSP is going to become the default (and then only) option in the near future. If there are issues in the LSP server it's important they're tracked down. If anyone can provide steps to repro or get a log (see https://github.com/dart-code-checker/dart-code-metrics/issues/262#issuecomment-819699313) that would definitely help understand what's going on. Thanks!

[2021-05-24 11:27] incendial commented on #345
3.3.0 version with the fix is now available on pub.

[2021-05-24 11:27] #345 closed

[2021-05-24 11:28] incendial commented on #326
3.3.0 version with the improvement is now available on pub.

[2021-05-24 11:28] #326 closed

[2021-05-24 11:28] incendial commented on #339
3.3.0 version with the improvement is now available on pub.

[2021-05-24 11:28] #339 closed

[2021-05-25 09:11] roman-petrov commented on #301
@incendial, sorry, I forget to answer too :)

The situation is much better now: I see only two failing tests on Windows: `lint_analyzer_test` and `exclude_utils_test`.

I think we should stop manually checking if Windows tests are not failing. We can set up a GitHub action to run Windows tests only without building/linting. I currently don't have any experience in GitHub actions, but I can try to

[2021-05-25 11:48] incendial commented on #301
@roman-petrov do we really need to run tests on Windows? Seems like the infrastructure won't change and it's unnecessary.

And it's still a problem with the path?

[2021-05-25 12:05] roman-petrov commented on #301
I didn't take deep research on the remaining problems so I am not sure about that.

Actually, I still think we have to implement some regression control for Windows tests (additional GitHub action or something else).

Right now even if we fix the remaining issues with tests on Windows, someone can easily introduce a regression in a PR, and tests on Windows might become broken again...

[2021-05-26 21:05] #332 closed

[2021-05-27 03:14] #301 closed

[2021-05-27 17:11] incendial opened #360 "[New rule] prefer-extracting-callbacks"
**Please describe what the rule should do:**
The rule should warn about inline callbacks in a widget tree and suggest to extract them to a widget methods in order to make a build method more readable. In addition extracting can help test those methods separately as well.

The rule will not trigger for lambdas, like `onPressed: () => _handler(...)`, in order to cover cases when a callback needs a v

[2021-05-27 17:13] incendial commented on #360
@GroovinChip please take a look to ensure that I've got it all correct.

@dkrutskikh @roman-petrov I'd really happy to hear your thoughts about this, if you have anything to add!

[2021-05-27 17:19] GroovinChip commented on #360
Looks good to me!

[2021-05-27 18:17] incendial commented on #289
My bad, I thought that the problem is with the plugin, but it's about cli... Sorry!

[2021-05-27 19:01] dkrutskikh commented on #289
@furaiev can you check version from master branch?

[2021-05-27 20:07] furaiev commented on #289
sure, I'll do

[2021-05-28 06:03] roman-petrov commented on #360
I also think it would be a great rule!

Just one minor thing: maybe we will need some rule settings to allow "small 2-5 line length callbacks" (disabled by default), but I think we can add it later if we need it. Actually, I personally prefer not to have logic in the widget tree at all.

[2021-05-28 08:37] incendial commented on #360
Totally agreed. We should add it if only necessary.

[2021-05-28 09:58] vHanda opened #364 "[New rule] Avoid Ignoring Return Values"
**Please describe what the rule should do:**
We should never silently ignore a return value of a function.

**If your rule is inspired by other please provide link to it:**

- Swift has a [similar feature](https://www.avanderlee.com/swift/discardableresult/)
- Request for this in [Typescript](https://github.com/microsoft/TypeScript/issues/8584)
- Java Jetbrains issue for such [an annotation](https

[2021-05-28 12:57] incendial commented on #364
@vHanda thanks for suggesting this rule. It looks awesome and definitely nice to have, but I don't think that we can easily get the return type of an invocation while performing static analysis. I will take a closer look and return with the results.

Dart team recently added a new annotation to meta package [called `useResult`](https://github.com/dart-lang/sdk/blob/master/pkg/meta/lib/meta.dart#L2

[2021-05-28 13:30] incendial commented on #364
Nope, I was wrong, we have a return type info! Seems that there are blockers for implementing this rule.

[2021-05-28 13:35] incendial commented on #364
@vHanda have you though about exceptions for this rule? I think that `void`, `Never`, `Null`, `Future<void>`, `Future<Null>` should be definitely ignored, but maybe there is more?

And how do you think we should handle methods that mutate the data and return something (and you might not want to handle the returned value)?

[2021-05-28 14:15] furaiev commented on #289
@incendial I believe that the raised issue is about the plugin. CLI works w/o errors:
[code]

@dkrutskikh I've checked master version, here is a log with my comments:

<details>
<summary>Log</summary>

[code]

</details>

[2021-05-29 11:48] incendial commented on #364
I'm not sure that we have a similar one. But you need to implement `visitMethodInvocation` in a visitor and check if an invocation is **not** used in an assignment or cascade and **not** passed as an argument (maybe there are more edge cases). And have a not exceptional `staticType`.

[2021-06-03 05:59] roman-petrov opened #371 "[New feature] Technical debt cost"
Today from flutter PR https://github.com/flutter/flutter/pull/83846 I found an interesting module in Flutter Device Lab, [technical debt cost calculation](https://github.com/flutter/flutter/blob/master/dev/devicelab/bin/tasks/technical_debt__cost.dart).

If flutter performs such a task it might be a good idea to have something similar in `dart_code_metrics`. This is just an idea, please feel free

[2021-06-03 14:07] grafovdenis opened #372 "[BUG] `avoid-unused-parameters` conflicts with `avoid_renaming_method_parameters`"
* **Dart code metrics version:** 3.3.3
* **Dart sdk version:** 2.13

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

When I write any widget using Flutter, I recieve `avoid-unused-parameters` lint in widget's `build` method on `BuildContext context` param. When

[2021-06-03 15:42] roman-petrov commented on #372
I also faced the same problem in our project. I suggest to add a parameter to allow to ignore overridden methods since I think it is nothing bad in not using parameters in overridden methods

[2021-06-03 15:43] incendial commented on #371
That looks so cool! Thanks for sharing that idea and I think we should implement it too with customizable costs. In 4.0 we will support commands and that looks like a great candidate for a new command.

[2021-06-03 15:44] incendial commented on #372
I think we should just disable this check for overridden methods, because all other solutions looks bad to me.

[2021-06-03 15:46] incendial commented on #372
Or, yeah, maybe an `ignore` parameter that is enabled by default.

[2021-06-03 15:46] roman-petrov commented on #371
that's great you like it!

[2021-06-03 15:51] roman-petrov commented on #371
@incendial - am going to ten day vacation today. So not now - maybe I will decide later. We will definitely need such feature in our company, but this will happen in a few month.

[2021-06-03 15:59] incendial commented on #371
Okay, have a nice vacation!

[2021-06-05 08:11] incendial commented on #372
Published 3.3.5 with this incompatibility fix.

[2021-06-05 08:11] #372 closed

[2021-06-06 06:17] dkrutskikh opened #375 "[BUG] VS-Code LSP Mode"
* **Dart code metrics version:** 4.0.0-dev.1
* **Dart sdk version:** 2.13.1

**What actually happened?**

![image](https://user-images.githubusercontent.com/8401894/120914602-df1d2780-c6a7-11eb-8680-a2a7781a6786.png)

**Are you willing to submit a pull request to fix this bug?**

[2021-06-06 17:44] #375 closed

[2021-06-08 07:10] malikwang opened #378 "[BUG] Quick fix action performs on wrong position using part file"
* **Dart code metrics version:**  3.3.5
* **Dart sdk version:** 2.12.3

 [Video](https://github.com/malikwang/quick_fix/blob/main/result.mov)

 [Source code](https://github.com/malikwang/quick_fix)

[2021-06-08 17:25] incendial commented on #378
@malikwang thank you for reporting this, the fix is on the way #379

[2021-06-08 19:47] dkrutskikh commented on #378
@malikwang fixed in version 3.3.6

[2021-06-08 19:47] #378 closed

[2021-06-10 09:35] malikwang commented on #378
Thanks for reply.
I also implement my custom analyze rule using quick fix.
So i would like to more more details about how to fix this issue.
Howerver, [the comment](https://github.com/dart-code-checker/dart-code-metrics/pull/379/commits/d2d152db8f62cf20f20fd29ad032cce3991b006a) seems unrelated to this issue.

[2021-06-12 16:27] incendial commented on #360
@GroovinChip what do you think about `builder:` arguments, should the rule trigger on them too?

[2021-06-12 17:00] GroovinChip commented on #360
Builder arguments can be left as is I think, because they usually build Widgets. The preference there is to build an extracted widget rather than having a big tree in the builder.

[2021-06-12 18:38] incendial commented on #360
Okay, thanks! Then let's have `builders` excluded by default and `ignored-arguments` config parameter for custom cases.

[2021-06-13 11:51] #360 closed

[2021-06-16 07:05] #297 closed

[2021-06-16 07:05] dkrutskikh commented on #297
landed in 4.0.0

[2021-06-16 13:30] roman-petrov opened #385 "[BUG] Compiling CLI to exe on Windows"
Today we discussed CLI analysis performance with @dkrutskikh and decided to try to compile CLI tool to `exe` on Windows (using `dart compile exe`) as a possible workaround.

Compilation works fine, but when I try to launch analysis with created executable like `metrics.exe C:\Projects\dart-code-metrics` i get runtime exceptions, here is the output:

[code]
As you can see, the source of these excep

[2021-06-17 14:17] furaiev opened #387 "[BUG] always-remove-listener edge case (generic)"
There is an edge case when `always-remove-listener` doesn't recognize a removed listener: the generic listenable that passed to the class.

* **Minimal reproducible code:** https://github.com/furaiev/always-remove-listener/blob/main/lib/main.dart
* **Dart code metrics version:** ^4.0.0
* **Dart sdk version:** 2.12.2 (stable)

[2021-06-17 18:37] incendial commented on #387
@furaiev big thanks for the example, seems like a problem with a controller being a field of a stateful widget and not of a state.

[2021-06-17 18:54] furaiev commented on #387
@incendial it's more tricky. If you replace ValueNotifier with e.g. ScrollController, and remove all generics <T>, the rule works as expected.
So, it seems like an issue only with Generic Listenable that being a field of a stateful widget and not of a state.

[2021-06-17 19:01] incendial commented on #387
Hmm... good to know, thanks. I've marked it as 4.1, but I hope we'll fix and release it sooner.

[2021-06-18 06:47] furaiev opened #388 "[Rule change] avoid-unused-parameters conflict with avoid_renaming_method_parameters"
**What rule do you want to change?**
`avoid-unused-parameters`

Projects created with flutter create using Flutter version 2.3.0-12.0.pre or newer are already enabled to use the latest set of recommended lints. One of the recommended lints is `avoid_renaming_method_parameters` that has a conflict with `avoid-unused-parameters`.
https://flutter.dev/docs/release/breaking-changes/flutter-lints-packag

[2021-06-18 06:49] dkrutskikh commented on #388
@furaiev thanks for feedback, please provide version of Dart Code Metrics

[2021-06-18 06:49] furaiev commented on #388
^4.0.0

[2021-06-18 06:54] furaiev commented on #388
Oh, it seems like this rule already excludes overridden methods as of the 4th version, correct?

[2021-06-18 07:01] #388 closed

[2021-06-18 07:53] grafovdenis opened #389 "[BUG] can't ignore cyclomatic complexity"
* **Dart code metrics version:** 4.0.0
* **Dart sdk version:** 2.13.3

**Please show your full configuration:**

I use default config for metrics, so `cyclomatic-complexity` is set to 20.

<details>

<summary>Configuration</summary>

[code]

</details>

**What did you do?**

I wrote complex function, which complexity is 21.

**What did you expect to happen?**

I'd like to ignore `cyclomatic-comple

[2021-06-18 13:39] incendial commented on #388
Yeah, we decided to remove this check exactly because of this conflict.

[2021-06-20 18:31] incendial opened #390 "[New rule] Prefer single widget per file"
**Please describe what the rule should do:**
The rule should recommend to have a single widget per file.

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[X] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about (it will be better if you c

[2021-06-20 18:39] incendial opened #391 "[New rule] Prefer matching widget file name"
**Please describe what the rule should do:**
The rule should recommend naming a widget and a file that contains the widget in the same way. Given the widget name `SomeWidget` then the containing file should be named as `some_widget.dart`.

**If your rule is inspired by other please provide link to it:**

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a pot

[2021-06-20 18:54] incendial opened #392 "[New rule] Comment ignored lints"
**Please describe what the rule should do:**
The rule should recommend commenting `// ignore` in order to give more context why this ignore is applied.

**If your rule is inspired by other please provide link to it:**
Inspired by [flutter style guide](https://github.com/flutter/flutter/wiki/Style-guide-for-Flutter-repo#comment-all-ignores).

**What category of rule is this? (place an "X" next to j

[2021-06-23 16:17] imtoori commented on #389
same here
actually I'm trying to disable cyclomatic complexity for the whole project and it's not working

[2021-06-23 17:09] incendial commented on #389
@imtoori oh, looks like we accidentally removed it, sorry. Are you trying to disable it for plugin or cli? Or both?

[2021-06-23 20:41] incendial commented on #387
Thanks again for the example, it seems that somehow `ValueNotifier<T>` resolves to `ValueNotifier<dynamic>` and `ValueNotifier<dynamic>` is not equal to `ValueNotifier<dynamic>` 😄

[2021-06-24 02:12] #389 closed

[2021-06-24 07:08] incendial commented on #387
@furaiev fixed in 4.0.1.

[2021-06-24 07:08] #387 closed

[2021-06-24 07:08] incendial commented on #389
@grafovdenis @imtoori fixed in 4.0.1.

[2021-06-24 15:45] imtoori opened #395 "[Question] use the package with melos"
I'm trying to use the package in a monorepo with several packages
We're using melos https://github.com/invertase/melos with a single `analysis_options.yaml` file in the root of the repo
The configuration in the ide is working fine, but I'm struggling to make it work in the cli

it seems like it's not taking the configuration options from the `analysis_options` file

Is there anything I should conf

[2021-06-24 15:54] dkrutskikh commented on #395
@imtoori thank you for interest in our project. Can you provide a minimal representative example?

[2021-06-24 17:53] incendial commented on #395
Could you please share the config, the expected result and the outcome you get?

[2021-06-25 08:00] imtoori commented on #395
https://github.com/GetStream/stream-chat-flutter/tree/feat/dart-metrics

I pushed the configuration I'm trying in this branch as a WIP commit to show what I'm trying to do

I'm adding the plugin in the top-level `analysis_options.yaml`

I added a melos script called `metrics` that runs
[code]
in every package

The output shows warnings and alarms that I haven't configured
For example it shows `num

[2021-06-25 18:46] incendial commented on #395
Thank you for the example, we'll take a closer look and return with a possible solution.

[2021-06-28 09:03] incendial commented on #395
@imtoori sorry for the delay, we found two problems so far:
1. Cli is not picking up the config from the root of the repo and there is no way to pass it. It works different for the plugin which explains why the plugin is working correctly.
2. There is no way to disable metrics, only to set up their thresholds. That works as initially intended, but now it seems inflexible and should be changed. So

[2021-06-28 09:15] imtoori commented on #395
ok it seems like it's not supposed to be used with melos using a single analysis_options 😢

I'm disabling certain metrics mostly because we're trying to enforce them gradually and not everything at once

thanks for looking into this btw  🙂

[2021-06-28 09:22] incendial commented on #395
Does it mean that it's a blocker for you to star using cli?

Hm, so will the approach to start with high thresholds actually work for you?

No problem, I'm really excited that you interested in our project and I hope we can resolve all issues.

[2021-06-28 09:29] imtoori commented on #395
yes I think this should work

I think so, we're trying to enforce the rules in our github actions

[2021-07-01 11:57] incendial commented on #395
@imtoori think we have an idea how to support your case with a single analysis_options file correctly, hope we'll release it soon.

[2021-07-05 14:32] plastb1r opened #398 "[BUG] Overriding extended config leads to rules configuration loss"
When disabling unique rules in analysis_options.yaml like that:

[code]

this disables the inherited order of class elements.

To solve this problem, you have to duplicate rules from the library, which is not great:

[code]

[2021-07-05 14:50] Parvinderjit opened #399 "[Dart Analyzer getting crashed on VS Code if Install this dependecies]"
* **4.0.1**
* **2.13.4**

**Please show your full configuration:**

<details>
include: package:flutter_lints/flutter.yaml
analyzer:
  plugins:
  - dart_code_metrics
  errors:
    unnecessary_overrides: warning
    avoid_function_literals_in_foreach_calls: ignore
dart_code_metrics:
  metrics:
    cyclomatic-complexity: 20
    lines-of-code: 100
    maximum-nesting-level: 5
    weight-of-class: 0

[2021-07-05 15:44] incendial commented on #398
@plastb1r hi, to disable a rule you should just remove it from the config. Passing `false` is not supported.

[2021-07-05 15:49] incendial commented on #398
And could you give more details about "duplicate" part? We don't provide default rules list.

[2021-07-05 15:51] grafovdenis opened #400 "[New rule] prefer-using-list-view"
**Please describe what the rule should do:**

It recommends to replace `Column` nested into `SingleChildView` with `ListView` when none of `Column`'s special params (`mainAxisAlignment`, `crossAxisAlignment`, etc.) were used.

**It's inspired by answer of _"What is the difference between ListView and SingleChildScrollView in Flutter?"_ question:**

https://stackoverflow.com/a/62147092

**What cate

[2021-07-05 15:52] incendial commented on #399
@Parvinderjit Hi, could you provide formatted version of the config you shared. It's kinda hard to guess. Also, do you have LSP mode on or off?

[2021-07-05 17:53] plastb1r commented on #398
@incendial, sorry, did not clarify the context. I'm trying to disable an already enabled rule that the connected lint package provides. In my case, this is `surf_lint_rules` , which has a configured dart-code-metrics with the specific order of elements in a class. And after overriding only one rule in my `analysis_options.yaml`, the order of class elements described in package is lost.

[2021-07-05 18:06] incendial commented on #398
Thanks for clarification!

[2021-07-06 08:30] grafovdenis opened #401 "[Rule change] allow to use block body and lambdas in avoid-returning-widgets"
**What rule do you want to change?**

[avoid-returning-widgets](https://github.com/dart-code-checker/dart-code-metrics/blob/master/doc/rules/avoid-returning-widgets.md)

**How will the change be implemented? (New option, new default behavior, etc.)?**

Allow to use block body and lambdas in builder.

Currently, only tear-off closure is accepted to pass avoid-returning-widgets rule.

**Please provi

[2021-07-06 15:41] Parvinderjit commented on #399
[analysis_options.yaml.zip](https://github.com/dart-code-checker/dart-code-metrics/files/6771140/analysis_options.yaml.zip)
Hi @incendial This is the analysis_option file. And for the LSP mode I didn't turned it on or off explicitly. I just installed the Flutter plugin in the vs code and using the default configurations. Please let me know if you need any other information

[2021-07-06 15:53] incendial commented on #399
@Parvinderjit  Thanks for providing the analysis_options file, it looks totally correct.

You can check lsp mode here:
<img width="927" alt="Screenshot 2021-07-06 at 18 47 52" src="https://user-images.githubusercontent.com/21116742/124630189-da0bed80-de8a-11eb-8755-fc606b7fe1fc.png">

Unfortunately, it's really hard to say, what's wrong. Any chance you can provide a reproducible example?

[2021-07-06 16:32] #395 closed

[2021-07-06 18:05] incendial commented on #395
@imtoori we published [4.0.2-dev.1 version](https://pub.dev/packages/dart_code_metrics/versions/4.0.2-dev.1) which should work correctly with melos and a single analysis options. Could you check it out and give feedback?

[2021-07-08 06:00] #398 closed

[2021-07-08 06:50] incendial commented on #398
@plastb1r sorry for misleading, we actually **do** support passing `false` and it's not added to the docs for some reason.

[2021-07-09 07:04] Parvinderjit commented on #399
Yes If try to run the analyzer in LSP mode in that case it is crashing.

[2021-07-10 08:03] dkrutskikh commented on #399
@Parvinderjit Hi! I reproduce similar situation only on Flutter stable channel. Could you switch on flutter beta/dev channel and recheck?

[2021-07-10 13:12] Parvinderjit commented on #399
@dkrutskikh Hi! I have tried it with flutter beta version (2.3.0-24.1). It is not crashing in LSP mode. But it is not analysing in the IDE itself. You can refer to the screenshot. Problem section in left and terminal output at bottom.

![Screenshot 2021-07-10 at 6 23 19 PM](https://user-images.githubusercontent.com/12973999/125163833-a1cb1e80-e1ac-11eb-9fed-f20e6e834861.png)

[2021-07-14 12:39] incendial commented on #395
@imtoori sorry for pinging, but we really want to know, that 4.0.2-dev.1 version fixes your problem before we can release it as 4.0.2. Any chances you can take a look at it?

[2021-07-15 06:57] imtoori commented on #395
Hi @incendial I'll try it today and let you know if that works! Thanks again!

[2021-07-15 15:24] imtoori commented on #395
@incendial that seems to work! Thanks a lot!

[2021-07-15 15:42] incendial commented on #395
@imtoori great! 🎉 🎉 🎉 Thanks a lot for checking! jfyi, we'll release a stable 4.0.2 after a small fix of a check unused files command.

[2021-07-20 20:11] incendial commented on #399
@Parvinderjit sorry for the delay. What do you mean by "not analyzing"? Metrics (`source lines of code` is a metric) report is not supported by the plugin integration, it's only supports rules and anti-patterns. And CLI reports all of them.

[2021-07-22 12:13] nikitadol opened #407 "need to update the analyzer version"
[code]

[2021-07-22 16:33] incendial commented on #407
@nikitadol Hi, thanks for reporting the issue, right now the migration is blocked by the `analyzer_plugin` package we depend on. We'll update our package right after the Dart team releases the new version of it.

[2021-07-22 19:57] incendial commented on #395
Ended up releasing it as 4.1.0 since it looks more like a feature.

[2021-07-28 05:49] dkrutskikh commented on #206
@btd1337 Sorry for delay, we finished updating the [documentation](https://dartcodemetrics.dev/docs/cli/analyze#gitlab) about work with GitLab.

[2021-07-29 14:18] grafovdenis opened #411 "[New rule] prefer_const_border_radius"
**Please describe what the rule should do:**
[BorderRadius.circular constructor](https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/painting/border_radius.dart#L292-L295) calls `const BorderRadius.all` constructor under the hood.
This rule allows to replace `BorderRadius.circular(radius)` with `const BorderRadius.all(Radius.circular(radius))` if `radius` is a constant value.
W

[2021-07-29 18:28] dkrutskikh commented on #274
@QuirijnGB @furaiev sorry for long response. Now you can try to use our [GitHub Action](https://github.com/dart-code-checker/dart-code-metrics-action).

[2021-08-04 15:59] incendial commented on #206
Closing this for now. Feel free to reopen it if the the documentation we have doesn't answer your question.

[2021-08-04 15:59] #206 closed

[2021-08-04 16:00] incendial commented on #274
Closing this for now. Feel free to reopen it if the the documentation we have doesn't answer your question.

[2021-08-04 16:00] #274 closed

[2021-08-07 11:47] nikitadol commented on #407
@incendial
`analyzer_plugin: ^0.7.0` Already available

[2021-08-07 17:34] incendial commented on #407
@nikitadol support for 2.0.0 analyzer is now available as 4.2.0-dev.2. We plan to release it as stable in a week or so.

[2021-08-09 19:29] incendial commented on #399
Closing this since there is no response. Feel free to reopen this issue if the problem remains.

[2021-08-09 19:29] #399 closed

[2021-08-10 05:30] lanbozhang opened #418 "[Question] can auto-fixes be available via ‘dart fix --apply’"
can we use ` dart fix --apply` to fix all issues that have "has auto-fix"

[2021-08-10 07:56] incendial commented on #418
@lanbozhang sorry, but no, `dart fix` doesn't provide any API for plugins to contribute to applied fixes. We have an open feature request to make it possible https://github.com/dart-lang/sdk/issues/46760. Before it's implemented, the only way to use quick fixed is from the IDE context menu as described here: https://dartcodemetrics.dev/docs/analyzer-plugin#applying-quick-fixes.

[2021-08-10 07:56] #418 closed

[2021-08-11 16:00] NaikSoftware opened #420 "[Rule change] long-parameter-list must take into account only required and positional parameters"
In Flutter can be 5-10 optional parameters. Check out all `.copyWith` methods, constructors. This rule make sense only for positional and required parameters.

[2021-08-13 10:52] zs-dima opened #422 "[BUG] Unhandled exception: type 'Null' is not a subtype of type 'Object' in type cast"
Reproduced with dart_code_metrics versions:
  dart_code_metrics: ^4.1.0
  dart_code_metrics: ^4.2.0-dev.1
  dart_code_metrics: ^4.2.0-dev.2

dart_code_metrics setup according documentation

[code]

exception appear on:

or

**What actually happened?**

[code]

[2021-08-13 10:53] dkrutskikh commented on #422
@zs-dima please attach your analysis_options.yaml

[2021-08-13 11:31] zs-dima commented on #422
Looks like analysis_options.yaml issue, sorry, works fine after flutter update and analysis_options.yaml re-create from documentation

[2021-08-14 12:40] hisaichi5518 opened #424 "[Question] What do you think of the ability for developers to add Custom Rules?"
If I want to set my own lint rule for my library or my app, I need to create my own analyzer_plugin. I am using dart-code-metrics and I want to achieve that only with dart-code-metrics.

So I would like to ask what you think about adding a setting to dart-code-metrics for developers to set their own rules for their libraries and apps.

For example, you may want to set up a custom rule as shown bel

[2021-08-14 17:28] incendial commented on #424
@hisaichi5518 to give a detailed response here I think we need more details about the expected API, so could you share your thoughts about that? Also, could you share a link to configuration you're talking about?

[2021-08-14 17:35] incendial commented on #420
The idea of this anti-pattern is to keep the amount of parameters small and it won't achieve its goal if only positional and required parameters will be taken into account. So, I think we won't change it that way. But we definitely should take into consideration ignoring `.copyWith`.

[2021-08-14 18:21] hisaichi5518 commented on #424
@incendial
Thanks for the reply!

The `build_runner` allows me to include code generation code in my packages. Similarly, I would like to include my lint rules  in my package with `dart-code-metrics`.

The features I expect to see are as follows

- I can write my own lint rule for my package.
- I don't have to create `tools/analyzer_plugin/bin/plugin.dart`.
- I wrote my own lint rule and added the

[2021-08-15 08:11] incendial commented on #364
@vHanda hi, do you still need this rule? I've opened a PR with the implementation and I think we'll release it in a week or so. Could you help us with running it on your codebase and providing feedback? If so, we can release it earlier in dev version.

[2021-08-15 10:06] incendial commented on #424
@hisaichi5518 okay, I think that I understand your question better now, thanks!

Here is my point of view:
First of all, the idea of Dart Code Metrics is to use existing analyzer API for code analysis (metrics, rules, etc.) and what you are asking looks like another layer on top of Dart Code Metrics which will be used basically the same way Dart Code Metrics uses analyzer API. And it kinda bothers

[2021-08-15 11:09] hisaichi5518 commented on #424
@incendial
After reading your response, I feel that this feature should not be included in the current Dart Code Metrics. Thanks!

The rules I want to make are as follows.

- I want to prohibit the use of a specific Flutter Widget.
  - Flutter provides material design widgets like TextButton, but we have created our own widget, and we want to detect when we use TextButton.
- I want to prohibit met

[2021-08-15 11:37] incendial commented on #424
@hisaichi5518 thanks for sharing the list!

First one looks very generic and probably can be useful for a broader audience, so if you could create a proposal with a detailed description (ex. https://github.com/dart-code-checker/dart-code-metrics/issues/332 or https://github.com/dart-code-checker/dart-code-metrics/issues/364) we'll implement it. The proposal will help us tweak the rule behaviour an

[2021-08-15 12:24] hisaichi5518 commented on #424
Side effect refers to the process of calling the API, etc. It can be difficult to set up rules without relying on application code.
I'll close this issue! Thank you for your time.

[2021-08-15 12:24] #424 closed

[2021-08-15 13:47] #148 closed

[2021-08-16 11:50] NaikSoftware commented on #420
@incendial not only copyWith. Check out SDK component constructors. In most cases they have many params, but only 1..3 is required.

[2021-08-18 18:16] incendial commented on #385
@roman-petrov could you please recheck if the problem still here? (sorry for taking your time, but I don't have Windows 😔)

[2021-08-18 18:36] incendial commented on #385
Thanks to Konstantin for pointing out that sdk path maybe wrong https://github.com/dart-lang/sdk/issues/46914#issuecomment-901337327. Could you also check if the path is correct?

[2021-08-19 06:22] roman-petrov commented on #385
@incendial I checked again if the issue is still there.

I see exactly the same result as before. I have two versions of Dart SDK installed on my machine. To be more precise, I have:
- Dart SDK installed at `D:\SDK\dart-sdk`: this is just unzipped archive from official Dart SDK downloads.
- Dart SDK from Flutter SDK: I use [fvm](https://fvm.app/) for Flutter version management

So I tried to compi

[2021-08-19 06:33] roman-petrov commented on #385
Just a bit more information, maybe I am repeating myself, but this is important: compiling dart code metrics to exe works fine, `metrics.exe` also seems to work fine (displays help, maybe some other functionality might work).

The crash happens only when I run analyzis us `metrics.exe analyze <path>` command.

[2021-08-19 15:45] scheglov commented on #385
Ah, I think I know why this happens.

[code]

And run it:

[code]

Well, yes, the executable is not `bin/dart` anymore, it is this compiled executable file. But we (the analyzer) still expect that it would be a binary in `dart-sdk/bin` for purposes of detecting the Dart SDK. Apparently we cannot do this anymore. And actually there is no way to detect the location of the Dart SDK now - if you don't

[2021-08-19 17:58] incendial commented on #385
@roman-petrov thank you for the detailed comment! By checking the path I meant checking that `path=D:\Projects\lib\_internal\libraries.dart` is a valid path to the Dart SDK, but I see that it's not needed anymore.

@scheglov that's exactly what I though when you mentioned that the path in the exception didn't look like a valid path to the Dart SDK, because we don't pass it and `AnalysisServer` doe

[2021-08-20 06:44] roman-petrov commented on #385
@scheglov thank you for all your help!

@incendial I just created a small WIP PR trying to check if having `sdk-path` CLI option may help Windows users to speed up analysis. I developed a custom workflow tool (linting, monorepo, testing, etc) for my company and I will be interested in using this option if compilation to EXE will give significant performance improvement.

Do you think that having s

[2021-08-22 10:30] incendial commented on #364
Available in 4.2.0 release.

[2021-08-22 10:30] #364 closed

[2021-08-22 10:30] incendial commented on #390
Available in 4.2.0 release.

[2021-08-22 10:30] #390 closed

[2021-08-22 10:31] incendial commented on #391
Available in 4.2.0 release.

[2021-08-22 10:31] #391 closed

[2021-08-22 10:31] incendial commented on #407
Available in 4.2.0 release.

[2021-08-22 10:31] #407 closed

[2021-08-22 12:28] incendial commented on #385
@roman-petrov we definitely need an ability to detect SDK correctly (especially, to unblock a use-case for compiled executable + package manager distribution), but I'm not sure, that it should be a CLI option (a quick look at `dart analyze` and `flutter analyze` showed that they don't take such option, but work properly).

Let's continue the discussion in PR.

[2021-08-22 22:51] vHanda commented on #364
Hi. I just tried it out.

It is wonderful. It has already caught a number of bugs. Thank you!!

[2021-08-23 05:04] incendial commented on #364
Happy to hear that! 🎉

[2021-08-24 07:30] dkrutskikh opened #433 "[Report extending] Extend JSON report for CodeMagic"

[2021-08-27 07:40] furaiev opened #435 "[Rule change] prefer-match-file-name: ignore characters after the first dot"
**What rule do you want to change?** prefer-match-file-name

**How will the change be implemented? (New option, new default behavior, etc.)?**
prefer-match-file-name rule will ignore characters after the first dot in the file name

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
consider the filename as incorrect

**Wha

[2021-08-27 11:05] gaetschwartz opened #436 "[BUG] avoid-unused-parameters reports parameters of abstract method as unused"
* **Dart code metrics version:** `4.2.0`
* **Dart sdk version:** `2.15.0-42.0.dev`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**

Dart Code Metrics not reporting the the parameter of the abstract method of the mixin

[2021-08-28 05:37] incendial commented on #435
Available in 4.2.1 🚀

[2021-08-28 05:37] #435 closed

[2021-08-28 05:38] incendial commented on #436
Available in 4.2.1 🚀

[2021-08-28 05:38] #436 closed

[2021-08-28 12:47] gaetschwartz commented on #436
@incendial Wow ! Thanks for the blazing fast fix !  🚀

[2021-08-28 18:08] incendial commented on #436
@gaetschwartz you're welcome! If you have any feedback about the tool, we'd be happy to hear it.

[2021-09-01 08:19] PlugFox opened #441 "[BUG] Prefer conditional expressions rule breaks code with increment / decrement operators."
![image](https://user-images.githubusercontent.com/7805176/131636501-b42851d7-ce93-45d1-82db-29f9b27a05de.png)

Source
[code]

Now rule suggestion
[code]

Need to suggest
[code]

[2021-09-01 08:23] PlugFox opened #442 "[New rule] Avoiding List<Future<T>> in function signature as return type"
Avoiding List<Future<T>> in public function signature as return type, since this does not make sense and complicates further interaction.

[X] Suggests an alternate way of doing something (suggestion)

**BAD:**
[code]

**GOOD:**
[code]

[2021-09-01 08:29] incendial commented on #442
@PlugFox hi, if it's a rule proposal, could you please fill the template like this one: https://github.com/dart-code-checker/dart-code-metrics/issues/391. If it's a change to an existing rule, please add a reference to it.

[2021-09-01 08:32] PlugFox opened #443 "Avoid forming and after that returning lists in loops"
Avoid forming and after that returning lists in loops.
Because double memory consumption with more reduant code.

With iterable result you can transform it to Stream
For example, to avoid affecting the interface and event loops: https://dartpad.dev/6fad9242381bf89af4c1f6110c429e1c?null_safety=true

With iterable result you can much more effective with `.skip(n).toList()` or `.first` or `.isEmpty`

[2021-09-01 08:33] incendial commented on #442
Also, the motivation behind it is not that clear - if I remember correctly you can` Future.wait` on a list of Futures.

[2021-09-01 08:39] PlugFox commented on #442
@incendial yeap, you can manipulate List<Future> INSIDE function, but returning List<Future> in PUBLIC function does not make sens.

Static method `wait`  takes `Iterable<Future>`, not returning.

The result of executing several functions is always Stream.
Quick fix for this: `Stream<T>.fromFutures(Iterable<T> functions)`

[2021-09-01 08:47] PlugFox commented on #443
As an example of incorrect code
![image](https://user-images.githubusercontent.com/7805176/131641188-6406170e-22e2-40e2-9beb-1c14f9a0efc5.png)

As an example of correct code
![image](https://user-images.githubusercontent.com/7805176/131641467-854fd8a2-201e-45f7-9098-35046572c438.png)

[2021-09-01 09:08] PlugFox commented on #443
You can use Iterable something like this to avoid impact on Event loop and User Interface

**!!! THIS IS NOT TESTED AND PRODUCTION READY CODE !!!**
[code]

But with List it's doesn't make sense.

[2021-09-01 09:26] PlugFox commented on #442
Also, `Future<Iterable>`/`Future<List>` also has something in common with reality, and in the overwhelming majority it is a public interface design error.

[2021-09-01 11:53] makstheimba commented on #262
@incendial
Hi! Any updates on this? We experience the same flickering behavior in VS Code when using dart-code-metrics 4.1.0 plugin with analyzer

[2021-09-01 14:09] merelj commented on #262
same issue, my dart version is:
Dart SDK version: 2.13.3 (stable) (Wed Jun 9 12:44:44 2021 +0200) on "macos_x64"

[2021-09-01 14:14] makstheimba commented on #262
@incendial Thanks for noticing my comment 🙏

My Dart version:
`Dart SDK version: 2.13.4 (stable) (Wed Jun 23 13:08:41 2021 +0200) on "macos_x64"`

Flutter doctor:
[code]

[2021-09-01 15:07] incendial commented on #262
@merelj @makstheimba if I'm not mistaken, flickering issues with enabled LSP mode were fixes in 2.14.

[2021-09-02 19:06] dkrutskikh opened #444 "[Report extending] JSON report to file"
Add ability report simultaneously in JSON format to a file and in a human-readable format to the console.

Something similar https://docs.pytest.org/en/6.2.x/usage.html#creating-junitxml-format-files

[2021-09-04 14:26] incendial commented on #442
Yeah, but what is the problem with having a function returning a `List<Future<T>>` and then a separate place where the result of this function is wrapped in `Future.wait`, for instance?

Right now it looks like this proposal addresses the problem of misunderstanding of what `List<Future<T>>` really does, because, as you highlighted, the docs mention that the `Stream` is for sequence of data and `L

[2021-09-04 14:36] incendial commented on #443
That's an interesting problem, but I think that the size of a list is a key issue here if we'll implement such rule - because for small lists, like from 5 to 100 items, it doesn't look like a need optimization and looks more like a false-positive to me. What do think? Maybe you have some measurements when the size of the list really starts matter?

[2021-09-04 19:24] PlugFox commented on #443
@incendial if you need download and save some picture.
Of couse you can download binary data in Uint8List and after that save it as File.

But it would still be correct to connect the download stream with IOSink.

So it is here.
I thought you were doing these rules in order to write the correct code, and not protect the wrong one)

In addition, the "correct" option is shorter and more practical)

[2021-09-09 09:54] jangruenwaldt commented on #279
Still doesn't work - my config on mac, plugin 2.4.1, dart 2.14.0

[code]

and reports tons of errors in integration_test, quite annoying.

[2021-09-09 10:08] dkrutskikh commented on #279
@jangruenwaldt rules-exclude landed in 4.3.0-dev.1 version, please try to use this version

[2021-09-09 10:10] jangruenwaldt commented on #279
Thanks for the fast answer, will give it a try and report

[2021-09-09 13:12] jangruenwaldt commented on #279
Is this supposed to work? Because for lib/models/user/user.dart _long-parameter-list_ still is marked as error

[code]

[2021-09-09 16:58] dkrutskikh commented on #279
@jangruenwaldt currently anti-patterns not support exclude per pattern, feel free to open proposal

[2021-09-09 17:40] jangruenwaldt commented on #279
Ah too bad, that would be great to have indeed.

[2021-09-09 17:51] jangruenwaldt commented on #420
I agree, I think the current lint is barely helpful

[2021-09-10 14:27] theSharpestTool opened #451 "[BUG] Double suggestions"
* **Dart code metrics version:** 4.2.1
* **Dart sdk version:** 2.14.0

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

Trigger suggestions list on VS Code Mac OS

**What did you expect to happen?**

Suggestions list will be displayed

**What actually happened?**

[2021-09-10 14:48] incendial commented on #451
@theSharpestTool hi, thanks for the report, could you please share do you have lsp preview mode enabled in VSCode?

[2021-09-10 15:02] theSharpestTool commented on #451
Hello @incendial . It is not added in `settings.json`. Do I need to set it `"dart.previewLsp": false`?

[2021-09-10 15:31] incendial commented on #451
Thanks, probably not. I'm not sure that it's a problem on our side and not the plugin integration. We'll investigate.

[2021-09-10 15:34] theSharpestTool commented on #451
@incendial thank you, because after I set `"dart.previewLsp": false` suggestions works fine. Looks like that was the reason

[2021-09-10 15:45] incendial commented on #451
@theSharpestTool oh, that's interesting and probably reduces the investigation scope, thanks!

[2021-09-13 05:45] zs-dima opened #454 "[FEATURE REQEST] Auto-Fix for the member-ordering-extended and member-ordering rules"
Could be nice to have Auto-Fix for the **member-ordering-extended** specially for the **alphabetize** option.

Could be nice to keep in mind possible **flutter_member_ordering** options:
https://github.com/flutter/flutter/wiki/Style-guide-for-Flutter-repo#order-other-class-members-in-a-way-that-makes-sense

[2021-09-13 06:15] dened commented on #454
I would say it be nice to have auto-fix for all rules if it is possible.

[2021-09-13 06:17] zs-dima commented on #454
@dened I mean specially for the **member-ordering-extended** as this rule leads to huge manual work for the existing projects.

[2021-09-13 06:38] zs-dima opened #455 "[BUG] Update Analyzer to 2.2.0"
Could be nice to Update Analyzer to 2.2.0+

[code]

[2021-09-13 15:14] DanTup commented on #451
This looks like an issue in the LSP initialisation when there are plugins. We register two completion providers:

[code]

Then when the plugin registers and we need to replace them, we only unregister one of them:

[code]

Then we re-register:

[code]

Since registration 3 was not removed, we end up with two Dart registrations, which results in VS Code asking for completions twice and the lists (w

[2021-09-13 17:46] incendial commented on #454
@zs-dima could please clarify, what do you mean by `Could be nice to keep in mind possible flutter_member_ordering options:`?

[2021-09-13 18:07] zs-dima commented on #454
@incendial thanks for looking into
I mean could be nice to be able to setup ordering to follow `flutter_member_ordering` suggestions.

[2021-09-13 18:40] dkrutskikh commented on #455
@zs-dima we release version 4.3.0 with support Analyzer to 2.2.x

[2021-09-13 19:21] #455 closed

[2021-09-14 11:12] ookami-kb opened #457 "[FEATURE REQUEST] Export CliRunner"
It would be useful to have `CliRunner` exported.

## Use case

We have a [package](https://pub.dev/packages/mews_pedantic) where we customize analyzer rules to share the settings across our products. Recently we've added `dart_code_metrics` as a dependency to share its configuration as well. The only problem so far is that we cannot use the CLI analyzer because of the restriction "Cannot run execu

[2021-09-14 15:12] incendial commented on #451
@DanTup thank you very much for investigating! Could you please clarify, fixing this requires changing the SDK and will be available only with a new SDK version, or it's the IDE integration problem?

[2021-09-14 15:34] incendial commented on #454
Ah, that's a great idea, but I think we'll be able to make it a default order only in the next major release.

[2021-09-15 08:59] DanTup commented on #451
@incendial [the fix](https://github.com/dart-lang/sdk/commit/f9512796e2f3531b177d63f3b75ec3a38c39435d) was in the LSP server in the SDK, so unfortunately it will require an updated SDK. Since there has just been an SDK release this might be a little way off, so disabling LSP is probably the easiest thing for now (at least until the fix is in a more stable SDK channel like beta). Sorry for the inco

[2021-09-15 17:40] incendial commented on #457
@ookami-kb could you share, why you don't want to call `dart_code_metrics` executable in target packages directly?

[2021-09-15 19:17] ookami-kb commented on #457
@incendial we add dependency for `dart_code_metrics` to our `mews_pedantic` package. That means that for our end apps `dart_code_metrics` is a transitive dependency, so in this end app I cannot just run `flutter pub run dart_code_metrics:metrics lib` since it will give an error: "Cannot run executables in transitive dependencies".

[2021-09-16 08:47] incendial commented on #457
Ah, I see, thanks. Have you tried global activate or it's less convenient for you? I'm asking, because I think we should avoid exporting `CliRunner` since it's more like our internal implementation and it's better to avoid a situation when we'll need to create major package updates to update it.

[2021-09-16 09:03] ookami-kb commented on #457
Yeah, it's less convenient since:

- We cannot enforce some specific package version if needed;
- We need another step in CI pipeline.

But I can understand your point as well.

[2021-09-16 11:09] roman-petrov commented on #333
Сlosing since it's answered / solved recently in https://github.com/dart-code-checker/dart-code-metrics/pull/452

[2021-09-16 11:09] #333 closed

[2021-09-16 12:06] ookami-kb opened #458 "[Rule change] `prefer-extracting-callbacks` shouldn't trigger on empty callback"
**What rule do you want to change?**

prefer-extracting-callbacks

**How will the change be implemented? (New option, new default behavior, etc.)?**

New behavior: if the callback is empty, it shouldn't trigger the rule. Having an empty callback doesn't make the readability worse.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for thi

[2021-09-16 13:45] incendial commented on #458
@ookami-kb good catch! If you want to implement it by yourself please let me know if you have any questions about the contribution process.

[2021-09-16 15:58] incendial commented on #451
No problem and thanks for the details!

I'm closing this issue for now. For anyone, who faces the same problem and has the SDK version below 2.15.0-103.0.dev: you need to disable LSP mode in VS Code setting "dart.previewLsp" as false.

[2021-09-16 15:58] #451 closed

[2021-09-16 15:59] incendial commented on #286
Available in 4.3.0 version.

[2021-09-16 15:59] #286 closed

[2021-09-17 06:23] roman-petrov opened #459 "[Feature request] Configuration presets"
At the moment to configure dart code metrics users generally should follow [Configuration](https://dartcodemetrics.dev/docs/getting-started/configuration) guide and enable/configure rules they need in `analysis_options.yaml`.

For common Dart linter rules, there are many packages with rule presets, including official `lints` & `flutter_lints` packages. A similar mechanism exists in popular [eslint

[2021-09-17 07:50] incendial commented on #459
Good news is that we already support overriding / merging mechanism for the analysis_options config. So, we just need to add the presets. But I personally think it's really inefficient to add ALL rules to a `preset_all`, especially, since we have rules for DartAngular. I think we should create several presets for flutter and dart, like flutter_all, flutter_recommended, dart_all, dart_recommended a

[2021-09-17 08:08] roman-petrov commented on #459
I completely agree with you, I had the same thoughts. Nothing more to say :)

[2021-09-20 15:23] incendial commented on #457
I've checked Dart SDK repo and it looks like this limitation is intentional: https://github.com/dart-lang/sdk/issues/23426

How do you solve this problem right now? Maybe you can start with `src` imports and see how it goes?

[2021-09-20 15:27] ookami-kb commented on #457
Yes, it's exactly what I did for now.

[2021-09-20 17:51] PTLam25 opened #466 "[BUG] dependency issue auto_route_generator: ^2.4.0 with dart_code_metrics: ^4.3.1"
* **Dart code metrics version:*4.3.1*
* **Dart sdk version:*2.14.2*

**What did you do? Please include the source code example causing the issue.**
Running pub get command.

**What did you expect to happen?**
No dependency issue **auto_route_generator**: ^2.4.0 and **dart_code_metrics**: ^4.3.1

**What actually happened?**
![image](https://user-images.githubusercontent.com/83693224/134049899-9d91a

[2021-09-20 19:01] dkrutskikh commented on #466
@PTLam25 fixed in 4.3.2 version

[2021-09-20 19:01] #466 closed

[2021-09-22 07:42] roman-petrov opened #470 "[Question] What do you think about conventional changelog generation?"
Сurrently we have to manually update `CHANGELOG.md` for each feature. What do you think about automatically generating changelog using [conventional changelog](https://github.com/conventional-changelog/conventional-changelog) tools or GitHub action like [this one](https://github.com/TriPSs/conventional-changelog-action) ?

[2021-09-22 17:52] zs-dima opened #471 "[BUG] Too slow execution."
Running dart-code-metrics with GitHub actions taking too big time.
It is more then 2 minutes for now.
In compare analytics taking less then 40 seconds.

Could be nice to take small base Docker image for the code-metrics:
https://hub.docker.com/r/plugfox/flutter
or even https://hub.docker.com/_/dart

[2021-09-23 07:21] roman-petrov opened #472 "[New rule] avoid-dynamic"
**Please describe what the rule should do:**

The rule should entirely prohibit using the `dynamic` keyword. There are plenty of standard Dart linter rules disallowing `dynamic`, but it seems they are not strict enough. `dynamic` is usually intended to be used for dynamic data, like JSON. Using `dynamic` without intention in strictly typed code might lead to runtime errors. I am starting to see th

[2021-09-23 16:27] johnnyasantoss commented on #422
Having an empty `linter` prop on root of the yaml file makes this error appear.
Like so:

[code]

[2021-09-23 16:29] dkrutskikh commented on #422
@johnnyasantoss please attach your analysis_options.yaml

[2021-09-23 16:40] johnnyasantoss commented on #422
[code]

[2021-09-23 17:08] dkrutskikh commented on #422
@johnnyasantoss thanks - I can repro, I'm taking a look.

[2021-09-23 17:56] dkrutskikh commented on #422
@johnnyasantoss fixed in version 4.3.3. Could you please check?

[2021-09-23 18:08] johnnyasantoss commented on #422
@dkrutskikh it works perfectly now :)

[2021-09-23 18:41] #422 closed

[2021-09-24 06:10] roman-petrov opened #474 "[New rule] prefer-immediate-return"
**Please describe what the rule should do:**

The rule should disallow declaring variables just before returning them.

**If your rule is inspired by other please provide link to it:**

The rule is the same as [prefer-immediate-return](https://github.com/SonarSource/eslint-plugin-sonarjs/blob/master/docs/rules/prefer-immediate-return.md) from `eslint-plugin-sonar-js`.

**What category of rule is t

[2021-09-26 08:59] incendial commented on #472
@roman-petrov could you please provide some examples of these rules and the cases that are missed?

[2021-09-27 13:08] roman-petrov opened #475 "[Question] Documentation: single source of truth"
As I see at the moment we have two sources of documentation with duplicate content.

So problems I see here:
* When contributors add new rules or modify existing rules they update rule documentation on this repository and have to publish one additional PR to [website](https://github.com/dart-code-checker/website) repository with the same documentation updates.
* It is actually almost impossible to

[2021-09-27 14:51] roman-petrov commented on #472
Actually, after looking into all Dart rules I see just one rule which protects from calling dynamics, [avoid_dynamic_calls](https://dart-lang.github.io/linter/lints/avoid_dynamic_calls.html).

So I do not see any way how to prohibit codes like

[code]

This is almost a real code I found when reviewing code coming from an inexperienced developer. I do not know why some people write such code, but a

[2021-09-27 15:07] incendial commented on #472
What about this one https://dart-lang.github.io/linter/lints/avoid_annotating_with_dynamic.html ?

[2021-09-27 15:17] incendial commented on #475
The docs in this repo are just a part of migration to website. We'll remove them soon. The README file already has no links to it, the issues also point out to website.

[2021-09-27 15:19] incendial commented on #475
But yeah, syncronization is a bit of a problem, do you have any suggestions on how we can automate checking for a PR in the website?

[2021-09-27 16:56] roman-petrov commented on #475
Unfortunately I do not know any synchronization tools that would be helpful for our case. I didn't knew that docs here are hosted temporarily and will be removed in future so I think we can just close my question if in future we will get all docs hosted in website repo. If I will have some ideas about synchronization - I will open a new issue with a proposal.

[2021-09-27 16:56] #475 closed

[2021-09-27 16:58] roman-petrov commented on #472
So is now the idea clear, do you think this rule would be valuable?..

If so - lets have it opened, maybe I or someone else will make a PR for it.

[2021-09-28 07:27] roman-petrov opened #477 "[New rule] avoid-useless-type-checks"
**Please describe what the rule should do:**

The rule should disallow useless type checks with `is` operator. During code review I started to see useless type checks and see that people even try to perform null checks using `is` operator.

Performing null checks using `is` operator is quite bad practice in my opinion because the analyzer will not warn even if LHS is non nullable. For example,

[c

[2021-09-28 12:57] fryette opened #479 "[BUG] Memory leak"
* **Dart code metrics version:** 4.3.3
* **Dart sdk version:** 14.2

We have a mono repo project with around 21 subprojects. After start analyzing memory consumption increased dramatically from 1 to 5GB, after each `flutter pub get` increased again on more than 5GB. We checked that it's doesn't happening if we remove `dart_code_metrics`.

More details can be founded here
https://github.com/flutter

[2021-09-28 13:38] incendial commented on #479
@fryette could you clarify, calling `flutter pub get` in the same subproject increases the memory consumption or in a different one? Or it doesn't matter?

[2021-09-28 13:52] fryette commented on #479
@incendial every subproject where `dart_code_metrics` added increased memory consumption with `flutter pub get` execution.(we have code metrics in every sub project)

[2021-09-28 18:05] incendial commented on #479
@fryette thanks for clarification, looks like the problem is investigation by the analyzer team. Hope, we'll figure out the fix.

[2021-09-28 21:13] fryette commented on #479
Seems they fixed it, need to check it with the next release.

Close for now.

[2021-09-28 21:13] #479 closed

[2021-09-30 06:26] roman-petrov opened #481 "[New rule] prefer_list_first"
**Please describe what the rule should do:**

During code review, I usually suggest using `List.first` instead of `List[0]` for better readability. Just noticed that I am [not alone here](https://github.com/dart-lang/linter/pull/2967/files). :)

**If your rule is inspired by other please provide link to it:**

Nope.

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warn

[2021-10-03 08:35] incendial opened #485 "[5.0] Next major release breaking changes"
All regular and breaking changes for the next major release will be listed here.

- [x] Replace `member-ordering` rule with `member-ordering-extended` keeping `member-ordering` name https://github.com/dart-code-checker/dart-code-metrics/pull/1041
- [x] Change `member-ordering` default order to be Flutter oriented https://github.com/dart-code-checker/dart-code-metrics/pull/1043
- [x] Review all rul

[2021-10-03 08:49] incendial commented on #472
Yes, I think it's pretty solid especially for the Dart newcomers.

[2021-10-04 15:37] dkrutskikh commented on #458
Landed in 4.4.0

[2021-10-04 15:37] #458 closed

[2021-10-05 15:45] LeandroMoura3 opened #492 "[Rule change] Order type then variable"
Add a option in member-ordering to allow order types then order variable names.

Example:

String a;
String z;
double f;
double e;
int x;

to

double e;
double f;
int x;
String a;
String z;

[2021-10-08 09:10] NaikSoftware opened #495 "[Rule change] long-parameters-list - ignore optional prameters"
Its normal to have 5+ parameters in flutter if only 1..3 required. For example:
![image](https://user-images.githubusercontent.com/4218994/136529842-f8773b25-36f4-4de1-bbd2-e892c66349b1.png)
Typical API request - only 3 parameters required, but we need to have ability to customize some parameters sometimes.

I think this rule created for avoiding `functionCall(p1, p1, p3...., p5)` but it is not my

[2021-10-12 18:16] DowsingUK opened #499 "[BUG] invalid line number for `source_lines_of_code` metric result"
* **Dart code metrics version: 4.4.0**
* **Dart sdk version: 2.14**

**Please show your full configuration: Flutter 2.5 skeleton template**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
I created a Flutter 2.5 skeleton template and then run,,,
flutter pub ru

[2021-10-15 17:45] incendial commented on #472
@roman-petrov seems like there is a new rule https://dart-lang.github.io/linter/lints/avoid_dynamic_calls.html, is it what you wanted?

[2021-10-15 19:17] roman-petrov commented on #472
@incendial, `avoid-dynamic-calls` as I know, is actually pretty old rule. And no - this is not the rule I wanted: it disallows only dynamic calls as shown in the docs.

My idea is to totally disallow using `dynamic` keyword. In regular Dart / Flutter code there is usually no need to use dynamic. `dynamic` keyword is usually being used in some interop code when manipulating with "dynamic" data: JSO

[2021-10-15 20:49] luca-venir commented on #371
This is... actually awesome! Is this feature going anywhere soon? I wish I could help by implementing it myself, unluckily I'm not skilled enough, yet.

[2021-10-16 17:11] incendial commented on #371
We currently have different options on how to implement dept cost calculation and no final vision yet. So, I don't think that we'll add it very soon, but more likely in several months.

[2021-10-16 17:18] incendial commented on #472
I disagree, I think this check is pretty decent, but I still trying to understand its proper scope and that's why there are additional questions and other rule examples. But it looks like I finally get it. Thank you!

[2021-10-19 13:29] c-antin opened #509 "[BUG] excludes not working on Windows 10"
* **Dart code metrics version:** 4.4.0
* **Dart sdk version:** 2.13.0

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?** Excludes working on Windows 10

**What actually happened?** Excludes not working

**Are you willing

[2021-10-19 16:35] dkrutskikh commented on #509
@c-antin in which mode (cli / ide plugin / github action) does the problem appear?

[2021-10-20 06:45] roman-petrov opened #514 "[Proposal] Merge "website" repository into "dart-code-metrics" repository"
## Problem

Currently when updating code in `dart-code-metrics` we often also must update documentation which is moved into `website` repository.

From my experience documentation quite often is located in the same repository as code so typical PR contains code & documentations updates. This was true for dart code metrics before `website` repository was introduced.

As I understand, new (current)

[2021-10-20 15:55] furaiev opened #515 "[BUG] no-magic-number doesn't work in array of widgets"
* **Dart code metrics version:** 4.4.0
* **Dart sdk version:** 2.12.2 (stable)

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

<details>
<summary>Min reproducible example</summary>

[code]
</details>

**What did you do? Please include the source code example causing the issue.**

![image](https://user-images.githubusercontent.com/33546696/

[2021-10-22 07:50] #499 closed, assigned to dkrutskikh, incendial

[2021-10-22 08:18] roman-petrov opened #520 "[Rule change] Rename rules prefixed with `no-` to use `avoid-` prefix"
We have some rules with `avoid-` and `prefer-` prefixes. But there are also (old?) rules starting with `no-` like 'no-magic-numbers`, 'no-empty-block`. I propose to rename these rules in next major (5.0?) release to `avoid-magic-number`, `avoid-empty-block`, etc.

This will be breaking change and I think we should deprecate old names first and completely stop supporting these old names in a few re

[2021-10-22 11:00] roman-petrov opened #521 "[BUG] Website documentation outdated?"
In this repository README there are command line options like:

[code]

These options are also reported in help text when running `metrics analyze`. I not see these options on [website](https://dartcodemetrics.dev/docs/cli/analyze), am I missing something or website is a bit outdated?

[2021-10-22 14:29] #521 closed, assigned to dkrutskikh, incendial

[2021-10-24 00:43] HudsonAfonso opened #522 "Metrics warning is not showing up [android studio]"
it's normal?

[code]

`flutter pub run dart_code_metrics:metrics analyze lib`
[code]

on android studio shows:
Block is empty. Empty blocks are often indicators of missing code.

[2021-10-24 05:00] dkrutskikh opened #523 "Calculate Project Costs"

[2021-10-24 05:01] #523 closed, assigned to nobody

[2021-10-24 12:03] furaiev opened #524 "[BUG] check-unused-l10n doesn't find methods called via context"
* **Dart code metrics version:** 4.5.0
* **Dart sdk version:**  2.12.2 (stable)

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
the command consider `S.of(context).title` as used l10n

**What actually happened?**
the c

[2021-10-27 21:11] pablobaldez opened #526 "[Question] How to use the github action in a project with multiple packages"
I can use [melos](https://melos.invertase.dev/) to handle multiple packages and generate html reports from metrics, but how to use the github action provided by you to check all project packages?

[2021-10-28 17:21] m-skolnick opened #528 "[BUG] Extreme CPU and Memory Usage"
I'm not sure if this should be a question or a bug:

Is there a way to reduce the CPU and Memory load of the plugin?

I am using VSCode. When I set `dart_code_metrics` as an analyzer plugin I am seeing an immediate and sustained jump in CPU and Memory usage on my Macbook Pro 2.4ghz 32gb ram.

Here is my `pubspec.yaml`. I'm currently on flutter version 2.5.1

[code]

Here is my `analysis_options.ya

[2021-10-30 11:54] fredgrott opened #531 "[BUG] exclude still not working"
exclude still not working as I tried the 4.5.0 release and it still flags things in the test folder when I have it set to exclude it.

But, the dep issue is gone, thanks for the update solving that!

[2021-10-30 15:37] incendial commented on #531
@fredgrott hi, could you share the config and the platform you use? cc @roman-petrov @dkrutskikh

[2021-10-30 17:23] incendial commented on #514
Thank you for staring this discussion, website is now a part of this repo. The separate repo is archived.

[2021-10-30 17:23] #514 closed

[2021-10-30 18:45] incendial commented on #385
Fixed in 4.5.0 release.

[2021-10-30 19:55] incendial commented on #385
Fixed in 4.6.0 release.

[2021-10-30 19:55] #385 closed

[2021-10-31 11:05] roman-petrov commented on #514
@incendial , thank you. Hope the new workflow with website & code in the same repository will not have serious disadvantages.

[2021-10-31 11:15] roman-petrov commented on #531
I had problems with rule specific excludes not working on Windows (in both CLI and analyzer plugin). But I don't see this problem after [I fixed this](https://github.com/dart-code-checker/dart-code-metrics/pull/518) in 4.5.0.

So we definitely need more details here:
- `analysis_options.yaml` file
- What operating system do you use?
- Is the problem happening only on both CLI / and IDE?
- What IDE

[2021-11-01 10:20] roman-petrov opened #536 "[New rule] avoid-global-state"
**Please describe what the rule should do:**
The rule should violate on not final and non-const top-level variables.

Having many **mutable** global variables inside application is a [pretty bad practice](https://www.google.com/search?q=global+variables+bad+practice):
* application state becomes distributed between multiple files
* application state is not protected: it can be modified in almost a

[2021-11-01 20:19] m-skolnick commented on #528
I'm still seeing the same on flutter 2.5.3.

CPU usage is definitely the highest in the first few minutes.. 90% - 190%, then it's dropping to around 40% after 5 min.

Memory however, steadily climbs to around 5,000 MB, and it stays there no matter how long I let it sit.

First 5 min:
![Screen Shot 2021-11-01 at 4 14 15 PM](https://user-images.githubusercontent.com/24857258/139736251-42fdc2fa-f9d4-

[2021-11-02 04:22] roman-petrov commented on #477
Just an example commit in Flutter https://github.com/flutter/flutter/pull/77103/commits/218c0239db5ef4b0b1ac862a6f84f2374b18c89c

[2021-11-05 18:04] incendial commented on #531
@fredgrott sorry for ping, but any chances you can provide more details?

[2021-11-06 06:40] dkrutskikh opened #545 "[Enhancement] Rework HTML report"
- [ ] https://github.com/dart-code-checker/dart-code-metrics/issues/546

[2021-11-06 06:43] dkrutskikh opened #546 "[Enhancement] Update HTML report dart syntax theme"
Rework css theme with theme dark theme support for dart code

[2021-11-06 14:50] dkrutskikh commented on #371
Sub steps:
https://github.com/dart-code-checker/dart-code-metrics/pull/502

[2021-11-09 20:14] HFabi commented on #515
I tried to fix this bug https://github.com/dart-code-checker/dart-code-metrics/pull/551

[2021-11-10 01:19] #531 closed

[2021-11-11 11:30] denis-afanasev opened #552 "[BUG] avoid-ignoring-return-values triggers on Future<void>"
I'm not sure if this should be a question or a bug:

I have an extension method with `Future<void> extensionName(... some args ...)` signature.

After call extension method like `await anObject.extensionName(... some args ...)` I'm getting `Avoid ignoring return values.` message.

The documentation of that rule (https://dartcodemetrics.dev/docs/rules/common/avoid-ignoring-return-values) says nothi

[2021-11-11 14:06] incendial commented on #552
@denis-afanasev hi, looks like a bug to me, we don't check for extension methods.

[2021-11-11 18:53] PlugFox opened #554 "[New rule] Prohibiting the use of recursions, including tail recursions."
Prohibiting the use of recursions, including tail recursions.
Because dart [lack off support tail call optimisation](https://github.com/dart-lang/language/issues/1159) and you can obtain `Maximum call stack size exceededError`.

And after that recursion is more resource demanding then normal loops.

-[x] Warns about a potential error (problem)
-[ ] Suggests an alternate way of doing something (sug

[2021-11-12 11:22] PlugFox opened #556 "[Enhancement rule] Avoid throw in catch block for Dart 2.16"
Avoid `throw` in `on ... catch (e, st) { }` block
Instead `throw` you must use [`Error.throwWithStackTrace`](https://api.dart.dev/dev/2.16.0-9.0.dev/dart-core/Error/throwWithStackTrace.html)

- [ ] Warns about a potential error (problem)

### Bad:
[Dartpad](https://dartpad.dev/1c955e7442f8a08e1cebee4d96177648?id=&null_safety=true)
[code]

### Good:
[code]

https://api.dart.dev/dev/2.16.0-9.0.dev/d

[2021-11-12 15:13] dagba opened #557 "[New rule] Always put a newline between statements"
This rule requires or disallows blank lines between the given 2 kinds of statements. Properly blank lines help developers to understand the code.

For example, the following configuration requires a blank line between a variable declaration and a return statement.

**Bad:**
[code]

**Good:**
[code]

[2021-11-22 03:56] dened opened #562 "[New rule] avoid-missing-enum-constant-in-map"
Because dart doesn't have a enum with value we often use extension with different maps which allow to extend enums.

It will be cool to have a rules that checks that we define all enum values in maps

[X] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

[code]

[2021-11-22 10:05] incendial commented on #557
@dagba hi, could you add some info about the motivation behind this rule?

[2021-11-22 14:05] incendial commented on #562
Available in 4.7.0 release 🚀

[2021-11-22 14:05] #562 closed

[2021-11-22 14:06] incendial commented on #524
Available in 4.7.0 🚀

[2021-11-22 14:06] #524 closed

[2021-11-22 14:07] incendial commented on #515
Available in 4.7.0 🚀 big thanks to @HFabi for the fix!

[2021-11-22 14:07] #515 closed

[2021-11-22 14:07] incendial commented on #477
Available in 4.7.0 release 🚀

[2021-11-22 14:07] #477 closed

[2021-11-22 14:09] #556 closed

[2021-11-22 15:49] #289 closed

[2021-11-22 16:38] #40 closed

[2021-11-22 16:39] incendial commented on #40
Implemented here: https://github.com/dart-code-checker/dart-code-metrics/issues/477

[2021-11-23 04:51] NickBalnaves opened #566 "[New rule] Capitalize comments"
A rule to ensure comments are formatted as sentences https://dart.dev/guides/language/effective-dart/documentation#do-format-comments-like-sentences.

There is an existing eslint rule which capitalizes comments: https://eslint.org/docs/rules/capitalized-comments.

Good
[code]

Bad
[code]

[2021-11-24 09:34] dkrutskikh opened #568 "[Web] Add known issues page"
Add information about cases
- https://github.com/dart-code-checker/dart-code-metrics/issues/451

[2021-11-24 20:22] furaiev opened #570 "[BUG] check-unused-l10n doesn't find methods called via getter"
* **Dart code metrics version:** 4.7.0
* **Dart sdk version:**  2.14.4 (stable)

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**Code details**
[code]

**What did you expect to happen?**
the command consider `S.current.title` as used l10n

**What actua

[2021-11-25 18:30] #147 closed

[2021-11-25 18:32] incendial commented on #146
Closing due to https://github.com/dart-code-checker/dart-code-metrics/issues/520

[2021-11-25 18:32] #146 closed

[2021-11-25 18:41] #11 closed

[2021-11-25 18:42] incendial commented on #262
Closing due to missing reproduction steps. Feel free to reopen if the issue is still there and has repro steps in the VS Code.

[2021-11-25 18:42] #262 closed

[2021-11-29 13:44] amatkivskiy opened #574 "[Feature request] Sort by any columns in HTML report"
Hi all,

First of all, thanks for such a handy tool for developers 👍

The only difficulty that I have now: sometimes in  HTML report you really need to sort files (packages) by different columns (like _Cyclomatic complexity_ or _Source lines of code_ or any other). Unfortunately, it is not possible right now 😞

One of the ways to fix this that I found is to add `jquery-*.min.js` lib to every HTML

[2021-11-29 16:12] incendial commented on #574
@amatkivskiy hi, thank you for your feedback! We're planning to redesign html reports and make then more usable. We didn't consider adding sorting, but it looks pretty easy to add. Let's leave this issue open unless we publish redesigned reports.

[2021-11-29 16:18] incendial commented on #528
@m-skolnick hi, so sorry for the long response. It's really hard to say, where the memory leak comes from and we'll need to investigate it better. I think one way to check would be to create an empty plugin and get the memory load metrics. I think we can do this in a few weeks.

[2021-11-29 16:53] amatkivskiy commented on #574
@incendial Thanks for feedback 👍

[2021-11-30 08:45] vmalyi commented on #528
Experiencing the same issue with Flutter 2.5.3, on macOS 11.6 in VS Code 1.62.3. See `analysis_options.yaml` attached.

Removing the `dart_code_metrics` from `plugins` in `analysis_options.yaml` helps to bring resource utilization to a normal level but of course deactivates the plugin itself.

Thanks for looking into that!

[analysis_options.yaml.zip](https://github.com/dart-code-checker/dart-code

[2021-11-30 17:37] incendial commented on #528
@vmalyi could you test the performance with a single rule in config, for instance:
[code]

and check if there is any difference?

[2021-11-30 18:03] incendial commented on #528
I think the same. The only problem now is to understand from where the bug comes from: it's either the integration or our code. Since we don't save any state between file analysis, I'd bet on the integration. But we still need a proof.

[2021-12-02 16:35] dkrutskikh commented on #371
Available in 4.8.0 release 🚀

[2021-12-02 16:35] #371 closed

[2021-12-02 16:36] dkrutskikh commented on #492
Available in 4.8.0 release 🚀

[2021-12-02 16:36] #492 closed

[2021-12-02 16:37] dkrutskikh commented on #441
Available in 4.8.0 release 🚀

[2021-12-02 16:37] #441 closed

[2021-12-06 15:23] vmalyi commented on #528
Sure, @incendial!

As you asked, I've left only the `newline-before-return` rule and ran "Developer: Reload Window" command.

After analysis has finished (it took a couple of minutes), the analyzer identified 256 errors but resource usage according to  _Analysis Server Diagnostics_ was still high:
- CPU: 93.2%
- Memory: 3,301 MB

<img width="688" alt="Bildschirmfoto 2021-12-06 um 16 20 54" src="ht

[2021-12-06 15:27] incendial commented on #528
@vmalyi thank you! One last question - doest it consumes less memory / CPU with a single rule enabled or it's about the same amount?

[2021-12-06 15:29] vmalyi commented on #528
Regardless of the number of rules activated, it consumes the same high amount of memory: the resource utilization is roughly the same with a single or multiple rules activated.

[2021-12-06 15:33] incendial commented on #528
Thank you! That helps a lot. It looks more like an analyzer issue, then ours. May I ask you to check one more thing?

[2021-12-06 15:34] vmalyi commented on #528
Sure, go ahea, @incendial, happy to help investigating this!

[2021-12-06 15:35] incendial commented on #528
Could you install another plugin, for example this one https://github.com/incendial/dartup-plugin-example and check how much memory it will consume? It's not published in pub, you need to set it up locally.

[2021-12-09 17:37] Pomis opened #590 "[New rule] Build method metrics"
Would be nice to have separate metrics for build method, since some developers tend to bloat them.

I would propose having two metrics,
[code]
One, that would basically count lines of code. I assume, build method could be allowed to be a bit longer that regular methods, so in some project this separation could be useful.
Another one to count, how many widgets are nested to each other

**What categ

[2021-12-09 17:41] ookami-kb commented on #590
Probably, it could be useful to have a suggestion for extracting the widget, if:
- it's complex enough (has more than `N` subwidgets);
- has no dependency on the current widget.

[2021-12-10 09:52] Cilestal commented on #590
I think it could be a useful change for Flutter developers

[2021-12-11 15:21] vmalyi commented on #528
@incendial I gave that `string_finder_plugin` a try in our project and CPU utilization was a little above 100% during the 1st minute after reloading VS code window but after this (starting from approx. 1:15) normalized to 4-5% and remained at the same level.

<img width="762" alt="Bildschirmfoto 2021-12-11 um 16 17 23" src="https://user-images.githubusercontent.com/1609148/145681808-20571d2c-cabc-

[2021-12-12 07:41] incendial commented on #528
@vmalyi thank you! That changes everything. Looks like the problem is in our code 🤔. We'll investigate it further.

[2021-12-12 08:04] incendial commented on #528
I'll post an update today.

[2021-12-12 11:10] incendial commented on #528
I have a medium sized Flutter project and here are the results

with Dart Code Metrics from pub:
<img width="431" alt="Screenshot 2021-12-12 at 13 26 58" src="https://user-images.githubusercontent.com/21116742/145708801-df4f199e-8f9e-4728-89b0-cf008e0a0912.png">

without Dart Code Metrics:
<img width="461" alt="Screenshot 2021-12-12 at 13 27 15" src="https://user-images.githubusercontent.com/21116

[2021-12-12 12:29] incendial commented on #528
Hm, now I'm getting ~1200MB for just plugin creation, which is very strange...

[2021-12-12 20:37] purplenoodlesoop opened #607 "[New rule] Implement a class instead of extending it when it is semantically an interface"
**Please describe what the rule should do:**

The rule should suggest swapping the `extends` keyword to the `implements` keyword if the class that is being extended follows two rules:

  1) Is abstract.
  2) Does not contain any implementations.

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[x] Suggests an alternate way of doi

[2021-12-14 12:58] incendial commented on #528
Just for transparency, this problem is actively discussed in https://github.com/flutter/flutter/issues/95092

[2021-12-14 14:18] m-skolnick commented on #528
Thank you. This is a good read ^

[2021-12-14 14:49] incendial commented on #528
Sure, hope we'll come to a solution together.

[2021-12-23 19:27] dvorapa opened #616 "[Question] For GitHub Action, do I need also to edit analysis_options.yaml?"
**What do you want to discuss?**
I couldn't find anything about this topic in the docs. Also is there any default about what to use in analysis_options? I'm used to CodeClimate (from Python) where everything is quite preset, you just need to adjust, when something is too strict/loose.

[2021-12-23 19:28] dvorapa opened #617 "[Question] How to specify multiple folders in GitHub Action?"
**What do you want to discuss?**
This was my attempt (doesn't work, but should be yaml correct):
[code]

[2021-12-24 00:03] diegoveloper commented on #570
Same issue with extensions:

[code]

If we call :

[code]

That's not considered as used i10n.

[2021-12-24 08:36] incendial commented on #616
@dvorapa hi, the config from the analysis_options file is shared between plugin, cli and actions setup, so if you need a specific list of rules, metrics, etc. then you need to add config in analysis_options. As for default config, there is no default config yet.

[2021-12-24 10:20] dkrutskikh commented on #617
Hi @dvorapa you are right that you decided to use the `folders` argument. You can provide several folders as a single string with folder names divided by comma, [example](https://github.com/dart-code-checker/dart-code-metrics/blob/master/.github/workflows/package_analyze.yaml#L67).

[2021-12-24 10:39] incendial commented on #570
@diegoveloper that looks harder, could you share, where `MyLocalization` localization strings are placed in your approach?

[2021-12-24 10:44] incendial commented on #570
Actually, sorry, I was wrong, we don't need this info to calculate usages correctly.

[2021-12-24 10:45] incendial commented on #570
I'll take a closer look a bit later.

[2021-12-25 19:11] dvorapa commented on #617
Oh, I see, I thought this was an array, thank you for your help!

[2021-12-25 19:11] #617 closed

[2021-12-25 19:12] dvorapa commented on #616
I see, I should decide which rules then, thanks!!

[2021-12-25 19:12] #616 closed

[2021-12-26 06:07] dkrutskikh commented on #115
@incendial I found similar rule https://dart-lang.github.io/linter/lints/prefer_void_to_null.html

[2021-12-26 06:30] leech001 opened #620 "[Question] Rule to ignore freezed files"
Can you tell me how to set a rule in` rules-exclude` to ignore all `*.freezed.dart` files?

[2021-12-26 08:24] dkrutskikh commented on #620
Hi @leech001. We support global excludes, and I recommend use them.

For example:

[code]

[2021-12-26 09:23] leech001 commented on #620
Thank you very much. Very helpful.

[2021-12-26 09:23] #620 closed

[2021-12-26 10:49] #115 closed

[2022-01-05 17:14] incendial commented on #552
@denis-afanasev could you provide a code sample for this issue? We're not able to reproduce it with our tests, any hint would be useful.

[2022-01-10 17:37] illia-romanenko opened #636 "[Question] Exclude for `anti-pattern`?"
**What do you want to discuss?**

Hey, first of all, thanks for working on this awesome plugin!

I wanted to check if there is a similar ability to exclude specific `anti-pattern` for a folder like in here: https://dartcodemetrics.dev/docs/rules/common/prefer-match-file-name#config-example

[2022-01-10 17:40] dkrutskikh commented on #636
@illia-romanenko unfortunately no, but we can add `exclude` for anti-patterns in next relese

[2022-01-10 17:42] dkrutskikh commented on #536
Available in 4.9.0 🚀

[2022-01-10 17:42] #536 closed

[2022-01-10 17:45] dkrutskikh commented on #570
Available in 4.9.0 release 🚀

[2022-01-10 17:52] illia-romanenko commented on #636
Thanks, @dkrutskikh. That would be cool! We are looking to disable the `long-method` for tests, which would help.

[2022-01-10 18:04] illia-romanenko commented on #636
On the other hand, it looks like the default linter doesn't provide similar `exclude` per rule functionality - so we'll probably stick to the separate analysis_options for tests for now.

[2022-01-11 20:33] furaiev commented on #524
Hi,
This one doesn't work in 4.9.0

[2022-01-11 20:40] furaiev commented on #570
Thanks, guys,
Can't fully check it due to https://github.com/dart-code-checker/dart-code-metrics/issues/524#issuecomment-1010337512
But seems like works for getters.

I've found that it doesn't work for functions.

[code]

[2022-01-11 20:57] incendial commented on #570
@furaiev could you share the code example for the case it's not working as expected?

[2022-01-11 21:06] furaiev commented on #570
[code]

[2022-01-12 01:50] stevanusw28 opened #640 "[Question] How to generate multiple package repository report (HTML) in single one metrics folder?"
**What do you want to discuss?**

Hi, thank you for this great package!

I want to ask is there any way to combine the report file (in HTML) for multiple package repository in single one file?
Example I have three package module like this:

I want to generate single html metrics folder in root repository that contain all the report from these three package (instead of separated metrics folder in e

[2022-01-12 10:17] incendial commented on #570
@furaiev thank you, I'll try to reproduce it today and add a fix.

[2022-01-12 14:51] furaiev commented on #570
@incendial thank you, could you please also reopen https://github.com/dart-code-checker/dart-code-metrics/issues/524

[2022-01-12 18:07] incendial commented on #570
@furaiev are you sure it's not just this problem? From what I see it's because of `current` usage. Or `of(context). popupMediaAccessTitle ()` is broken too?

[2022-01-12 19:09] furaiev commented on #570
There are broken getters (w/o arguments) via current, e.g. `S.of(context).loginTitle`

Summary:
`S.current.popupMediaAccessTitle('camera'); // does't work`
`S.of(context).popupMediaAccessTitle('camera'); // work`
`S.of(context).loginTitle; // doesn't work`

[2022-01-12 19:16] incendial commented on #570
@furaiev interesting, but tests don't trigger on that. Could you share `loginTitle` declaration?

[2022-01-12 19:19] incendial commented on #570
Got it, working on a fix.

[2022-01-12 22:08] ookami-kb opened #643 "[Rule change] avoid-global-state to support static fields"
**What rule do you want to change?**

`avoid-global-state`

**How will the change be implemented? (New option, new default behavior, etc.)?**

According to the documentation example, this code should trigger the rule:

[code]

As discussed in tg group, this is currently not implemented but it's on the roadmap. Creating the issue to keep track of it.

**Please provide some example code that this ch

[2022-01-13 01:34] #552 closed

[2022-01-13 18:03] dkrutskikh commented on #643
Available in 4.9.1 release 🚀

[2022-01-13 18:03] #643 closed

[2022-01-13 18:04] dkrutskikh commented on #570
Available in 4.9.1 release 🚀

[2022-01-13 18:04] #570 closed

[2022-01-13 18:45] dkrutskikh commented on #640
@stevanusw28 hi! Do you use [melos](https://pub.dev/packages/melos) for manage packages in monorepo or you user another tool? What do you want to see on title (index.html) page?

[2022-01-14 06:43] stevanusw28 commented on #640
Yes @dkrutskikh , I use melos for manage the packages. I want to see all the dart code metrics file inside one index.html in one folder metrics in the root project instead of see metrics result in each module.

This is my melos.yaml file
[code]

This is my structure project like this
[code]

What I want to see is the metrics result for all project in just one folder metrics like this:
[code]

Is t

[2022-01-14 08:18] winsonloh1998 commented on #570
I just updated it to version 4.9.1 and I still get the same issue, and probably my way of calling the getter is different.

This is how get the localized text:

[code]

For this case, the command recognised it as unused too.

[2022-01-14 08:45] furaiev commented on #570
@dkrutskikh @incendial thank you for a fix, all is works for me.

Could you please exclude private members of the Localization class? (this is not critical at all, just nice to have)

[code]

@winsonloh1998 the example that you have provided is another issue/feature(?). I'm not sure if it is easy to manage and track Localization reassignments. But let's wait for  @dkrutskikh @incendial answer.

[2022-01-14 17:24] incendial commented on #570
@winsonloh1998 @furaiev could you create separate issues for you feature requests? Both of them looks valid and nice to have, but they are out of this issue scope.

[2022-01-14 17:50] furaiev opened #647 "[Command change] check-unused-l10n hide private members"
* **Dart code metrics version:** 4.9.1
* **Dart sdk version:**  2.15.0 (stable)

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**Code details**
[code]

**What did you expect to happen?**
the command ignore private members as `_current`

**What actually

[2022-01-14 17:50] furaiev commented on #570
https://github.com/dart-code-checker/dart-code-metrics/issues/647

[2022-01-14 17:54] furaiev opened #648 "[Command change] - check-unused-l10n - detect usage via proxies"
* **Dart code metrics version:** 4.9.1
* **Dart sdk version:**  2.15.0 (stable)

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**Code details**
[code]

**What did you expect to happen?**
the command consider `my_text` as used

**What actually happened?

[2022-01-15 20:24] II11II opened #651 "[New rule] Check passed arguments to super()"
If the user initialises the super constructor with super values, the runtime error appears
Would be nice to check this case by dart-code_metrics analyser

[code]

**What category of rule is this? (place an "X" next to just one item)**

[ X] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

[code]
[code]

Are you willi

[2022-01-18 12:57] furaiev opened #653 "[BUG] check-unused-code doesn't exclude files from config"
* **Dart code metrics version:** 4.10.0-dev.1
* **Dart sdk version:**  2.15.0 (stable)

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
generated files from the `exclude` section are excluded from the analysis

**What a

[2022-01-18 18:24] incendial commented on #653
Should be fixed here: https://github.com/dart-code-checker/dart-code-metrics/pull/654

[2022-01-19 08:58] II11II commented on #651
[Fix in future dart sdk](https://dart-review.googlesource.com/c/sdk/+/218787)

[2022-01-19 08:58] #651 closed

[2022-01-19 18:43] incendial commented on #653
@furaiev fix is available in 4.10.0-dev.2, please check it out!

[2022-01-19 19:44] furaiev commented on #653
@incendial checked, it is fixed, thanks a lot!

[2022-01-19 19:44] #653 closed

[2022-01-25 13:51] solid-yuriiprykhodko opened #663 "[Question] Cyclomatic complexity calculation in test `main()` with null-aware operators."
I’m running into some high cyclomatic complexity numbers counted for my test file main() function.

The HTML report shows that it increments the complexity counter by 5 each time it sees a `.?` operation.

I’ve figured out that the +5 number comes from the nesting — I have 3 nested `group` statements that contain the test — see [example package](https://github.com/solid-yuriiprykhodko/metrics_cc_r

[2022-01-25 14:45] dkrutskikh commented on #663
@solid-yuriiprykhodko good catch! Can you provide minimal project with reproduction of this issue?

[2022-01-25 14:47] solid-yuriiprykhodko commented on #663
@dkrutskikh
This repo serves as the minimal repro: https://github.com/solid-yuriiprykhodko/metrics_cc_repro.
Test `main` located here: https://github.com/solid-yuriiprykhodko/metrics_cc_repro/blob/master/test/test_metrics_test.dart#L5

[2022-01-25 14:49] solid-yuriiprykhodko commented on #663
And the command that I use to run metrics:

[code]

[2022-01-25 17:27] MichaelDark commented on #528
Are you sure that this issue is related to the current one?

[2022-01-25 17:35] incendial commented on #528
@MichaelDark not 100% sure, but it's at least something we can start with. Having a reproduction project would help.

[2022-01-26 07:37] roman-petrov opened #664 "[New rule] prefer-async-await"
During code review today I just noticed a repeated pattern:

[code]

From my knowledge of Dart, there is nothing bad in processing future results using `then` chain. However, my preference and (from my experience) more "standard" way to process promise results would be

[code]

Personally, I rarely use `then` method to process future results but I am not sure if am alone here :)

But the reason I

[2022-01-26 10:09] incendial commented on #664
Interesting idea, actually I'm not sure, that `await SettingsApi().getSettings().then(processResponse);` and `processResponse(await SettingsApi().getSettings());` works in the same way, since await will also wait for all `then` to complete. Just checked it on dartpad with `Future.delayed` in `then`.

[2022-01-26 10:10] incendial commented on #664
But I generally think it's a good check, what do you think about a slightly different name, like `prefer-async-await` or something?

[2022-01-26 11:01] roman-petrov commented on #664
Futures and asynchronous code is a complex topic and I think it's out of this issue scope... The goal I am always trying to reach for my codebase is to have simple, straightforward and linear code. IMHO extensive usage of `Future.then` with futures can lead to messy code sometimes.

I think `prefer-async-await` is ok too and maybe it is actually better because it just recommends and there is nothi

[2022-01-26 16:44] solid-yuriiprykhodko opened #665 "[BUG] Metrics don't work correctly with imported `analysis_options.yaml` when run as global executable"
* **Dart code metrics version:** 4.9.1
* **Dart sdk version:** Dart SDK version: 2.15.1 (stable) (Tue Dec 14 13:32:21 2021 +0100) on "macos_x64"

<details>
<summary>Configuration</summary>

The full configuration as well as full instructions to reproduce the issue are hosted here: https://github.com/solid-yuriiprykhodko/metrics_cc_repro/tree/global-exe

[code]

Contents of `solid_lints/analysis_op

[2022-01-31 18:38] dkrutskikh commented on #663
Available in 4.10.0 release 🚀

[2022-01-31 18:38] #663 closed

[2022-01-31 18:39] dkrutskikh commented on #647
Available in 4.10.0 release 🚀

[2022-01-31 18:39] #647 closed

[2022-01-31 18:39] dkrutskikh commented on #636
Available in 4.10.0 release 🚀

[2022-01-31 18:39] #636 closed

[2022-02-01 14:03] krillefear opened #674 "[BUG] Could not find an option named "reporter"."
* **Dart code metrics version:** 4.10.0
* **Dart sdk version:** 2.15.1

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
When I run `dart pub global run dart_code_metrics:metrics lib -r gitlab > code-quality-report.json`

[2022-02-01 15:10] vmalyi commented on #674
We're running into the same issue on our CI environment when executing `dart pub global run dart_code_metrics:metrics lib -r gitlab > code-quality-report.json`.

This started to today without any additional actions from our side.

[2022-02-01 16:22] incendial commented on #674
As a fallback, you can add `analyze` after the `dart_code_metrics:metrics` part, should work fine. We'll fix this, but note that in 5.0 it will be required to always pass a command name to the cli.

[2022-02-01 16:23] dkrutskikh commented on #674
@krillefear thank you for for bug report. I'll fix them asap and publish patch version.

[2022-02-01 18:34] dkrutskikh commented on #674
Fixed in 4.10.1 release.

[2022-02-01 18:34] #674 closed

[2022-02-02 10:10] vmalyi commented on #674
@incendial, @dkrutskikh, folks, thank you for the blazing-fast fix for this!

I can confirm that 4.10.1 fixes the issue.

[2022-02-02 13:36] furaiev opened #678 "[Command change] - check-unused-l10n - add possibility to exclude keys by mask"
It would be nice to have a possibility to exclude some keys by mask:
E.g. `flutter pub run dart_code_metrics:metrics check-unused-l10n lib -p ^S$ --exclude 'mcc*|any_other_mask'`

[code]

Why?
Some localisations aren't used in code directly but come from the server.

[2022-02-03 15:46] furaiev opened #680 "[BUG] check-unused-code unused top level variable"
* **Dart code metrics version:** 4.10.1
* **Dart sdk version:**  2.15.0 (stable)

**What did you do? Please include the source code example causing the issue.**
`flutter pub run dart_code_metrics:metrics check-unused-code lib --monorepo`

<details>
<summary>Code</summary>

[code]

</details>

**What did you expect to happen?**
_kMenuVerticalPadding is not reported as unused

**What actually happen

[2022-02-04 13:10] furaiev opened #682 "[BUG] check-unused-code doesn't detect stateful widgets"
* **Dart code metrics version:** 4.10.1
* **Dart sdk version:**  2.16.0 (stable)

**What did you do? Please include the source code example causing the issue.**
`flutter pub run dart_code_metrics:metrics check-unused-code lib --monorepo`

<details>
<summary>Code</summary>

[code]

</details>

**What did you expect to happen?**
TestingStateFull is reported as unused

**What actually happened?**
Tes

[2022-02-04 13:21] incendial commented on #682
@furaiev you mean, `TestingStateFull` is only used in `State<TestingStateFull>` and is not referenced by other files?

[2022-02-04 13:26] furaiev commented on #682
@incendial yep, it is correct.

[2022-02-04 14:04] furaiev opened #683 "[Command change] - check-unused-files - add `--monorepo` flag"
It would be nice to have `--monorepo` flag for `check-unused-files` command with the same behaviour as it has in `check-unused-code` command.

Currently, if we have a folder with unused files and `index.dart` that exports all these unused files they are treated as used.
[code]

[2022-02-06 18:47] Prn-Ice opened #688 "[Question] How to add severity to a metric"
**What do you want to discuss?**
I'd like to force adherence to certain metrics, how can I add severity to a metric?

[2022-02-07 03:52] dkrutskikh commented on #688
@Prn-Ice metrics does't generate an issue, metric generate only a value whose contains simple number and violation level (by default level - none). You can define threshold for each metric and if metric calculate the higher number than you defined threshold, that value is assigned violation level warning or higher.

[2022-02-07 09:36] Prn-Ice commented on #688
Thanks

[2022-02-07 09:36] #688 closed

[2022-02-11 19:39] solid-yuriiprykhodko opened #690 "[BUG] `no-magic-number` lint appears for `const` Map literals that are immediately returned from functions"
* **Dart code metrics version:** 4.10.1
* **Dart sdk version:** Dart SDK version: 2.15.1 (stable) (Tue Dec 14 13:32:21 2021 +0100) on "macos_x64"

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
`no-magic-number` lint n

[2022-02-11 19:40] solid-yuriiprykhodko commented on #690
A sample project with issue repro here: https://github.com/solid-yuriiprykhodko/metrics_cc_repro/tree/magic-number-in-map

[2022-02-13 23:28] dustincatap opened #694 "[Question] Is it possible to "include" a file when running checks for unused code?"
**What do you want to discuss?**
I am using [injectable](https://www.pub.dev/packages/injectable). This generates a file that configures the dependency registrations, for my case it is named `service_locator.config.dart`. I also added this to the list of files to be excluded from Dart's analyzer:

[code]

Here is a sample code of how I use `injectable`:

[code]

And here is a sample content of `se

[2022-02-14 17:22] incendial commented on #694
@dustincatap hi, interesting, but this looks more like a bug to me, any chance you can create a reproduction example?

[2022-02-14 17:44] solid-yuriiprykhodko opened #695 "[BUG] `no-magic-number` false-negatives on list index access."
* **Dart code metrics version:** 4.10.1
* **Dart sdk version:** Dart SDK version: 2.15.1 (stable) (Tue Dec 14 13:32:21 2021 +0100) on "macos_x64"

**Please show your full configuration:**
Full repro project: https://github.com/solid-yuriiprykhodko/metrics_cc_repro/tree/magic-number-index-access
<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the so

[2022-02-14 23:22] dustincatap commented on #694
Here is the [sample project](https://github.com/dart-code-checker/dart-code-metrics/files/8064589/sample.zip)

[2022-02-15 20:19] incendial commented on #694
@dustincatap thank you so much for the example, I was able to locate the problem and fix it here #697

Output **before** the fix:
<img width="718" alt="Screenshot 2022-02-15 at 23 18 36" src="https://user-images.githubusercontent.com/21116742/154142309-b008b441-a56b-4035-ae87-1efe5776db10.png">

Output **after** the fix:
<img width="718" alt="Screenshot 2022-02-15 at 23 18 54" src="https://user-im

[2022-02-21 20:11] dkrutskikh commented on #690
Available in 4.11.0 release 🚀

[2022-02-21 20:11] #690 closed

[2022-02-21 20:11] dkrutskikh commented on #683
Available in 4.11.0 release 🚀

[2022-02-21 20:11] #683 closed

[2022-02-21 20:12] dkrutskikh commented on #682
Available in 4.11.0 release 🚀

[2022-02-21 20:12] #682 closed

[2022-02-21 20:12] dkrutskikh commented on #680
Available in 4.11.0 release 🚀

[2022-02-21 20:12] #680 closed

[2022-02-21 20:12] dkrutskikh commented on #664
Available in 4.11.0 release 🚀

[2022-02-21 20:12] #664 closed

[2022-02-21 20:12] dkrutskikh commented on #472
Available in 4.11.0 release 🚀

[2022-02-21 20:12] #472 closed

[2022-02-21 20:13] dkrutskikh commented on #401
Available in 4.11.0 release 🚀

[2022-02-21 20:13] #401 closed

[2022-02-21 20:13] dkrutskikh commented on #694
Available in 4.11.0 release 🚀