[2022-02-21 20:13] #694 closed

[2022-02-23 08:46] dkrutskikh commented on #566
Available in 4.11.0 release!

[2022-02-23 08:46] #566 closed

[2022-02-23 10:33] unger1984 opened #700 "[BUG] format-comment with multiline comments"
* **Dart code metrics version:** 4.11.0
* **Dart sdk version:** 2.17.0-69.2.beta

<details>
<summary>Configuration</summary>

[code]

</details>

[code]

The first comment lint, the second and third didn't.

[2022-02-24 03:33] fzyzcjy opened #701 "[New rule] `avoid_collection_methods_with_unrelated_types` (Willing to PR)"
**Please describe what the rule should do:**
Please see https://github.com/dart-lang/linter/issues/1307

**If your rule is inspired by other please provide link to it:**
https://github.com/dart-lang/linter/issues/1307
https://stackoverflow.com/questions/68251477/dart-flutter-linter-rule-the-type-to-index-a-map-should-be-the-key-type-of-map

**What category of rule is this? (place an "X" next to ju

[2022-02-24 03:38] fzyzcjy opened #702 "[New rule] `ban-name` Ban some user-specified functions (Willing to PR)"
**Please describe what the rule should do:**
The user can configure some functions that he wants to ban. For example, in my own app, I want to ban `showDialog` and force to use `myShowDialog` instead. This is because (let me explain the simplified case) I added logging in `myShowDialog`, and I do want every dialog to be logged.

**If your rule is inspired by other please provide link to it:**
N/A

[2022-02-24 07:50] incendial commented on #701
@fzyzcjy thanks for opening the issue, we thought about implementing this rule some months ago and it looks doable. really happy to see that you want to contribute, it you have any questions, please let me know!

[2022-02-24 08:38] fzyzcjy commented on #701
😄

[2022-02-24 12:18] fzyzcjy opened #703 "[Question] Should or should-not we use the `avoid-non-null-assertion` rule to disallow usage of `!` operator?"
I have enabled it tentatively. It is useful because it does point out some cases where potential NPE can happen and I should use defensive programming. However, it is creating so many false alerts (indeed >500). Shall I suppress those false alerts one by one?

By the way, can we configure this rule to suppress things like `WidgetsBinding.instance!`? IMHO people just write like that and it is very

[2022-02-24 12:56] fzyzcjy commented on #701
@incendial

I do have a question :) Could you please give some hints about implementing this? I am not an expert in dart linters

[2022-02-24 13:01] fzyzcjy opened #704 "[BUG] The `dart-code-metrics` *itself* has linter warnings"
As is shown below:

![image](https://user-images.githubusercontent.com/5236035/155528884-0e477b65-2bb6-45df-9961-edac91db298a.png)

[2022-02-24 14:09] fzyzcjy commented on #701
@incendial Already implemented. https://github.com/dart-code-checker/dart-code-metrics/pull/705

[2022-02-24 14:21] incendial commented on #703
@fzyzcjy if you're able to group those false alerts and list it here, we can discuss changing the rule to ignore those cases.

No, there are currently no way to suppress specific cases.

[2022-02-24 14:22] incendial commented on #704
@dkrutskikh could you take a look on that?

[2022-02-24 14:27] incendial commented on #701
I'll take a look in 2-3 hours.

[2022-02-24 16:28] roman-petrov commented on #703
FYI, `WidgetsBinding.instance` is now non-nullable in Flutter master channel https://github.com/flutter/flutter/commit/ab89ce285f76a3fd3a9328ec863f5623cc5ac8bc

[2022-02-25 00:49] fzyzcjy commented on #703
Well they are not "false" in the sense that the rule fails. But they are "false" because we really need to use the `!` operator.

Cannot group IMHO. They are often case by case...

Sounds great!

[2022-02-25 00:49] #703 closed

[2022-02-25 02:27] fzyzcjy commented on #702
#708 is ready for review now

[2022-02-25 16:06] incendial commented on #703
We support different ignoring approaches listed here: https://dartcodemetrics.dev/docs/getting-started/configuration#ignoring-a-rule-or-anti-pattern

[2022-02-26 00:54] fzyzcjy commented on #703
Thanks, I know that. But it is quite verbose to write a whole `//ignore` for a single `!`

[2022-02-26 04:31] fzyzcjy opened #713 "[New rule] `tag_name` Log tag is the same as class name"
**Please describe what the rule should do:**
Warn when the tag (such as `static const _kTag = '...'`) is different from the name of the class containing the tag.
Tags are used frequently in logging, and such outdated/typo tag can cause confusion when reading the log.

**If your rule is inspired by other please provide link to it:**

**What category of rule is this? (place an "X" next to just one i

[2022-02-26 08:57] incendial commented on #701
Reopening until this rule is not released in pub

[2022-02-26 13:02] fzyzcjy commented on #713
https://github.com/dart-code-checker/dart-code-metrics/pull/715

[2022-02-26 19:08] incendial commented on #713
Could you share some public code that uses this approach? Never saw it before, just curious, how popular it is.

[2022-02-27 00:37] fzyzcjy commented on #713
Firstly, a private codebase with >150kloc: My code :)
Secondly, in Android logging it is the standard approach: https://developer.android.com/reference/android/util/Log Officially it says:

private static final String TAG = "MyActivity";
and use that in subsequent calls to the log methods.

Thirdly, I am also curious, how do you usually do logging, without such approach? Or how do public code ofte

[2022-03-01 01:27] fzyzcjy opened #717 "[BUG] Dependency resolution fails, seemingly because it depends on `analyzer 3.x` which is too high"
dart 2.10.2
dart-code-metrics from the master branch. Notice the package from pub.dev is good.

error message is like:

[code]

/cc @dkrutskikh @incendial

[2022-03-01 01:48] fzyzcjy opened #718 "[BUG] 7~15GB memory usage for this single plugin - possibly serious memory leak? (Flutter 2.10.2)"
Hi thanks for the lib! However, to analyze our codebase (quite small, just 150k lines of code), this analyzer plugin eats about 10GB of memory! You know, even for Intellij IDEA which is known to be memory-eater and is configured with a large heap, it only has about 4GB memory.  But this package itself is twice as big as the IDE...

The following screenshot shows a 7GB case, where I restart the ana

[2022-03-01 01:50] fzyzcjy opened #719 "[Rule change] `avoid-non-null-assertion`: Shall we ignore cases like `SomeInheritedWidget.of(context)!`"
**What rule do you want to change?**
avoid-non-null-assertion

**How will the change be implemented? (New option, new default behavior, etc.)?**
See title. Will fill out more details if interested.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

**What will the rule do after it's changed?**

**Are you willing to submi

[2022-03-01 01:51] fzyzcjy opened #720 "[Rule change] `avoid-non-null-assertion`: Maybe ignore `if(some.field != null) some.field!`"
**What rule do you want to change?**
avoid-non-null-assertion

**How will the change be implemented? (New option, new default behavior, etc.)?**
will fill out more details if interested

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

**What will the rule do after it's changed?**

**Are you willing to submit a pull req

[2022-03-01 01:55] fzyzcjy opened #721 "[Rule change] `avoid-non-null-assertion`: For `map[key]!`, not only ignore when `map` is of type `Map`, but also when `map` implements or extends `Map`"
For map[key]!, not only ignore when map is of type Map, but also when map implements or extends Map

**What rule do you want to change?**

avoid-non-null-assertion

[2022-03-01 06:40] incendial commented on #713
I'm not working with Flutter for a past few month (coz of a lot of work), but usually I use https://pub.dev/packages/logging with a string class name. I asked because I never saw `TAG` naming before.

[2022-03-01 06:42] fzyzcjy commented on #713
I came from Android (~10 years ago I developed android) as well as Java so I am familiar with it :)

Well I guess the problem is, if you write `log('MyClassName', ...)`, say, 10 times inside that class, it may violate the DRY rule.

[2022-03-01 06:52] incendial commented on #713
Agree, but usually it's a logger per class and they are nested, so the name is not repeated.

[2022-03-01 06:54] incendial commented on #721
@fryette have you faced this issue with an external code (like some custom Map implementation) or with out own implementation?

[2022-03-01 06:56] incendial commented on #718
Do you have several packages?

[2022-03-01 06:57] incendial commented on #719
Is it a false-positive or there are some cases when it can be null?

[2022-03-01 06:57] incendial commented on #720
Agree, that looks doable

[2022-03-01 08:33] fzyzcjy commented on #713
@incendial I see. So you are creating logger objects instead of using static methods.

[2022-03-01 08:34] fzyzcjy commented on #718
@incendial >10 packages.

[2022-03-01 08:35] fzyzcjy commented on #719
The plugin is correct. But I guess this is how we commonly write down code(just like `map[key]!`)?

[2022-03-01 08:36] roman-petrov commented on #720
@incendial - if you decide to make `avoid-non-null-assertion` more permissive, can you please make it optional? I'm a bit fan of strict restrictions and currently do not see any problems with strict  `avoid-non-null-assertion` on our codebase.

[2022-03-01 08:39] fzyzcjy commented on #720
@roman-petrov

Agree and that sounds not hard to implement.

By the way, I am curious how do you deal with the following cases?

* `if(some.field != null) some.field!` (especially when that `field` is a final primitive field)
* `SomeInheritedWidget.of(context)!.something` (when the inherited widget really should be there, otherwise the programmer is making a big mistake)

[2022-03-01 08:47] incendial commented on #718
Unfortunately, it's a known issue and Dart team doesn't respond to my questions, if you could ping them - that'd be awesome

here is the similar issue https://github.com/dart-code-checker/dart-code-metrics/issues/528

and here is the issue in the Flutter repo https://github.com/flutter/flutter/issues/95092

Closing this as duplicate

[2022-03-01 08:47] #718 closed

[2022-03-01 11:39] fzyzcjy commented on #720
@roman-petrov Thank you for the elaboration!

So I wonder how did you solve the second case, i.e.: SomeInheritedWidget.of(context)!.something (when the inherited widget really should be there, otherwise the programmer is making a big mistake, and we should throw instead of silently fallback)

[2022-03-01 12:58] roman-petrov commented on #720
About the second case: we do not use inherited widgets much. For example, some built-in Flutter inherited widgets return non nullable values (like `Theme.of(context)`).

But if I had to - I would use the same approach as I described above like

[code]

I don't think I would use exactly the same code I listed, but the concept will not change - check nullable before doing something. Without exceptio

[2022-03-01 13:02] fzyzcjy commented on #720
@roman-petrov Thanks for explaining your approach! I will consider about it.

[2022-03-04 08:37] minhnt3 opened #730 "[BUG] --set-exit-on-violation-level not work with Bitbucket pipelines CI"
When I run this command: `dart run dart_code_metrics:metrics analyze lib --set-exit-on-violation-level=noted`. There're logs on my console but it does not exit.

<img width="781" alt="image" src="https://user-images.githubusercontent.com/93504649/156728080-c43aebe5-febe-4dd2-8ade-f4ecb7637238.png">

* Dart code metrics version: 4.11.0
* Dart sdk version: 2.16.1

[2022-03-05 17:55] incendial commented on #730
@minhnt3 hi, `set-exit-on-violation-level` is for metrics and you listed rules. Try using different flags `fatal-style` and (or)`fatal-warnings`

[2022-03-06 17:38] #717 closed

[2022-03-07 04:43] dkrutskikh commented on #701
Available in 4.12.0 release 🚀

[2022-03-07 04:43] #701 closed

[2022-03-07 04:43] dkrutskikh commented on #702
Available in 4.12.0 release 🚀

[2022-03-07 04:43] #702 closed

[2022-03-07 04:43] dkrutskikh commented on #713
Available in 4.12.0 release 🚀

[2022-03-07 04:43] #713 closed

[2022-03-11 15:33] GabrielCR99 opened #737 "[BUG] metrics stopped working at version 4.12.0"
* **Dart code metrics version:** 4.12.0
* **Dart sdk version:** 2.16.1

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you expect to happen?** Linter should show warn/info about code, but doesn't show anything even after restarting IDE/PC several times.

**What actually happened?** The package stopped working at version 4.12.0,

[2022-03-11 16:25] GabrielCR99 commented on #737
Yeah, for sure. Here's my analyzer_log. If you need anything more, I'll have the pleasure to help!

[analyzer_log.txt](https://github.com/dart-code-checker/dart-code-metrics/files/8233593/analyzer_log.txt)

[2022-03-11 16:38] incendial commented on #737
@GabrielCR99 have you tried downgrading to 4.11?

[2022-03-11 16:49] GabrielCR99 commented on #737
Yeah, I tried to downgrade, but still, it shows error in Analyzer Diagnostics.
Actually, the error doesn't make any sense to me, since it's still showing dart_code_metrics version 4.12.0, but in my pubspec it's 4.11.0

![image](https://user-images.githubusercontent.com/42328188/157910943-d5233a17-c799-4876-87e3-18de3e8af530.png)
![image](https://user-images.githubusercontent.com/42328188/157910998

[2022-03-12 09:47] dkrutskikh commented on #737
@GabrielCR99 for downgrade you need define version without `^` symbol or use command `flutter pub downgrade`.

[2022-03-13 00:23] #730 closed

[2022-03-13 11:38] dkrutskikh commented on #737
@GabrielCR99 sorry but I can't find any details about dart code metrics crash. Can you provide analyzer instrumentation log file ?

[2022-03-14 14:00] GabrielCR99 commented on #737
Hey guys, so sorry for the delay in answering. So, what I did was to actually format my PC (not because of the bug, but actually because of my Flutter directory pointing to pub cached). This solved, since as I mentioned, Flutter was pointing to a random directory (which I couldn't find a way to solve, so the solution was format the PC). Anyway, thanks in advance, will continue to use this awesome

[2022-03-14 15:47] incendial commented on #737
@GabrielCR99 great to hear that the problem resolved and thanks for the kind words!

[2022-03-19 14:24] NickBalnaves opened #743 "[New rule] EdgeInsets"
**Please describe what the rule should do:**
If 0 values are mostly passed into EdgeInsets.fromLTRB then it makes sense to use EdgeInsets.only for only the values that are to be used.
Also if there are symmetric values passed into EdgeInsets.fromLTRB or EdgeInsets.only then it makes sense to convert this into the EdgeInsets.symmetric equivalent.
In general I also find EdgeInsets.fromLTRB less easy

[2022-03-19 14:50] NickBalnaves opened #744 "[New rule] App structure"
**Please describe what the rule should do:**
Many projects follow directory naming conventions, file naming conventions and conventions for the type of content in that file. It can be quite common to accidentally make typos in file names or for newcomers to an existing project to not follow existing conventions.

A rule should be able to define the project structure for the directory and file name

[2022-03-20 00:18] NickBalnaves opened #745 "[New rule] Widgets to use Theme"
**Please describe what the rule should do:**
Any text styling or colors used in widgets to come from a Theme so these values can be shared throughout an app.

**What category of rule is this? (place an "X" next to just one item)**
[ ] Warns about a potential error (problem)
[x] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

**Provide 2-3 code examples that t

[2022-03-20 00:40] NickBalnaves opened #746 "[New rule] Prefer variable instead of multiple function calls"
**Please describe what the rule should do:**
Prefer declaring a variable when calling a function mutliple times.

**What category of rule is this? (place an "X" next to just one item)**
[ ] Warns about a potential error (problem)
[x] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about (it will be better i

[2022-03-20 04:11] NickBalnaves commented on #700
Also an empty comment doesn't lint either

[2022-03-20 09:28] DetachHead opened #747 "[BUG] website is down"
https://dartcodemetrics.dev/

![image](https://user-images.githubusercontent.com/57028336/159156144-7b59b8b3-f97f-4bf1-ab08-4f5291758dd8.png)

https://downforeveryoneorjustme.com/dartcodemetrics.dev?proto=https

![image](https://user-images.githubusercontent.com/57028336/159156170-779a09f3-4370-49f3-a8a5-32796821cb3e.png)

[2022-03-20 09:53] DetachHead opened #748 "[BUG] `Could not find a file named "pubspec.yaml"` error"
* **Dart code metrics version:** 4.13.0
* **Dart sdk version:** 2.16.1

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
no crash
**What actually happened?**
[code]
**Are you willing to submit a pull request to fix this

[2022-03-20 10:27] dkrutskikh commented on #748
@DetachHead thank you for reporting. Can you provide repository with reproduce this bug?

[2022-03-20 10:28] incendial commented on #745
@NickBalnaves hi, do you have different examples of getting the theme? I mean, the rule should probably trigger on something like:
[code]

but are there more ways to get the theme?

[2022-03-20 10:30] incendial commented on #746
Really interesting idea, thanks for filling the issue!

[2022-03-20 10:33] incendial commented on #748
Yeah, it's not clear where the pubspec file placed relative to the directory you try to call the cli.

[2022-03-20 10:34] incendial commented on #747
Looks like the website is down due to DNS provider issues, while it's down you can find all the docs here https://github.com/dart-code-checker/dart-code-metrics/tree/master/website/docs

Sorry for inconvenience, hope the issue will be resolved soon

[2022-03-20 10:49] NickBalnaves commented on #745
Hi @incendial, here's another example which should cause a lint but seems that it might be more difficult to catch:
[code]

It's possible to define a new class to use for a theme instead of the default material Theme, something like this:
[code]
so it might be good to also add an override to define a custom theme.

[2022-03-20 10:55] incendial commented on #745
Thanks, got it. Right now looks hard to cover all the edge cases, but we can probably start with the partial support.

[2022-03-20 10:57] DetachHead commented on #748
https://github.com/DetachHead/flutter-test

i'm running it in the same directory as `pubspec.yaml`, but that error looks like it's instead trying to find a `pubspec.yaml` in `%localappdata%\Pub\Cache\hosted\pub.dartlang.org\_fe_analyzer_shared-36.0.0`

[2022-03-20 11:50] incendial commented on #748
Hm, you have a Flutter project, right? Try running `flutter pub run dart_code_metrics:metrics analyze lib` instead.

[2022-03-20 12:40] incendial commented on #747
Should be available now

[2022-03-20 12:40] #747 closed

[2022-03-20 13:02] DetachHead commented on #747
awesome thanks!

[2022-03-20 13:08] DetachHead commented on #748
that worked, thanks! perhaps the docs should be updated to mention this? i'd be happy to do that if you agree

[2022-03-20 13:24] DetachHead opened #749 "[Question] how do i get the errors to show in intellij?"
**What do you want to discuss?**

[the readme](https://github.com/dart-code-checker/dart-code-metrics#analyzer-plugin) seems to suggest that the issues get highlighted in vscode, but that doesn't seem to be the case in intellij

![image](https://user-images.githubusercontent.com/57028336/159164328-2bff7d44-633a-410b-80a9-15128cf1ce21.png)

[code]

related: https://youtrack.jetbrains.com/issue/WEB-

[2022-03-20 13:39] incendial commented on #748
It's mentioned on the website and README, is it not enough?

<img width="759" alt="Screenshot 2022-03-20 at 16 38 38" src="https://user-images.githubusercontent.com/21116742/159165174-7abed512-6c2b-457f-a219-ac34afef01c4.png">
<img width="907" alt="Screenshot 2022-03-20 at 16 39 06" src="https://user-images.githubusercontent.com/21116742/159165190-cfbbea32-9b13-4cd0-b580-5908c19bdfed.png">

[2022-03-20 13:40] incendial commented on #749
Please check out the plugin setup https://dartcodemetrics.dev/docs/analyzer-plugin

[2022-03-20 13:44] DetachHead commented on #748
oops i missed that, i was just looking at the table above it

[2022-03-20 13:44] #748 closed

[2022-03-20 14:16] DetachHead opened #750 "[BUG] `avoid-dynamic` doesn't warn about implicit `dynamic` in function parameters"
* **Dart code metrics version:** 4.13.0
* **Dart sdk version:** 2.16.1

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
warning on `a` parameter
**What actually happened?**
no warning
[code]
![image](https://user-images

[2022-03-20 14:18] KotlinIsland commented on #750
`dynamic`: No way! That's nonsafe (safety-denying) software.

[2022-03-21 11:50] NickBalnaves opened #752 "[BUG] Unable to disable individual rules"
* **Dart code metrics version:** 4.13.0
* **Dart sdk version:** 2.16.1

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you expect to happen?**
Passing in false should disable an individual rule as it does for the Flutter analyzer https://dart.dev/guides/language/analysis-options#disabling-individual-rules

**What actually happen

[2022-03-21 13:33] dkrutskikh commented on #752
@NickBalnaves can you provide repository with minimal representative project?

[2022-03-22 14:53] furaiev opened #754 "[BUG] prefer-immediate-return does not work inside nested blocks"
E.g.

[code]

[2022-03-22 15:58] dkrutskikh commented on #754
@roman-petrov please take a look

[2022-03-22 17:48] incendial commented on #607
@vlkonoshenko is this still in progress?

[2022-03-22 17:53] incendial commented on #665
Was discussed in DM, should be resolved now

[2022-03-22 17:53] #665 closed

[2022-03-22 18:03] incendial commented on #704
Looks like we have only 6 issues and they all are about `anti-patterns`. We'll keep then for debugging purpose.

[2022-03-22 18:03] #704 closed

[2022-03-22 18:20] incendial commented on #750
You should have a build-in check for dynamics:
<img width="679" alt="Screenshot 2022-03-22 at 21 18 06" src="https://user-images.githubusercontent.com/21116742/159548923-02ef7cf0-85c9-49d8-a4a6-d8b54265b013.png">

Can be set up with `implicit-dynamic`:
<img width="441" alt="Screenshot 2022-03-22 at 21 19 27" src="https://user-images.githubusercontent.com/21116742/159549144-17c02940-c83c-43a7-9994-

[2022-03-22 18:22] incendial commented on #721
@fzyzcjy could you share an example for such map? How common is it?

[2022-03-23 00:24] fzyzcjy commented on #721
@incendial For example, widely used `ObservableMap`. As long as use mobx.dart, you will use that, and mobx is quite popular choice (even a "flutter favorite" package).

[2022-03-23 05:45] roman-petrov commented on #754
@furaiev Thank you, good catch! This seems to be clear so I will make a PR in a few days.

[2022-03-23 14:59] DetachHead opened #757 "[BUG] `dart analyze` command doesn't use the plugin"
* **Dart code metrics version:** 4.13.0
* **Dart sdk version:** 2.16.1

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
`no-empty-block` error

**What actually happened?**
[code]

however it seems to work in intellij, j

[2022-03-23 17:43] incendial commented on #474
Available in 4.13 🚀

[2022-03-23 17:44] #757 closed

[2022-03-24 20:30] HudsonAfonso opened #759 "[BUG] bump analyzer version"
[BUG] bump analyzer version

[2022-03-25 00:34] dkrutskikh commented on #759
@HudsonAfonso thank you for bug reporting, can you provide more details?

[2022-03-25 12:27] DetachHead commented on #749
that doesn't seem to work anymore since i updated flutter to the master channel, no longer seeing errors in intellij despite having the plugin enabled in `analysis_options.yaml`:
[code]

[code]

[2022-03-26 07:52] vlkonoshenko commented on #607
It’s on pause for now. I can find extends of abstract classes. But I can`t check if there are implementation of any methods in these classes.

[2022-03-27 02:21] NickBalnaves commented on #752
False alarm

[2022-03-27 02:21] #752 closed

[2022-03-27 02:58] NickBalnaves opened #770 "[BUG] No error code returned for technical-debt metric"
* **Dart code metrics version:** 4.13.0
* **Dart sdk version:** 2.16.1

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
The above command to produce an error code specifying using an ignore comment.

**What actually hap

[2022-03-27 03:50] dkrutskikh commented on #770
@NickBalnaves can you provide full cli command with `--set-exit-on-violation-level` ?

[2022-03-27 04:16] NickBalnaves commented on #770
@dkrutskikh
`dart run dart_code_metrics:metrics analyze lib --fatal-style --fatal-performance --fatal-warnings --set-exit-on-violation-level=warning`
and
`dart run dart_code_metrics:metrics analyze lib --fatal-style --fatal-performance --fatal-warnings --set-exit-on-violation-level=alarm`

Just noticed using the noted level returns an error code when there is an alarm:
`dart run dart_code_metrics:

[2022-03-27 04:46] NickBalnaves commented on #770
On further inspection `dart run dart_code_metrics:metrics analyze lib --fatal-style --fatal-performance --fatal-warnings --set-exit-on-violation-level=noted` returns an error code even when there are no issues

[2022-03-28 11:10] NickBalnaves opened #771 "[New rule] Prefer defining type for generic types"
**Please describe what the rule should do:**
To prefer using a type when a generic type is specified in a class.
In the Flutter source a `Future` is define as `abstract class Future<T>` and when creating a function it is possible to write `Future newFunction() {}`, but it should be enforced to define the type with the generic type defined such as `Future<void>`.

**What category of rule is this? (

[2022-03-28 12:19] incendial commented on #749
@DetachHead sorry for the long response, this looks like a in the integration, could you open an issue in dart sdk repo?

[2022-03-28 12:31] incendial commented on #607
@vlkonoshenko what the problem with checking the implementation? You can collect class declarations and compare them to the base class to find the implemented methods, right?

[2022-03-28 12:37] NickBalnaves opened #772 "[New rule] Lint ignore lints that don't ignore any issues"
**Please describe what the rule should do:**
Lint when there is an ignore lint comment added to a line that has no issues.

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[X] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about (it will

[2022-03-28 12:43] incendial commented on #771
@NickBalnaves have you tried https://github.com/dart-lang/language/blob/master/resources/type-system/strict-raw-types.md? This should help

[2022-03-28 12:58] NickBalnaves commented on #771
@incendial Exactly what I want! Thanks for the link

[2022-03-28 12:58] #771 closed

[2022-03-28 13:00] DetachHead commented on #749
@incendial https://github.com/dart-lang/sdk/issues/48682

[2022-03-30 16:33] dkrutskikh commented on #640
@stevanusw28 currently we work on support mono repos in analyze task, as part of this work, we will rework html report

[2022-03-30 16:37] incendial commented on #400
@grafovdenis do you still want to implement this by yourself?

[2022-03-30 16:40] incendial commented on #719
Been thinking about that for a while, maybe it's okay to leave as is? I'm really afraid that someone could get a null ref error in some case.

[2022-03-30 17:42] lukepighetti opened #777 "[Question] check-unused-files how to exclude **/.dart_tool/** and **/build/**"
Hello, I am trying to pipe the result of `melos list --parseable` into `dart_code_metrics:metrics check-unused-files`, and I'm having trouble getting DCM to ignore common folders such as `.dart_tool` and `build`.

[code]

if I run `flutter pub run dart_code_metrics:metrics check-unused-files --exclude='**/.dart_tool/**' /absolute/path/to/packages/bar` then everything in `packages/bar/.dart_tool` i

[2022-03-31 00:19] fzyzcjy commented on #719
All right

[2022-03-31 00:19] #719 closed

[2022-03-31 07:12] incendial commented on #777
Hi, I'm not sure that there should be multiple quotes, have you tried `'**/.dart_tool/**,**/build/**'` instead?

[2022-03-31 07:37] incendial commented on #777
Hi, initially I though that `'**/.dart_tool/**, **/build/**'` should work, but now I'm confused too. Investigating...

[2022-04-01 02:17] #759 closed

[2022-04-01 08:26] incendial commented on #777
Found out, that there is a bug with the path being separated to several ones by comma (it wasn't at all 😄). Fix is on the way

[2022-04-01 23:22] maxlapides opened #784 "[BUG] avoid-collection-methods-with-unrelated-types does not support null keys"
* **Dart code metrics version: 4.13.0**
* **Dart sdk version: 2.16.2**

The new `avoid-collection-methods-with-unrelated-types` seems to be mishandling this edge case:

[code]

This should be allowed because `null` is of type `int?`

[2022-04-03 21:35] marinkobabic opened #788 "flutter_test analyzer issue"
`Because every version of flutter_test from sdk depends on test_api 0.4.8 and test >=1.20.0 depends on test_api 0.4.9, flutter_test from sdk is incompatible with test >=1.20.0.
And because no versions of test match >1.19.5 <1.20.0 and test 1.19.5 depends on analyzer >=1.0.0 <3.0.0, if flutter_test from sdk and test >=1.19.5 then analyzer >=1.0.0 <3.0.0.
And because octa_appsettings depends on dart

[2022-04-05 17:42] incendial commented on #777
@lukepighetti sorry for the delay, but could you try this https://pub.dev/packages/glob#match-one-of-several-possibilities syntax? Looks like it should work

[2022-04-08 13:03] incendial commented on #777
@lukepighetti any chance you can take a look? (Sorry for pinging, but if you say it doesn't work for you, I'll start working on a fix)

[2022-04-10 04:37] giorgio79 opened #794 ""Basic configuration" on dart.dev omits important config setup"
The main page at https://pub.dev/packages/dart_code_metrics omits the config mentioned
https://dartcodemetrics.dev/docs/analyzer-plugin

The plugin needs to be setup so:
[code]

[2022-04-10 07:29] dkrutskikh commented on #794
@giorgio79 thank you for feedback, can you make PR with mentioned improvements?

[2022-04-10 07:58] incendial commented on #794
@giorgio79 since the package can be used as a plugin or / and cli, plugin setup is not considered basic. I'm not sure that it should be added.

[2022-04-11 17:01] incendial commented on #794
Closing this, feel free to reopen if you disagree.

[2022-04-11 17:01] #794 closed

[2022-04-13 02:02] NickBalnaves commented on #770
@dkrutskikh @incendial any idea? Bit annoying since it avoids enforcing these rules during CI checks

[2022-04-13 03:47] dkrutskikh commented on #770
@NickBalnaves sorry for long response. I think set `--set-exit-on-violation-level=noted` not a good idea. Please look at this:

[code]

You can faced `noted` level in html report. We mark method or class by `noted` level if that now close to warning level.

[2022-04-13 03:52] NickBalnaves commented on #770
@dkrutskikh thanks for that information, there is still a problem with the warning level not returning an error code though?

[2022-04-13 07:37] incendial commented on #784
Available in 4.14.0 🚀

[2022-04-13 07:37] #784 closed

[2022-04-13 07:38] incendial commented on #754
Available in 4.14.0 🚀

[2022-04-13 07:38] #754 closed

[2022-04-13 07:38] incendial commented on #746
Available in 4.14.0 🚀

[2022-04-13 07:38] #746 closed

[2022-04-13 07:38] incendial commented on #721
Available in 4.14.0 🚀

[2022-04-13 07:38] #721 closed

[2022-04-13 07:39] incendial commented on #695
Available in 4.14.0 🚀

[2022-04-13 07:39] #695 closed

[2022-04-13 07:39] incendial commented on #392
Available in 4.14.0 🚀

[2022-04-13 07:39] #392 closed

[2022-04-13 07:41] fzyzcjy commented on #721
🎉

[2022-04-13 07:48] dkrutskikh commented on #788
@marinkobabic please try new version

[2022-04-13 09:22] furaiev opened #798 "[Rule change] make prefer-moving-to-variable configurable"
It would be nice to have the possibility to exclude folders from analyzing (like in `prefer-match-file-name`):
[code]

[2022-04-13 09:26] incendial commented on #798
But it's already available https://github.com/dart-code-checker/dart-code-metrics/blob/master/analysis_options.yaml#L81

[2022-04-13 12:43] furaiev commented on #798
@incendial cool, it would be nice to add `configurable` label and `Config example` section on the page https://dartcodemetrics.dev/docs/rules/common/prefer-moving-to-variable

Also, the rule is missed on the `overview page` https://dartcodemetrics.dev/docs/rules/overview

Thanks a lot!

[2022-04-13 15:38] incendial commented on #798
`exclude` is a general config for every rule and is listed here https://dartcodemetrics.dev/docs/getting-started/configuration#ignoring-a-rule-or-anti-pattern. Thanks for noticing that the rule is not present on the overview page, will be fixed soon.

I'm closing this issue.

[2022-04-13 15:38] #798 closed

[2022-04-14 15:00] DetachHead opened #799 "[BUG] no errors reported when running on current directory (`.`)"
* **Dart code metrics version:** 4.13.0
* **Dart sdk version:** 2.16.2

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
same errors when running in `.`

**What actually happened?**
no errors found

[2022-04-15 08:43] Dan-Crane opened #801 "[BUG] prefer-moving-to-variable"
Hi. Thanks for cool plugin)

* **Dart code metrics version: *4.12.0*
* **Dart sdk version: *2.16.1*

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**
I use Bloc and Freezed packages.
When i try to change state several times within the same event, i get warning.

[

[2022-04-15 08:48] Dan-Crane commented on #801
this can be bypassed this way:
create a variable to store the return value of the `copyWith` getter, and then refer to it.
[code]
But it doesnt seem very obvious

[2022-04-15 08:56] Dan-Crane commented on #801
![Screenshot 2022-04-15 at 17 54 54](https://user-images.githubusercontent.com/56475207/163549856-c727840b-c203-4826-833c-2043755047f7.png)
I forgot to add, i also get two warnings

[2022-04-16 01:10] NickBalnaves opened #802 "[New rule] Avoid triple quotes when not needed"
**Please describe what the rule should do:**
Prefer single quotes instead of triple quotes if the string only spans one line.

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[x] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about (it wi

[2022-04-18 00:28] #777 closed

[2022-04-18 07:01] fzyzcjy opened #804 "[BUG] dart-code-metrics crash saying `Bad state: No element` when running command"
* **Dart code metrics version:** 4.14.0
* **Dart sdk version:** latest

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

`flutter pub run dart_code_metrics:metrics analyze lib --fatal-style --fatal-performance --fatal-warnings --set-exit-on-violation-level noted`

[2022-04-18 08:00] DetachHead commented on #749
this is fixed now

[2022-04-18 08:00] #749 closed

[2022-04-18 08:15] DetachHead opened #806 "[Enchantment] no option to suppress warnings in intellij"
* **Dart code metrics version:** 4.14.0
* **Dart sdk version:** 2.16.2

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
option to ignore the error like with the built in analyzer rules
![image](https://user-images.githu

[2022-04-18 15:19] incendial commented on #799
@DetachHead have you tried calling with `./`? What's the output?

[2022-04-18 15:22] incendial commented on #801
@Dan-Crane thanks for reporting the issue! Do you mean you get double warning for the same line?

[2022-04-19 03:42] Dan-Crane commented on #801
@incendial yes. It seemed strange.

Also about the `copyWith` getter that generates freezed, there is no better solution than to disable the rule for the file/line?

[2022-04-19 06:29] incendial commented on #801
Right now you'll need to disable the rule for line, but I think I'll come up with a solution for the rule not to trigger for such cases. As for duplicates, can you please create a repo with example? Reproduction will help solve this faster.

[2022-04-19 07:45] Dan-Crane commented on #801
Thanks) Ok, I will do it as soon as possible.

[2022-04-19 11:58] DetachHead commented on #799
[code]

[2022-04-21 00:25] #788 closed

[2022-04-25 08:10] ValentinVignalNovade opened #810 "[BUG] - `flutter pub run dart_code_metrics:metrics check-unused-files lib` never finishes"
* **Dart code metrics version:**
4.14.0

* **Dart sdk version:**
[code]

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
Something

**What actually happened?**

Nothing, there is no log at all.

**Are you willing to sub

[2022-04-25 08:14] incendial commented on #810
@ValentinVignalNovade hi, thanks for reporting the issue! It's really hard to tell, what's went wrong. Ant chance, you can provide a repoduction?

[2022-04-25 08:18] ValentinVignal opened #811 "[BUG] - `flutter pub run dart_code_metrics:metrics check-unused-files lib` never finishes"
* **Dart code metrics version:**
4.14.0

* **Dart sdk version:**
[code]

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
Something

**What actually happened?**

Nothing, there is no log at all.

**Are you willing to sub

[2022-04-25 08:19] #810 closed

[2022-04-25 08:20] ValentinVignal commented on #811
hi @incendial , you were too fast for me. I opened the issue https://github.com/dart-code-checker/dart-code-metrics/issues/810 with the wrong account

Here is the one I meant to create

To answer your question https://github.com/dart-code-checker/dart-code-metrics/issues/810#issuecomment-1108229521

I'm willing to give you more information, how do you want me to do that ? A repo ?

[2022-04-25 08:25] incendial commented on #811
@ValentinVignal yes, a repo would be the best way so that I'll be able to clone it and reproduce this bug

[2022-04-25 09:46] ValentinVignal opened #812 "[BUG] `format-comment` is listing the macros from dart doc"
* **Dart code metrics version:**
4.14.0

* **Dart sdk version:**
[code]

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

The lint:
[code]

**What did you expect to happen?**
I would expect no lint to be there.

**What actually happened?**
There is a lint

[2022-04-25 09:48] incendial commented on #812
@ValentinVignal could you please provide the docs where `@macro` is described?

[2022-04-25 10:17] ValentinVignal commented on #812
It comes from dartdoc: https://pub.dev/packages/dartdoc

[2022-04-26 03:57] ValentinVignal commented on #811
Hello @incendial, I'm having hard time to reproduced it with a dummy/small repo. I wonder if this is because our project is starting to be quite big. Do you have some suggestion on how I could narrow down what is wrong?

[2022-04-26 05:58] incendial commented on #811
@ValentinVignal could you run the command on parts of your project and check when it becomes infinite?

[2022-04-26 06:36] ValentinVignal opened #814 "[BUG] How to reuse and override the configuration when it is imported"
I have a root `analysis_option.yaml` in my project with (for example) those rules:

[code]

In our `test/` folder we have another `analysis_option.yaml` file that includes the root one and overrides some rules, to override/disable some of them. As an example:

[code]

---

Now, in my tests, let's say I want to keep the rule `prefer-trailing-comma` but I want to disable `no-empty-block`.

I made se

[2022-04-26 06:48] incendial commented on #814
Interesting, second approach should work. But I've never saw anyone using the same approach with a separate analysis_options for the tests folder.

Again asking for an example to speed up the investigation 🙂

[2022-04-26 06:53] ValentinVignal commented on #814
@incendial I created a repo/branch here https://github.com/ValentinVignal/flutter_app_stable/tree/dart-code-metrics/nested-analysis-option

[2022-04-26 07:06] incendial commented on #814
Thanks!

[2022-04-27 09:49] Pomis opened #815 "[Rule change] Add threshold for prefer-moving-to-variable"
**What rule do you want to change?**
prefer-moving-to-variable

**How will the change be implemented? (New option, new default behavior, etc.)?**
Make it a metric with adjustable number of repeats to trigger the lint
[code]
**Please provide some example code that this change will affect:**
Now this fragment gets lint warning:
[code]
However, I don't want to introduce a new variable just for this.

[2022-04-27 09:56] Cilestal commented on #815
Is there any workaround to solve this problem?

[2022-04-27 10:15] incendial commented on #815
I think the only workaround is to use `// ignore` comments

[2022-04-27 14:07] AbhishekDoshi26 opened #816 "[New Analyzer] Ability to check for unused assets"
### Summary
So one of the main reasons for increased app size is assets. While developing, we constantly keep on adding some images or fonts that our client wants and when it changes, we forget to remove the unused assets.
This analyzer (not linter rule) would provide the list of all the assets that we have not used in the project.

### Possible Solution
- Fetch the list of assets available in `pu

[2022-04-27 14:10] AbhishekDoshi26 opened #817 "[New Feature] Ability to export the result in table form into .txt or .docx file"
**Please describe what the rule should do:**
The current analyzer rules work like a charm. But these rules would be used by someone who is reviewing the project or the entire app, which means he/she will have to provide the report. It would be a good option to have the ability to export the result of all analyzer command in a table form into a .txt or .docx or even a .pdf file.

**What category of

[2022-04-28 04:17] fzyzcjy opened #819 "[New rule] avoid-non-ascii-symbols"
**Please describe what the rule should do:**
Hi thanks for the Flutter-Favorite package! I am proposing a new rule that enforces i18n/l10n. The basic idea is, search non-ascii characters (`[^\x00-\x7F]` in regex) that appears in string literals, and forbid that. This is because, for non-English apps, the text that needs l10n is usually non-ascii, so this rule efficiently finds out such text which

[2022-04-28 13:11] incendial commented on #816
So, the problem we got stuck earlier is - if a path to asset is combined with variables and the user has several assets having the same name, but located in different sub-directories, then how to properly notify the user, which one of the assets is not used?

For example,
* first asset `assets/icons/settings.png`
* second asset `assets/background/settings.png`

and then in code
[code]

What if eve

[2022-04-28 13:15] incendial commented on #819
@fzyzcjy Am I right, that we can call this rule as "avoid-ascii-symbols" or something? And can you please fill examples sections just to make sure that I got your idea correctly

[2022-04-28 13:26] AbhishekDoshi26 commented on #816
Okk yes this can be possible. So I think in this case, we will have to use the concept of macros (not exactly macros, but just an example) so if the analyzer finds that the path is containing a variable or a non-constant string, replace that variable with the value of variable.

I understand this can be real challenging.

[2022-04-28 14:20] dkrutskikh commented on #817
@AbhishekDoshi26 thank you for feedback. Can you provide example of what you need?

[2022-04-29 12:33] roman-petrov opened #820 "[New rule] avoid-restricted-imports"
**Please describe what the rule should do:**

I propose a rule similar to ESLint [no-restricted-imports](https://eslint.org/docs/rules/no-restricted-imports). There might be many use cases for it. In our project (a design system component library) we need to restrict import from Flutter `material.dart` because we do not use Material Design and must not depend on it anywhere.

Without configuration

[2022-04-30 07:29] incendial commented on #528
If anyone still has a memory and cpu usage issue with the version 4.11 or higher, please let us know here.

[2022-04-30 07:56] incendial commented on #814
Sorry for the delay, investigating

[2022-04-30 09:50] incendial commented on #814
So, thank you again for the example, I'll cover all listed attempts, just to clarify

1. Doesn't work, coz when you import configuration into another configuration, it just gets copied without any path adjustments
2. Found a bug in this one, fix is on the way 🚀 . In short, we didn't properly parse `:true` `:false` configurations and didn't merge them with just string listings like you have in your

[2022-05-01 11:47] roman-petrov commented on #820
@incendial , it is hard to describe this new rule in terms of "bad" / "good" code since the most complex part for it is its configuration. However, I tried to update rule proposal using "new rule" template, please take a look.

In 2-3 weeks I plan to provide a PR for it so some feedback from you and maybe other community people would be great.

[2022-05-01 12:22] incendial commented on #820
I think you did great, thank you! As for feedback, the rule looks solid and definitely useful

[2022-05-01 12:24] incendial commented on #820
Actually, one thing bothers me: what do you think about changing the name a bit? From `avoid-restricted` to `avoid-banned`?

[2022-05-01 12:27] roman-petrov commented on #820
I just borrowed the word "restricted" from ESLint rule :) So "banned" might be better, not sure, I am not an expert in English. So, in short, I don't mind:)

[2022-05-01 12:32] incendial commented on #820
I'm not an expert either 😄 , but we already have `ban-name`, which should be renamed to `avoid-banned-names` in the next major and it'd be consistent to have `avoid-banned-imports` and avoid-banned-names`, wdyt?

[2022-05-01 12:37] roman-petrov commented on #820
I like consistency, so - yes, in terms of consistency  the word "banned" sounds better.

[2022-05-01 16:25] BrutalCoding commented on #770
Facing the same issue. I've got a threshold set for tech debt and no error is returned even though its being exceeded.

I've got the following turned as well, so I expect that if treshhold is being exceeded that my commit has failed the checks but it shows me a green check every time 😢:
`fatal_warnings: true
fatal_style: true
fatal_performance: true`

[2022-05-02 10:37] incendial commented on #811
@ValentinVignal a kind reminder, looking forward for repro 🙂

[2022-05-02 10:37] incendial commented on #801
@Dan-Crane a kind reminder, looking forward for repro 🙂

[2022-05-03 19:07] incendial commented on #804
Available in 4.15.0 🚀

[2022-05-03 19:07] #804 closed

[2022-05-03 19:07] incendial commented on #812
Available in 4.15.0 🚀

[2022-05-03 19:07] #812 closed

[2022-05-03 19:07] incendial commented on #819
Available in 4.15.0 🚀

[2022-05-03 19:07] #819 closed

[2022-05-03 19:08] incendial commented on #814
Available in 4.15.0 🚀

[2022-05-03 19:08] #814 closed

[2022-05-04 00:47] fzyzcjy commented on #819
🎉

[2022-05-04 00:48] fzyzcjy commented on #804
:tada

[2022-05-04 02:01] ValentinVignal opened #826 "[Question] Is it possible to disable the rule `format-comment` for some patterns (ex regexp) ?"
I'm using the rule `format-comment`.

I'm working on VSCode with the extension cSpell: https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker that checks the spelling in the code.

Sometime I have to write:

[code]

or

[code]

And I get a lint on it.

Is it possible to disable the rule for some patterns?

[2022-05-04 07:47] incendial commented on #826
Nope, it's not possible, feel free to open a PR with this improvement. If you have any questions, I'd be happy to help.

[2022-05-04 14:01] ValentinVignal commented on #826
Thank you! I can try to make a PR. I guess I would have to modify the file `lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/visitor.dart`.

I was thinking to add an option:

[code]

What do you think?

But I'm a bit lost on how to add this option and access it from `lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/visitor.dart`.

[2022-05-04 14:28] ookami-kb opened #827 "[New rule] ban-element (or some better naming)"
**Please describe what the rule should do:**

I'd like to have a more specialized version of `ban-name` rule – instead of banning by the name, it should rather ban usage of certain methods.

E.g., I would like to ban usage of `List.sort()` methods, but I'm totally fine with using other methods named `sort`.

It should provide a method to use instead. As an advanced version, it could provide a repl

[2022-05-04 14:43] ValentinVignal commented on #826
I tried to do something here: https://github.com/dart-code-checker/dart-code-metrics/pull/828

Tell me if I
- miss anything
- did something wrong
- should do something differently

[2022-05-04 15:24] incendial commented on #817
@AbhishekDoshi26 a kind ping, an example would be a nice thing to have 🙂

[2022-05-04 17:57] incendial commented on #801
@Dan-Crane I was able to reproduce and fix duplicates, but unfortunately not luck with the warnings you have. I tried to reproduce it in tests here https://github.com/dart-code-checker/dart-code-metrics/pull/829/files#diff-edad499cd1348c1cfb0a86120ad22751362d4802d6e688e1a1741682b3c0298dR1, but all green. I'd really appreciate a reproduction for that.

[2022-05-04 18:00] incendial commented on #827
I'd suggest to split method and library configuration `ident: dart:core/list.dart List.sort` to separate entries.

Also, have you considered extending the capabilities of `ban-name` instead of creating a separate rule? Or it's better to have it separated?

[2022-05-04 18:12] incendial commented on #826
@ValentinVignal great job! 🔥 Left few small comments in the PR

[2022-05-04 21:58] ookami-kb commented on #827
@incendial makes sense, we can tweak `ban-name` rule to e.g. have these parameters:

- `identifierName` – current functionality of `ban-name`;
- `elementName` – to filter by element name, `List.sort`;
- `library` – to filter by library, `dart:core/list.dart`;

Probably, there is some better way to differentiate between `identifierName` (which would be just `sort` in the case of the `List.sort`) an

[2022-05-06 04:39] ValentinVignal opened #837 "[BUG] avoid-border-all is triggered even when it is not a const"
I'm using the rule `avoid-border-all` and while I understand the importance of using a const constructor with the `const` keyword, I don't think it maters when the parameters are not `const` themselves. Or am I wrong?

To me, it should allow the developper to use the constructor `Boder.all` (les wordy than ` Border.fromBorderSide(BorderSide())` if the parameters are not `const`.

* **Dart code met

[2022-05-06 04:59] ValentinVignal commented on #811
I'm working non it. The issue is that it is happening on my company's repo which is not open source and I cannot share 😕 So I have to manage to understand where/why it is blocked. I'm starting to wonder if it was just very long and I wasn't patient enough.

[2022-05-06 07:55] incendial commented on #811
That's might be true, actually. We don't have any progress indication yet.

I'm not sure, coz no one reported this problem before.

I think we can add a progress indication of some sort and you'll be able to recheck properly.

[2022-05-06 08:36] ValentinVignal commented on #811
this could be a good first step yeah

[2022-05-06 10:05] talisk commented on #816
Maybe there is something wrong with your thinking? How to determine the value of variable or a non-constant string? And what value we should use? The value may be requested from the server.

[2022-05-06 10:10] talisk commented on #816
I think the analyzer should determine which assets must be used. Then the others may not be used. But we have no way of confirming this. Because the factors that affect the variables may be the data from server, or the user's operation.

[2022-05-09 15:10] itsJoKr opened #838 "[Question] Add support to automatically ignore rule"
It would be great if dart-code-metrics issues could be ignored like with analyzer issues.

For every analyzer issue I can do:
_Option+Enter -> Ignore for line_ or _Ignore for file_

Without it, I need to go to docs to find out name of the rule and then write it manually. Right now it's a bit of a hassle to adopt this on big projects, since I have hundreds of issues and ignore could help a lot in a

[2022-05-10 07:00] ueman opened #840 "[Feature] Make use of GitHubs new action summaries"
GitHub introduced Action summaries (see [this blog post](https://github.blog/2022-05-09-supercharging-github-actions-with-job-summaries/)). It would be really cool if you could make use of it.

[2022-05-10 07:09] dkrutskikh commented on #840
@ueman thanks for feature request!  Please move this issue to the action report.

[2022-05-10 07:10] ueman commented on #840
Oh sorry, will do.

[2022-05-10 07:10] #840 closed

[2022-05-10 17:49] incendial commented on #838
@itsJoKr hi, thank you for suggesting this and sorry for inconvenience. There is actually another issue about the same problem https://github.com/dart-code-checker/dart-code-metrics/issues/806, so I'm closing this as a duplicate.

What IDE do you use? Coz you can find the id of the rule, that triggered the highlight in the VS Code, if you hover the highlighted part.

[2022-05-10 17:49] #838 closed, assigned to dkrutskikh, incendial

[2022-05-11 08:40] codeOfJannik opened #842 "[Question] Different output for same code in pipeline?"
If I locally run `flutter pub global run dart_code_metrics:metrics analyze --fatal-style --fatal-performance --fatal-warnings lib` with rules in the analysis_options.yaml in place, I don't receive warnings anymore since I have resolved all of them. But when the same command is executed inside a step of the bitbucket-pipeline.yaml I receive 46 warnings, most of them _avoid-dynamic_.

When I check t

[2022-05-11 18:17] incendial commented on #842
@codeOfJannik could you share your `analysis_options.yaml` and  `bitbucket-pipeline.yaml` Dart Code Metrics configs?

[2022-05-12 00:25] #801 closed

[2022-05-12 05:56] codeOfJannik commented on #842
**analysis-options.yaml**
[code]

**bitbucket-pipelines.yaml**
[code]

[2022-05-12 06:37] dkrutskikh commented on #842
@codeOfJannik thank you for info, could you please attach output from cli and bitbucket report ?

[2022-05-12 07:25] codeOfJannik commented on #842
**CLI output:**
[code]

**bitbucket output:**
[code]

[2022-05-12 13:19] roman-petrov opened #843 "[BUG] Comatibility with Dart 2.17 & analyzer 4.0"
I have a problem using `build_runner` + `dart_code_metrics` on my codebase which uses new [super parameters](https://github.com/dart-lang/language/issues/1855) feature introduced in Dart 2.17.

The problem is that `dart_code_metrics` currently has a restriction for ` analyzer: ">=2.4.0 <3.4.0"` so the `analyzer` package can not be resolved to `4.0.0` and `build_runner` fails when sees super parame

[2022-05-13 06:31] incendial commented on #843
Should be fixed in 4.15.1

[2022-05-13 06:31] #843 closed

[2022-05-13 08:48] fzyzcjy opened #846 "[BUG] flutter 3.0 analyzer plugin does not seem to work"
* **Dart code metrics version:** 4.15.0
* **Dart sdk version:** flutter3.0

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**

**What actually happened?**

**Are you willing to submit a pull request to fix this bug?**

Hi

[2022-05-13 08:50] fzyzcjy commented on #846
Here is what analyzer server says:

[code]

[2022-05-13 08:51] fzyzcjy commented on #846
Analysis server version: 1.33.0
Dart SDK: 2.17.0 (stable) (Mon May 9 10:36:47 2022 +0200) on "macos_x64"

[2022-05-13 08:52] fzyzcjy commented on #846
Duplicate of https://github.com/dart-lang/sdk/issues/48682

[2022-05-13 08:52] #846 closed

[2022-05-13 09:42] incendial commented on #846
Happy to see that this is not a new problem 😅

[2022-05-13 09:47] fzyzcjy commented on #846
😅

[2022-05-13 12:27] fryette opened #847 "[Feature request] Introduce autosorting for member-ordering-extended rule"
The main issue with that rule is that it's impossible to apply it to the whole codebase.

I would like to ask you to provide a way for applying it automatically to the whole codebase.
It can be via console or any suitable way that the project can use across the team

[2022-05-14 11:41] alex-sandri opened #848 "[BUG] Dart Enhanced Enums in Flutter 3"
* **Dart code metrics version: 4.15.1**
* **Dart sdk version: 2.17.0**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**

No errors.

**What actually happened?**

[code]

**Are you willing to submit a pull request to fix

[2022-05-14 15:08] incendial commented on #848
@alex-sandri hi, thanks for the report. It complains about ` warning;` since `;` is not an expected token here. We're discussing how to address it properly.

[2022-05-15 17:59] incendial commented on #847
We thought about introducing auto-fixing through `dart fix` API, but unfortunately there is still no way to extend it. I have another idea, how to achieve this for DCM, will try to create some prototype soon

[2022-05-16 07:16] tomgilder opened #850 "[BUG] check-unused-files reporting entire project unused"
* **Dart code metrics version:** 4.15.1
* **Dart sdk version:** 2.17.0

**Please show your full configuration:**

None - just using `check-unused-files `

**What did you do? Please include the source code example causing the issue.**

Ran `flutter pub run dart_code_metrics:metrics check-unused-files lib`

**What did you expect to happen?**

Unused files found

**What actually happened?**

All 227

[2022-05-16 07:24] tomgilder commented on #850
Submitted the bug and immediately found the issue 😁

We have a `analysis_options.yaml` file in a subfolder because we need to disable strong-mode for some generated code:

[code]

Deleting that file fixes the problem.

I guess we can work around this by excluding all of that code from analysis, but should this be supported?

[2022-05-16 08:12] fryette commented on #847
Interesting case I found how to moor did migration to drift.

Probably you can introduce such commands as well
link: https://1j2.com/help/how-to-find-udid-of-iphone-or-ipad-without-mac-or-pc/

[2022-05-16 08:20] incendial commented on #847
Sorry, I didn't get the idea. Could you elaborate?

[2022-05-16 16:27] incendial commented on #850
That's interesting, can you please provide an example repo with this issue reproduced? I think I saw the same approach with `analysis_options.yaml` in the another issue, but nothing about this problem

[2022-05-16 17:20] #826 closed

[2022-05-16 18:04] #848 closed

[2022-05-16 18:04] #837 closed

[2022-05-16 18:16] FMorschel opened #851 "[BUG] The specified file can not be found. Command: C:\src\flutter\bin\cache\dart-sdk\bin\pub.bat upgrade"
* **Dart code metrics version:** 4.15.0
* **Dart sdk version:** 2.17.0

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

I just followed the instructions to run the package with VSCode Analyzer and it didn't work. I tried to restart the Analysis Server, run `flutter clean` and `pub get` again, but nothing really did anything.

**What did you

[2022-05-16 19:52] incendial commented on #851
Should be fixes when this fix https://github.com/dart-lang/sdk/issues/48682 will be cherry-picked to stable, please follow the discussion in this issue

[2022-05-16 20:04] incendial commented on #826
Available in 4.15.2 🚀

[2022-05-18 00:23] #817 closed

[2022-05-18 08:01] furaiev opened #855 "[BUG] check-unused-code quirks (digits in filenames, macOS)"
Strange behavior that depends on the filename.
When the filename contains digits, the `check-unused-code` reports code as unused (on macOS only).

* **Dart code metrics version:** 4.15.2
* **Dart sdk version:** 2.17.0

[code]

**macOS result:**
[code]

**Linux result:**
[code]

**min reproduce repo:** https://github.com/furaiev/code_metrics_proof

**macOS codemagic result (see Pre-test script logs

[2022-05-20 08:53] incendial commented on #851
Updating to Flutter 3.0.1 should fix the issue

[2022-05-20 13:54] FMorschel opened #858 "[New rule] Ordering Stateless/Statefull/State classes differently with flutter-member-ordering"
**Please describe what the rule should do:**
Inspired by #454, I do believe that a new rule would be better, making it so that you could use a different ordering inside "Flutter classes". I'm not sure if the analyzer could identify if we extended an existing `StatefulWidget` child created by us, but at least it could warn when `extends`/`implements`. And this could have the defaults mentioned by [

[2022-05-20 14:11] FMorschel opened #859 "[Rule change] Adding static/instance differentiation"
**What rule do you want to change?**
https://dartcodemetrics.dev/docs/rules/common/member-ordering-extended
https://dartcodemetrics.dev/docs/rules/common/member-ordering

**How will the change be implemented? (New option, new default behavior, etc.)?**
Adding:
- `static-public-fields`
- `static-private-fields`
- `static-public-getters`
- `static-private-getters`
- `static-public-setters`
- `static

[2022-05-20 15:13] incendial commented on #847
Yeah, looks like it thanks! I'll close this one as duplicate. This feature is work in progress right now, but no commitments yet.

[2022-05-20 15:13] #847 closed

[2022-05-20 15:19] #859 closed

[2022-05-20 15:19] incendial commented on #859
By parts I mean this
`< (overridden | protected)- >< (private | public)- >< static- >< late- >< (var | final | const)- >< nullable- >< named- >< factory- > (fields | getters | getters-setters | setters | constructors | methods)`

[2022-05-20 15:53] FMorschel commented on #859
I didn't see that before, thank you!

[2022-05-21 12:19] fzyzcjy opened #860 "[BUG] Cannot override rules"
* **Dart code metrics version:**latest
* **Dart sdk version:**latest

Hi thanks for the library! For example, I have a analysis yaml like:

[code]

but I want to disable this rule for a few packages:

[code]

But this seems impossible as the package does not recognize it.

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? P

[2022-05-21 12:34] incendial commented on #860
@fzyzcjy please try to disable the rule with `false` as for regular analyzer rules, like
[code]

[2022-05-21 12:35] fzyzcjy commented on #860
I see. I will try it. Thanks!

[2022-05-21 17:23] incendial commented on #860
Closing this, feel free to reopen if the approach above doesn't work for you

[2022-05-21 17:23] #860 closed

[2022-05-22 09:33] incendial commented on #855
Interesting, this looks like an analyzer issue, not ours 🤔

@furaiev do you have the word `test` in our original files?

[2022-05-22 09:36] incendial commented on #855
Asking, coz removing the word (actually, naming any other way) produces 0 issues

[2022-05-22 09:56] incendial commented on #850
I was able to reproduce the problem. It's definitely an issue and looks like we have double analysis for such cases.

[2022-05-22 12:22] The-Redhat opened #863 "[Question] Find unused unused l10n in .arb file"
Hey thanks for the awesome package.

We are using [.arb files](https://docs.flutter.dev/development/accessibility-and-localization/internationalization#adding-your-own-localized-messages) for localization in our project.

Does the "Check unused l10n" command (`flutter pub run dart_code_metrics:metrics check-unused-l10n lib`) support these kind of the translations? If yes which arguments do I have

[2022-05-22 13:37] incendial commented on #863
@The-Redhat hi, only this approach is supported right now https://docs.flutter.dev/development/accessibility-and-localization/internationalization#defining-a-class-for-the-apps-localized-resources

[2022-05-22 13:38] The-Redhat commented on #863
@incendial thanks for the clarification. Are there any plans to support .arb files?

[2022-05-22 13:45] incendial commented on #863
It's not about .arb, it's about how you use them in dart files. Where do you have `AppLocalizations` file placed? You can try to analyze the root of the project with this file included. Also don't forget to pass `--class-pattern` that represents you localization class name.

[2022-05-22 14:37] The-Redhat commented on #863
Ah okay good to know.

Changing the `--class-pattern` did the trick.

But now it marks keys a not used which have the following pattern.
[code]

This works
`AppLocalizations.of(this)!.upgradeRequiredAppStore;`

[2022-05-22 16:49] furaiev commented on #855
@incendial removed test from names

[code]

https://codemagic.io/app/6283afc607752fbaa9523008/build/628a6929d44138ebc3ba6a42

[2022-05-22 18:57] incendial commented on #855
👍  I'll report this issue to the Dart team, looks like there is some internal problem with how element model is being built. Let's see, what they tell.

[2022-05-22 19:01] incendial commented on #863
Happy to hear, that it worked!

As for the problem, it's a known limitation reported here https://github.com/dart-code-checker/dart-code-metrics/issues/648

[2022-05-22 19:55] The-Redhat commented on #863
Ah okay. I'll close this issue then.

Thank you very much for your help!

[2022-05-22 19:55] #863 closed

[2022-05-25 02:18] fzyzcjy opened #866 "[New rule] `forbid-import`, but allow `import ... show`"
**Please describe what the rule should do:**

Hi thanks for the flutter-favorite package! In my app I have a layered structure, and some layer should not see some other layer. For example, a "domain store" layer should not know how UI looks like.

Thus, I hope to forbid some kinds of imports in some files. For example, a config goes like:

[code]

Then, say `lib/domain_stores/store_one.dart` is:

[2022-05-25 02:30] roman-petrov commented on #866
@fzyzcjy , it seems you proposed quite similar I did before in #820 ?

[2022-05-25 02:31] fzyzcjy commented on #866
Yes, sounds similar :)

[2022-05-25 03:08] fzyzcjy commented on #866
Btw I have edited the issue, and added `the show logic` part

[2022-05-25 03:33] roman-petrov commented on #866
Thanks, this is important case but in terms of architecture allowing unrelated layers to import *something* still might be a bad design practice, IMHO.

For example, instead of using `MaterialColor` in the "domain" store directly I would prefer to create some abstraction in domain store to make color manipulation and in the "ui" layer just convert my abstraction into `MaterialColor`.

So finally:

[2022-05-25 03:37] fzyzcjy commented on #866
Good idea! Another solution may be, create a non-blacklisted file like `domain_store/colors.dart` which has:

[code]

A bit like a hack though...

[2022-05-25 03:37] fzyzcjy commented on #866
That will result in a ton of boilerplate code IMHO :(

[2022-05-25 03:52] roman-petrov commented on #866
This all is still subject for discussion :)

[2022-05-25 09:38] fzyzcjy commented on #866
@roman-petrov Agree! Indeed I have agreed before :)

So seems that the `forbid-import` proposal without `show` is sufficient, i.e. very similar to your issue.

And I would use method like creating domain_store/colors.dart which has:

    export flutter/material.dart show MaterialColor;

This is because, I mentally categorize them into three layers:

* UI - for user interface
* domain - for domain

[2022-05-25 14:00] fzyzcjy commented on #866
Sure :)

Agree. For that, we may need to examine every variables' type. Btw is that possible and fast enough?

[2022-05-26 00:32] fzyzcjy commented on #820
Any plans to implement this? If not I may work on it :)

[2022-05-26 02:40] fzyzcjy commented on #820
WIP now: https://github.com/dart-code-checker/dart-code-metrics/pull/868

[2022-05-26 03:24] fzyzcjy commented on #820
Ready for review now #868

[2022-05-26 04:24] roman-petrov commented on #820
Definitely not plan now, you PR seems doing exactly what we need, thank you! 😉 Today I will try to participate in review if you don't mind.

[2022-05-26 06:34] fzyzcjy opened #869 "[New rule] avoid-banned-type"
**Please describe what the rule should do:**

Avoid using types from certain packages.

Context: https://github.com/dart-code-checker/dart-code-metrics/issues/866#issuecomment-1137284121

**If your rule is inspired by other please provide link to it:**

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[ ] Suggests an alternate way

[2022-05-28 12:51] fzyzcjy opened #873 "[Rule change] `prefer-extracting-callbacks` allow short callbacks to exist"
That should be a configurable line count. For example, when max-line-count is configured to 5, a callback with <5 lines of code will not be linted. This ensures that very short callback code can exist there, which can make code quite clean.

**What rule do you want to change?**

**How will the change be implemented? (New option, new default behavior, etc.)?**

**Please provide some example code th

[2022-05-28 13:09] incendial commented on #820
Oh, sorry for the delay, looking into the PR  👀

[2022-05-28 13:25] incendial commented on #873
@fzyzcjy sounds great, actually, thanks for the suggestion!

[2022-05-30 14:31] fzyzcjy opened #877 "Suggest to use `json_serializable` instead of handwritten configuration deserialize code"
json_serializable automatically generates a `fromJson` which inputs `Map<String, dynamic>` and outputs your struct. Seems that it supports yaml as well (though the name) - since this lib has already parse yaml into a Map.

[2022-05-30 15:39] incendial commented on #877
@fzyzcjy could you add more details about the rule you want to add? Or it's not a rule? I'm a little bit confused.

[2022-05-30 23:06] fzyzcjy commented on #877
Not a rule, just code refactor. Use https://pub.dev/packages/json_serializable instead of manually writing deserialize code.

[2022-05-31 05:45] incendial commented on #877
What do you mean by "code refactor" in DCM terms?

[2022-05-31 09:45] incendial commented on #877
Yeah, I got the idea of the suggestion, I'm trying to map it to current DCM entities like commands, rules, metrics, anti-patterns. So, you suggest a new entity, right?

[2022-05-31 09:50] fzyzcjy commented on #877
I mean:

https://github.com/dart-code-checker/dart-code-metrics/blob/master/lib/src/analyzers/lint_analyzer/rules/rules_list/ban_name/utils/config_parser.dart

old code like

[code]

new code like

[code]

[2022-05-31 09:50] fzyzcjy commented on #877
then no need for manually writing the config parser

[2022-05-31 09:58] incendial commented on #877
Ah, finally! Thank you for clarification. I though you're talking about suggesting json_serializable for the users of the package in their code 😅

[2022-05-31 10:08] fzyzcjy commented on #877
If you mean slow when running codegen - I guess only seconds for this small codebase. And you can check in generated code into git, then users do not need to run again and again.

Codegen simplifies code and make codes less error-prone compared with manually writing

[2022-05-31 10:35] incendial commented on #877
Build runner had this problem when you need to throw all genereated code and regenerate it all again. Is it fixed?

Agree 100%, for me it more about build runner developer experience

[2022-05-31 11:10] fzyzcjy commented on #877
Still only seconds IMHO. Only do that when conflicts happen.

Well that is a tradeoff

[2022-06-01 20:35] ivk1800 opened #879 "[New rule] new-api"
**Please describe what the rule should do:**
Avoid call a new api if language version constraints are violated.

**What category of rule is this? (place an "X" next to just one item)**

[x] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about (it will be better i

[2022-06-02 05:29] incendial commented on #879
@ivk1800 hi, which package provides `unawaited`? Asking, since the analyzer has highlight for features that are used the way you described, there should be no need to create a rule for that

[2022-06-02 05:32] ivk1800 commented on #879
`dart:async`
My analyzer doesn't show anything, maybe I don't have the rule enabled?

[2022-06-02 05:37] incendial commented on #879
It's not a rule, try setting `sdk: ">=2.15.0 <3.0.0"` and use super parameters or Class.new and you'll see the highlight. The only question remaining is why it doesn't work for dart:async. Have you tried to ask the Dart team first?

[2022-06-02 05:47] ivk1800 commented on #879
analyzer has highlight `super parameters or Class.new` because it is feature of language. `unawaited `just  annotated with `@Since`, anything can be annotated by this, this is just an example.

I did not ask the dart team why it does not work, but it looks strange. Look at the rule from android "NewApi" as reference.

[2022-06-02 07:59] incendial commented on #879
I mean, the annotation comes from the core package, the `unawaited` comes from the core package, that's why I think that a rule (or even some built-in analyzer support) that highlights such cases should be in the core package and not in the DCM.

[2022-06-02 07:59] incendial commented on #879
So that's why I suggest to start the discussion with the Dart team. If they refuse, we can add this to DCM.

[2022-06-05 17:56] incendial commented on #855
Reported here: https://github.com/dart-lang/sdk/issues/49182

[2022-06-08 10:41] fzyzcjy commented on #873
implemented.

[2022-06-08 15:28] vHanda opened #886 "[New rule] Warn when returning Future<void> instead of Void"
**Please describe what the rule should do:**
Should give me an error when passing an async void function in place of a sync void function.

**If your rule is inspired by other please provide link to it:**
- https://stackoverflow.com/questions/72529983/flutter-how-to-detect-async-code-in-a-ui-callback/

**What category of rule is this? (place an "X" next to just one item)**

[x ] Warns about a pote

[2022-06-13 21:26] ookami-kb opened #889 "[Rule change] `avoid-unrelated-type-assertions` should work with `is!`"
**What rule do you want to change?**

`avoid-unrelated-type-assertions`

**How will the change be implemented? (New option, new default behavior, etc.)?**

New behavior: it should trigger warning on `is!` operator.

**Please provide some example code that this change will affect:**

From the current rule example:

[code]

**What does the rule currently do for this code?**

No lint warning triggere

[2022-06-18 11:25] ookami-kb opened #894 "[BUG] `prefer-commenting-analyzer-ignores` doesn't work if description contains `-`"
* **Dart code metrics version:** 4.15.1
* **Dart sdk version:** 2.17.1

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**

No `prefer-commenting-analyzer-ignores` warning.

**What actually happened?**

The warning is shown. If I remove `-` from the description (e.g. `// ignore: avoid-non-null-assertion, checked for null`) no

[2022-06-20 16:20] #842 closed

[2022-06-20 19:04] incendial commented on #894
Available in 4.16.0! 🚀

[2022-06-20 19:04] incendial commented on #866
Available in 4.16.0! 🚀

[2022-06-20 19:04] #866 closed

[2022-06-20 19:05] incendial commented on #855
Available in 4.16.0! 🚀

[2022-06-20 19:05] #855 closed

[2022-06-20 19:05] incendial commented on #850
Available in 4.16.0! 🚀

[2022-06-20 19:05] #850 closed

[2022-06-20 19:05] incendial commented on #799
Available in 4.16.0! 🚀

[2022-06-20 19:05] #799 closed

[2022-06-20 19:05] incendial commented on #820
Available in 4.16.0! 🚀

[2022-06-20 19:05] #820 closed

[2022-06-20 19:06] incendial commented on #879
Closing this. Please feel free to reopen, if you disagree or the Dart team does not want to add this rule

[2022-06-20 19:06] #879 closed

[2022-06-20 19:13] incendial commented on #842
Available in 4.16.0! 🚀

[2022-06-20 19:13] furaiev commented on #855
@incendial from the first sight it works! Thanks!

[2022-06-21 09:59] furaiev opened #898 "[New rule] avoid-use-expanded-as-spacer"
**Please describe what the rule should do:** the rule should detect `Expanded` widgets that contain empty `SizedBox/Container` and propose to replace them with `Spacer()`

**If your rule is inspired by other please provide link to it:** -

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[x] Suggests an alternate way of doing some

[2022-06-29 03:15] LogicNg opened #904 "[Feature request] cli command to fix all"
Hi all,

First off, I would like to say that this package is awesome. Thanks for all the effort you guys put in. It would be nice if we can further automate the process. For example, when I enable dart-code-checker in a project, I have to go through each warning and click the auto-fix button.

I'm aware that fix all on save is [currently impossible](https://github.com/dart-lang/sdk/issues/46760).

[2022-06-29 10:30] DetachHead commented on #799
@incendial it doesn't seem to be fixed for me

[code]

[2022-06-29 11:21] furaiev opened #905 "[New rule or command] unused dependencies"
**Please describe what the rule should do:** check and suggest removing unused packages in pubspec.yaml (dependencies section)

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[ x ] Suggests an alternate way of doing something (suggestion)
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about (it

[2022-06-29 16:26] incendial commented on #905
@furaiev what do think of dependency_validator package? Does it cover your cases?

[2022-06-29 16:27] incendial commented on #799
@DetachHead That's strange, coz I tested it locally and everything was fine. I'll retest it come back

[2022-06-30 18:38] furaiev commented on #905
@incendial absolutely. Thank you!

[2022-06-30 18:38] #905 closed

[2022-07-04 02:23] chenbokun97 commented on #811
<img width="1033" alt="image" src="https://user-images.githubusercontent.com/84758580/177070573-6eb375ff-18cd-4057-a858-05f6d3b0f338.png">
Also happened to me, it will never exit the command

[2022-07-04 08:07] sherrychhabra51 opened #907 "[Question] Rules violations are not highlighted in report generated by dart metrics analysis"
Hi Guys,

I was trying to implement dart code metrics analysis in one of my project. I added this plugin in my project along with flutter analyzer rules.

`dart_code_metrics: ^4.16.0`

When I ran code analysis on my project using below command, it clearly states all the issues at the top of each file like cyclomatic complexity, Source lines of code, maximum nesting, issues etc.

`flutter pub run d

[2022-07-04 10:49] quentinleguennec opened #908 "[Question] check-unused-code: Ignore 'unused class' warning for some classes"
Is there a way to mark a given class to be excluded from the list of results returned by `check-unused-code`? For example by adding something like `// ignore: unused_element` just above the class?

Thanks

[2022-07-05 12:05] incendial commented on #811
@chenbokun97 any chance you can create a reproduction?

[2022-07-05 12:08] incendial commented on #908
@quentinleguennec hi, no, there is currently no way to exclude any specific class from the report, only a whole file via analyzer excludes section in analysis_options file. Can you share, why do you need that?

[2022-07-05 12:12] incendial commented on #904
@LogicNg hi, thank you! As for auto-fix, it is already in progress, hope it'll be ready in the next major release, but no exact date yet.

[2022-07-05 12:45] incendial commented on #907
@dkrutskikh can you take a look please?

[2022-07-05 14:45] quentinleguennec commented on #908
Hi @incendial , I have some classes, getter, and top level constants and functions that I don't currently use but still want to keep around.

For example I have a few top level functions to convert imperial system units to metric system, like `convertFeetToMeters(...)`

And I also have `convertMetersToFeet(...)` which I currently don't use but want to keep it as part of a set. I'd like to hide it

[2022-07-08 04:09] sherrychhabra51 commented on #907
@dkrutskikh Did you get a time to look into it.

[2022-07-09 04:16] LogicNg commented on #904
@incendial Glad to hear that!

[2022-07-10 04:39] DetachHead commented on #799
@incendial any update? let me know if you need any more information from me to reproduce

[2022-07-11 06:23] incendial commented on #799
@DetachHead sorry, not yet. Plan to check it today

[2022-07-11 18:16] daniloteamflow commented on #528
Hi @incendial! I am facing this issue with `dart_code_metrics: ^4.15.2` as reported [here](https://github.com/flutter/flutter/issues/82022#issuecomment-1172394945). Once I removed the `dart_code_metrics` from the `analysis_options`, the memory consumption got back to under 500Mb. Here is my full `analysis_options.yaml`:

[code]

[code]

[2022-07-12 16:48] incendial commented on #799
@DetachHead tested it locally and everything works as expected. Could you create a reproduction example?

[2022-07-12 16:59] JCQuintas commented on #811
I'm also seeing this issue.

[2022-07-12 17:13] incendial commented on #811
@JCQuintas what version of dart_code_metrics and analyzer do you have?

[2022-07-12 17:18] JCQuintas commented on #811
[code]

[2022-07-12 17:18] incendial commented on #811
Can anyone create an example with this problem? I can't reproduce it locally.

[2022-07-13 01:35] chenbokun97 commented on #811
@incendial I created a new flutter project and added analyzer and run ```flutter pub run dart_code_metrics:metrics analyze lib --set-exit-on-violation-level=warning``` then it will reproduce
flutter v2.10.5
macOS 12.4

[2022-07-13 11:07] incendial commented on #811
@chenbokun97 cloned the repo and downgraded to 2.10.5 - still getting the output `✔ no issues found!`. It's not instant, but  still finishes

[2022-07-13 11:23] incendial commented on #528
@daniloteamflow hi, thank you for reporting the issue, hoping to release the new integration in a few days https://github.com/dart-code-checker/dart-code-metrics/pull/900. It should significantly reduce the memory usage

[2022-07-14 08:56] chenbokun97 commented on #811
@incendial I found that there is no default exit after runCommand in AnalyzeCommand, can it be the reason?

[2022-07-14 11:47] The-Redhat commented on #648
Hey @incendial is this issue somewhere on your roadmap? Is there anything I can do to help you with it?

[2022-07-15 02:48] chenbokun97 commented on #811
<img width="1034" alt="image" src="https://user-images.githubusercontent.com/84758580/179137192-415c955b-a084-4484-b47b-f0963e56a7fd.png">

[2022-07-15 08:32] incendial commented on #811
It should not affect the invocation anyhow, but since you have the local clone, can you add exit(0) to the end of  https://github.com/dart-code-checker/dart-code-metrics/blob/b4bc57b0a82c7d09bffe87ad9d35ea145c7d8354/lib/src/cli/cli_runner.dart#L40 ?

[2022-07-15 10:04] incendial commented on #811
Very interesting, thanks for pointing this out! Will add it to the next release

[2022-07-18 01:46] chenbokun97 commented on #811
Thanks so much, I will upgrade and test it once it releases

[2022-07-19 03:00] fzyzcjy opened #927 "[Rule change] Let `ban-name` ban things like `DateTime.now`"
To allow testability, it would be great to ban all `DateTime.now` and use `clock.now` instead. Thus, we can extend `ban-name` to do so.

**What rule do you want to change?**

**How will the change be implemented? (New option, new default behavior, etc.)?**

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

**What will th

[2022-07-22 16:38] vasilich6107 opened #935 "[Feature] Support `// ignore:` for metrics"
* **Dart code metrics version:** 4.16.0
* **Dart sdk version:** >=2.17.0 <3.0.0

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
Dart code metrics should ignore the issue

**What actually happened?**
Dart code metrics d

[2022-07-23 02:53] NickBalnaves opened #939 "[Question] How to import all rules and disable the ones not relevant to a project?"
**What do you want to discuss?**
Inspired by https://pub.dev/packages/all_lint_rules_community is there a way to include all rules in this package and then disable or alter rules that aren't relevant to a project?

[2022-07-23 09:33] incendial commented on #939
@NickBalnaves no, it's not possible, but will be when #459 is implemented. Closing this for now.

[2022-07-23 09:33] #939 closed

[2022-07-25 15:19] janknips opened #940 "[BUG] avoid-unrelated-type-assertions has false positives"
* **Dart code metrics version: ^4.16.0**
* **Dart sdk version:  2.17.6**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?** No linter warning or a warning saying: "Note: there might be false positives if another type is i

[2022-07-26 08:56] inf0rmatix commented on #811
So glad this is finally addressed!
Could you maybe push this onto another dev release so we can use it right away?
We are using dart code metrics heavily, and especially the pre-commit hook takes minutes to complete due to this issue.

[2022-07-26 12:42] incendial commented on #811
@inf0rmatix we plan to release the new version today, so there is no need for dev release

[2022-07-26 19:17] incendial commented on #908
Available in 4.17.0 🚀

[2022-07-26 19:17] #908 closed

[2022-07-26 19:18] incendial commented on #898
Available in 4.17.0 🚀

[2022-07-26 19:18] #898 closed

[2022-07-26 19:18] incendial commented on #815
Available in 4.17.0 🚀

[2022-07-26 19:18] #815 closed

[2022-07-26 19:18] incendial commented on #743
Available in 4.17.0 🚀

[2022-07-26 19:18] #743 closed

[2022-07-26 19:19] incendial commented on #811
4.17.0 is out right now, please check if the issue is fixed

[2022-07-26 20:07] lsaudon opened #944 "[BUG] avoid-top-level-members-in-tests in lib"
* **Dart code metrics version:** 4.17.0
* **Dart sdk version:** 2.17.6

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**

The warning should not be there, as it is not in the test file.

**What actually happened?**

The

[2022-07-26 21:28] lsaudon commented on #944
Finally, I submitted a pull request. 😄

[2022-07-26 22:07] maxlapides commented on #811
@incendial Unfortunately, this issue is still occurring for us with Dart Code Metrics 4.17.0 + Flutter 3.0.5 + analyzer 4.3.1

[2022-07-27 07:22] incendial commented on #944
@lsaudon thank you for the report and for the fix!

[2022-07-27 07:24] taibaiyinxing opened #946 "[Question] only analyze opened files in VSCode"
**What do you want to discuss?**
I just learned to add dart-code-metrics to my test project, but after I added configurations to the analysis_options.yaml, and written some code that against a rule ('avoid-returning-widgets', which is added to the analysis_options.yaml file), then I switched to another file which didn't have any proplem, and finaly I restart my VS Code, and found that the warning

[2022-07-27 07:24] incendial commented on #811
@maxlapides you see the same result? Or not even the "no issues found" output?

[2022-07-27 08:36] incendial commented on #946
@taibaiyinxing hi, it should analyze the whole project by default. Can you share the package version and the sdk version you have?

[2022-07-27 09:38] inf0rmatix commented on #811
@incendial updated the package, works like a charm now, proper exit code used :) thank you so much!

[2022-07-27 10:35] taibaiyinxing commented on #946
Thanks. My dart-code-metircs version is 4.16.0, and Dart version is 2.16.1, Flutter version is based on 2.10.2 (which has a little custom made from my company)

[2022-07-27 10:36] taibaiyinxing commented on #946
@incendial Thanks. My dart-code-metircs version is 4.16.0, and Dart version is 2.16.1, Flutter version is based on 2.10.2 (which has a little custom made from my company)

[2022-07-27 11:23] taibaiyinxing commented on #946
and the analyzer version is 4.1.0; the analyzer_plugin version is 0.10.0 in the pubspec.lock file

[2022-07-27 12:49] incendial commented on #946
Can you please try to clear plugin_manager folder as described here https://github.com/dart-code-checker/dart-code-metrics/blob/master/CONTRIBUTING.md#run-the-plugin-in-ide, 5 step and then reload the IDE?

[2022-07-28 03:11] taibaiyinxing commented on #946
@incendial I have tried to delete the .dartServer folder following the step 5 from the link just now, and found that the clear couldn't solve my problem. I also tried this in the Android Studio, the problem was still exist.
But when I runned the command line 'dart run dart_code_metrics:metrics analyze lib', I found that this cli can print the warnning infos of the files from whole project.

[2022-07-28 08:16] egonm12 opened #947 "[Feature request] Support for checking files instead of directories"
I am using [Lefthook](https://github.com/evilmartians/lefthook) so I can run some pre-commit commands. I've also added a rule for DCM but I am unable to run it on individual files:

`lefthook.yml`
[code]

Output:
[code]

Is this something that will be supported in any future updates?

[2022-07-28 13:17] lukepighetti opened #948 "[New rule] use_internal_library_imports"
If a there is an internal library and a developer reaches into it, show a linter warning that they should import the library itself.

- [ ] Warns about a potential error (problem)
- [x] Suggests an alternate way of doing something (suggestion)
- [ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about (it will be better if you can provide both good and bad examples):

[2022-07-29 09:06] incendial commented on #947
@egonm12 hi, there was no plans to support analysing specific files, can you add more details why passing a folder doesn't work for you?

[2022-07-29 09:41] egonm12 commented on #947
@incendial Let's suppose I only commit 3 out of 4 files that have a change and that fourth file has some issues raised by DCM. In such a case, I only want to run DCM on the files that I am committing and not on the ones that are not part of the commit. In the current situation, the commit will fail on the pre-commit hook since you can not specify which files it should run on, and there is a chance

[2022-07-29 09:43] incendial commented on #947
So you mean that the tool will select changed files to {staged_files} and then pass them to the DCM?

[2022-07-29 09:46] incendial commented on #946
Strange, I see that you created an issue in sdk repo https://github.com/dart-lang/sdk/issues/49551, let's see what the Dart team will say, coz it looks mostly like integration issue in their side

[2022-07-29 09:54] egonm12 commented on #947
@incendial exactly!

[2022-08-01 03:23] taibaiyinxing commented on #946
@incendial Thanks. I got the logs and had a new discover and commented it in that issue, maybe we can discuss it there.

[2022-08-01 05:17] fzyzcjy opened #951 "[Feature] Easily implement jump-to-source-code in Intellij IDEA"
Currently, when running, e.g., `dart run dart_code_metrics:metrics check-unnecessary-nullable lib --monorepo`, it outputs warnings but we have to *manually* find out the corresponding code file and line number, which is tedious.

However, a simple change is sufficient: Instead of output like

[code]

instead output:

[code]

Notice the last line: `at /absolute/path/to/lib/something.dart:134:3 `. A

[2022-08-02 08:43] fzyzcjy commented on #951
👀

[2022-08-03 07:06] BrutalCoding commented on #904
Waiting eagerly for this solution! I have to go through a 1000 prefer-comma-trailing fixes manually now so hopefully there's some news about this CLI feature before I get it down to zero 😆

[2022-08-03 10:43] taibaiyinxing commented on #946
@incendial Hi, I just tried to solve the problem as described in sdk repo https://github.com/dart-lang/sdk/issues/49551, and it seems work. Do you have any suggestions about it? Thanks.

[2022-08-04 12:00] justjew opened #956 "[New rule] close-method param for member-ordering-extended rule"
I always put dispose/close/cancel methods to the bottom of class. I am clearly sure it is a good practice.
Unfortunately `member-ordering-extended` has only `dispose-method` option.
Also I did not find how I can create custom ordering rule.

**What category of rule is this? (place an "X" next to just one item)**

- [ ] Warns about a potential error (problem)
- [ ] Suggests an alternate way of doin

[2022-08-04 12:59] justjew commented on #956
Oh, also I found out that `dispose-method` works only inside Widgets

[2022-08-05 09:22] incendial commented on #956
@justjew hi, yeah, we only supported named methods for the widgets at this point and I'm not sure how make this configuration flexible. We can add support for *-method, and check if * equals to any method of a class, but I'm not sure that there will be no cases, when the user would want to have one order for "services" and another for "widgets".

[2022-08-05 09:24] incendial commented on #951
@fzyzcjy sorry for the delay, looks reasonable, but interesting that the current format works fine in VS Code. Or the problem is only for --monorepo?

[2022-08-05 09:50] fzyzcjy commented on #951
Maybe b/c vscode and intellij works differently? `lib/something.dart:134:3` does not work for me in intellij.

[2022-08-05 10:03] justjew commented on #956
@incendial what about `w-*-method`, `s-*-method`, where prefix W means Widget and S means Service? And * is method name

[2022-08-05 10:04] justjew commented on #956
It would be flexible enough

[2022-08-05 10:14] incendial commented on #956
Unfortunately, services and widgets are also limited to projects that use such terms. One options would be to introduce patterns for the entries, like close-method for *Service classes, but it will make the config more complicated

[2022-08-05 10:15] incendial commented on #951
Okay, I'll test the absolute path in VS Code and if everything is fine will change the path.

[2022-08-05 10:22] fzyzcjy commented on #951
Looking forward to the next release!

[2022-08-05 10:29] justjew commented on #956
By services I meant anything but widgets. Not *Service classes.

[2022-08-05 10:36] incendial commented on #956
Ah, I got it. Maybe you're right and that would be enough.

[2022-08-05 10:37] justjew commented on #956
Anyway, there should be some customization

[2022-08-05 10:39] orevial opened #957 "[Rule change] Add const keyword to "prefer-correct-edge-insets-constructor" rule"
So the EdgeInset rule is great and it even has an autofix, I would just suggest that we add the "const" keyword when applying the auto-fix as it is a recommended good practice : https://dart-lang.github.io/linter/lints/prefer_const_constructors.html.

Currently we have to do two steps to reach a "valid" code when basic lint rules are applied :
1. Apply EdgeInset auto-fix
2. Apply Flutter lints con

[2022-08-09 02:37] ktnishide opened #962 "[Question] Support to Azure pipeline cobertura format"
**What do you want to discuss?**
Hi Guys!
Awesome job you've been doing here!

Just wanted to know if you have plans to support other reporter formats such as cobertura or lcov.
We have our app build on Azure pipelines and we can use lcov/cobertura there, but not the formats you have available for now.

Thanks!

[2022-08-09 11:59] fzyzcjy commented on #944
+1 see same problem

[2022-08-09 12:00] fzyzcjy commented on #944
Looking forward to the release! This rule is completely useless without the fix :(

[2022-08-10 09:34] lsaudon commented on #944
You can exclude the project '/**' in your config file to solve the problem.

[2022-08-10 11:52] fzyzcjy commented on #944
@lsaudon Can I do that for this specific rule? Seems can only do it for all rules

[2022-08-10 11:54] lsaudon commented on #944
Just for this rule.

Like this

dart_code_metrics:
  rules:
    - no-equal-arguments:
        exclude:
          - test/**

[2022-08-10 11:56] fzyzcjy commented on #944
Thanks!

[2022-08-11 07:02] incendial commented on #962
@ktnishide hi, thank you! As for lcov/cobertura formats, unfortunately there are no plans to add them in the nearest future

[2022-08-11 07:04] incendial commented on #957
@orevial hi, yeah, that would be a great improvement! If you want to contribute, we'd really appreciate that

[2022-08-11 07:09] incendial commented on #946
@taibaiyinxing sorry for the delay. I've checked the example with adding the path to the context root excludes and I think that it should be supported just from analysis_options. I'll check our code today

[2022-08-11 12:26] taibaiyinxing commented on #946
Thanks. I've get some info from https://github.com/dart-lang/sdk/issues/49551 as they said:

Maybe we should wait for a conclusion about this.

[2022-08-14 07:52] incendial commented on #947
@egonm12 any chance you can test the fix in https://github.com/dart-code-checker/dart-code-metrics/pull/965?

[2022-08-15 11:09] egonm12 commented on #947
@incendial everything seems to work as expected, nice!

The only problem I am facing now is the verbose output. It prints all files that you are analyzing when you select entire directories now. For e.g. when I do run it on the `lib` folder it will print all files in that directory when running the analyzer.

`flutter pub run dart_code_metrics:metrics analyze --fatal-warnings --fatal-style lib`
[c

[2022-08-15 11:20] incendial commented on #947
@egonm12 thanks, that a `print` that should be removed

Happy to hear that!

[2022-08-16 01:27] ValentinVignal opened #967 "[BUG] Can we upgrade the analyser version?"
* **Dart code metrics version:**
`4.17.0`
* **Dart sdk version:**
`2.17.6`

I cannot use [`drift_dev 2.0.0`](https://pub.dev/packages/drift_dev) and `dart_code_metrics` at the same time:

[code]

[code]

[2022-08-16 18:34] incendial commented on #967
@ValentinVignal should be fine now, please check 4.17.1

[2022-08-16 18:34] #967 closed

[2022-08-17 01:10] ValentinVignal commented on #967
Do you mean `4.18.0-dev.2` ?

[2022-08-17 06:29] incendial commented on #967
No, 4.18-dev is about new plugins api build, it might now work as expected. Try 4.17.1

[2022-08-17 12:57] ItaloF532 opened #970 "[Question] How do CI with a Monorepo?"
Hi, I work with a monorepo and a trying to implement the dart code metrics CI, but I don't found any example of it.
I achieved with melos in CI, but without dart code metrics CI, I can't have comments for te code issues in PR.

Can you guys give me an example of how can I use the dart code metrics with a mono repo in CI? Please

[2022-08-23 18:36] maxlapides commented on #811
@incendial This is what I'm seeing in our CI system now:

[code]

[2022-08-25 01:57] ValentinVignal opened #973 "[BUG] avoid-border-all is triggered even when it is not a const"
There is a regression which is exactly https://github.com/dart-code-checker/dart-code-metrics/issues/837. The rule `avoid-border-all` is triggered even when the parameters are not constants.

* **Dart code metrics version:**
`4.18.0-dev.2`
* **Dart sdk version:**
`2.17.6`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? P

[2022-08-25 11:35] fzyzcjy commented on #951
"waiting for release" - I wonder when will it be released? Given the complexity of using the master branch (need to modify the downloaded package etc) I hope to use the released version.

[2022-08-25 12:46] fzyzcjy opened #974 "[Rule change] `check-unnecessary-nullable` should ignore `Key? key`"
**What rule do you want to change?**

Sometimes, the widget's `key` argument is wrongly warned by check-unnecessary-nullable. Thus, we may need to check and ignore such cases, since by definition, `key` should be of type `Key?`

**How will the change be implemented? (New option, new default behavior, etc.)?**

**Please provide some example code that this change will affect:**

[code]

**What does

[2022-08-25 12:50] fzyzcjy opened #975 "[Rule change] When excluding files in `check-unnecessary-nullable`, such as `.g.dart`, should take their method *calls* into consideration, while ignoring methods *defined* there"
**What rule do you want to change?**

Hi thanks for the wonderful package!

A very common example is json_serializable. We may have a class `class A {final int? field; A(this.field); }` that is json serializable. With excluding .g.dart, the linter warns that the field is unnecessarily null, while we all know it is meaningful to be nullable because it deserializes some data from the network which i

[2022-08-26 07:54] saty9 opened #976 "[BUG] plugin prevents dart analyze running without an internet connection"
* **Dart code metrics version:**
4.16.0
* **Dart sdk version:**
2.17.6

![image](https://user-images.githubusercontent.com/19638136/186850711-a2c01ff7-9c34-4e07-b159-17b65be000fb.png)

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**
 Turned off my devices interne

[2022-08-28 06:08] DetachHead opened #977 "[BUG] `avoid-unused-parameters` no warning when defining variable with the same name as unused parameter"
* **Dart code metrics version:** 4.16.0
* **Dart sdk version:** 2.17.5

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
`avoid-unused-parameters` warning

**What actually happened?**
no warning

**Are you willing to sub

[2022-08-28 11:01] incendial commented on #811
@maxlapides could you please create another issue with this problem if you still have it? I think it's not connected with the current issue (we actually found the problem, fix is in progress)

[2022-08-28 11:02] incendial commented on #970
@ItaloF532 hi, sorry for the delay, you do have melos, right?

[2022-08-28 11:13] incendial commented on #951
@fzyzcjy sorry for the delay, had some time off the DCM development, hope to release it on Monday

[2022-08-28 11:15] incendial commented on #974
@fzyzcjy could you provide a code example where is problem occurs to test it properly?

[2022-08-28 11:17] incendial commented on #975
That's interesting, this should be handled, will take a look

[2022-08-28 11:18] incendial commented on #976
I'm not sure that this issue belongs to DCM, since this api is out of our scope. Any chance you can provide a repro?

[2022-08-28 11:19] incendial commented on #977
@DetachHead I kinda think that shadowing is not supported by this rule by design, but I'll check

[2022-08-28 11:21] incendial commented on #973
Interesting to have a regression, will check

[2022-08-28 11:31] fzyzcjy commented on #974
Sure, I will make a reproducible sample the next time I work on this linter

[2022-08-28 11:31] fzyzcjy commented on #951
Take your time :)

[2022-08-28 13:17] saty9 commented on #976
what would a reproduction look like? do you just want a template project with this plugin setup where turning off internet access breaks dart analyze?

[2022-08-29 05:26] fzyzcjy opened #978 "[BUG] `// ignore_for_file: type=lint` seems not to work for `check-unnecessary-nullable`"
* **Dart code metrics version:** latest
* **Dart sdk version:** latest

**Please show your full configuration:**

Hi thanks for the library!

I use the quite helpful feature `check-unnecessary-nullable` to tidy the code, but I want it to ignore some files. Those files have `// ignore_for_file: type=lint` inside them, but seems that DCM does not take this comment into consideration.

<details>
<sum

[2022-08-29 06:06] fzyzcjy opened #979 "[BUG] `--reporter=json` for `check-unnecessary-nullable` crashes, saying `Converting object to an encodable object failed: Instance of 'MappedIterable<FormalParameter, String>'`"
Looks like the fix can be simple: Just make FormalParameter serializable?

[code]

* **Dart code metrics version:**
* **Dart sdk version:**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**

**What actually happened?**

[2022-08-30 06:07] incendial commented on #978
@fzyzcjy I'm not sure that our commands should take `// ignore_for_file: type=lint` coz it's not actually a lint. You can use // ignore_for_file: unnecessary-nullable` https://github.com/dart-code-checker/dart-code-metrics/blob/master/lib/src/analyzers/unnecessary_nullable_analyzer/unnecessary_nullable_analyzer.dart#L34. Will this be enough for you?

[2022-08-30 06:08] incendial commented on #976
@saty9 yes, exactly! I'll check if it has anything related with the DCM. If not, I'll transfer this issue to the Dart team and you repro will be very useful.

[2022-08-30 06:09] incendial commented on #974
Thanks!

[2022-08-30 06:16] fzyzcjy commented on #978
Well this bug comes from some .g.dart, and I raise it b/c another bug of ignoring certain suffix.

Anyway I have workaround both bugs by wrapping the DCM w/ a python script :)

[2022-08-30 06:16] #978 closed

[2022-08-30 07:42] saty9 commented on #976
https://github.com/saty9/dart_analysis_reproduction/commits/master First commit is before I configure analysis to use DCM and `dart analyze` works without internet. 2nd commit sets up DCM and `dart analyze` stops working without internet.

[2022-08-30 07:44] incendial commented on #976
Thank you!

[2022-08-30 12:26] incendial commented on #970
So, if you use melos, please check out how GetStream uses Dart Code Metrics with Melos https://github.com/GetStream/stream-chat-flutter/blob/develop/.github/workflows/dart_code_metrics.yaml

[2022-09-01 09:45] lavinov-mercury commented on #811
Hi! I've localized the issue, for us it was caused by the directory with huge amount of built_value models (and their generated part files). I've collected some measurements on how execution time depends on count of files:

<img width="658" alt="image" src="https://user-images.githubusercontent.com/86644843/187884272-065a681d-2f82-40e1-820a-b1706c157496.png">

Actually we have even more files in t

[2022-09-01 09:52] lavinov-mercury opened #982 "[BUG] Checks fail on GitHub Actions if analyzer version set >= 4.2.0"
This issue occurs for check-unused-code, check-unused-files & check-unused-l10n on GitHub actions when analyzer version set to 4.2 or higher (up to 4.6)

This most likely related to https://github.com/dart-code-checker/dart-code-metrics/issues/811, but i can't be sure. Issues have the same preconditions, but when i excluded files, which caused mentioned issue, CI proceeded to fail (check [comment]

[2022-09-01 11:50] fzyzcjy commented on #974
Seems that this happens everywhere.

[code]

[2022-09-06 05:40] mit-73 opened #990 "[BUG] "avoid-returning-widgets" does not work correctly with unnamed Widget class parameters"
* **Dart code metrics version: 4.17.0**
* **Dart sdk version: ">=2.17.6 <3.0.0"**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]
</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
I don't expect to see a warning from a lint

**What actually happened?**
I get a warning

[2022-09-06 05:55] mit-73 commented on #990
As I see it, the problem is in [this line of code](https://github.com/dart-code-checker/dart-code-metrics/blob/master/lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/visit_declaration.dart#L29-L33).

[2022-09-07 00:31] #970 closed

[2022-09-09 10:20] incendial commented on #977
Took a closer look and I think it's possible to fix the issue.

The rule was written 17 month ago and used the string names as a comparison target. I've rewritten the rule to use element model instead and everything looks fine.

[2022-09-09 10:58] incendial commented on #974
Thanks for the example, fixed. Waiting for release (as soon as we merge all the PR's).

[2022-09-09 11:05] incendial commented on #975
@fzyzcjy hm, looking closer to that and it seems that's an edge case. Could you provide the code example so I could write tests for it and correctly handle what needs to be excluded?

[2022-09-09 11:09] incendial commented on #811
@lavinov-mercury so, you mean that changing **only** the analyzer issue produces such difference?

[2022-09-09 11:10] incendial commented on #982
No, unfortunately there is no such option for now.

Error: Process completed with exit code 247.

That's something new, never seen such issues before. Investigating...

[2022-09-09 11:15] fzyzcjy commented on #974
Looking forward to the release!

[2022-09-09 11:31] lavinov-mercury commented on #811
@incendial Yeah, exactly

[2022-09-09 11:31] incendial commented on #975
A ton of code is alright for me, if it doesn't bother you to share. I think that's a valid use-case to be ignored, so a ton of code is not a blocker 😄

[2022-09-09 11:40] fzyzcjy commented on #975
Well those code are not open-source yet :/ Anyway I will share if I later see it in my open source projects. Thanks :)

[2022-09-10 15:54] incendial commented on #976
@saty9 closing this issue since it has been confirmed that the problem comes from the analyzer. See linked issue for more details

[2022-09-10 15:54] #976 closed

[2022-09-10 16:43] incendial commented on #889
@ookami-kb what do you think if instead of modifying the `avoid-unrelated-type-assertions` rule, the change will be applied to `avoid-unnecessary-type-assertions`?

[2022-09-12 14:59] incendial commented on #990
Available in 4.18.0 🚀

[2022-09-12 14:59] #990 closed

[2022-09-12 14:59] incendial commented on #979
Available in 4.18.0 🚀

[2022-09-12 14:59] #979 closed

[2022-09-12 15:00] #977 closed

[2022-09-12 15:00] incendial commented on #974
Available in 4.18.0 🚀

[2022-09-12 15:00] incendial commented on #973
Available in 4.18.0 🚀

[2022-09-12 15:00] #973 closed

[2022-09-12 15:00] incendial commented on #957
Available in 4.18.0 🚀

[2022-09-12 15:01] incendial commented on #951
Available in 4.18.0 🚀

[2022-09-12 15:01] #951 closed

[2022-09-12 15:01] incendial commented on #947
Available in 4.18.0 🚀

[2022-09-12 15:01] #947 closed

[2022-09-12 15:02] incendial commented on #889
Available in 4.18.0 🚀

[2022-09-12 15:02] #889 closed

[2022-09-12 15:02] incendial commented on #886
Available in 4.18.0 🚀

[2022-09-12 15:02] #886 closed

[2022-09-12 17:58] incendial commented on #811
Reported the issue to the Dart team, hope they can help

[2022-09-14 03:46] fzyzcjy opened #996 "[New rule] `updateRenderObject` should be consistent with `createRenderObject`"
**Please describe what the rule should do:**

I have commonly seen (and I also sometimes did it...) that, the updateRenderObject forget to update some fields that should be updated. This is subtle to be found, because as long as the createRenderObject works, nobody will realize the bug, until one day that field is updated and updateRenderObject does not do the job. So time will be wasted later to

[2022-09-14 03:50] fzyzcjy opened #997 "[New rule] check-for-equals-in-render-object-setters when implementing a RenderObject; maybe even apply this linter to check potential bugs in Flutter source code"
**Please describe what the rule should do:**

As long as we write down a few `RenderObject`s, or read through some in flutter source code, we will realize a pattern:

[code]

That early return is very helpful, because `set a` is always called within updateRenderObject. If it does not early return, then the markNeedsPaint (or for other fields, maybe markNeedsLayout, some heavy work, etc), will be *

[2022-09-14 07:59] incendial commented on #811
Looks like this fix should help https://github.com/dart-code-checker/dart-code-metrics/pull/998

If anyone can clone and test it locally - that would be very much appreciated. If there is no false-positives, I'll merge and release a hot fix.

[2022-09-14 09:24] incendial commented on #811
The fix helped, it also improved overall commands execution time. Please update to 4.18.2

[2022-09-14 09:24] #811 closed

[2022-09-14 09:30] #151 closed

[2022-09-14 09:32] incendial commented on #470
I think we're alright with the current way of updating the changelog. Closing this for now

[2022-09-14 09:32] #470 closed

[2022-09-14 09:34] incendial commented on #526
Closing this since there is no plans to improve the flow now. Please refer to the GetStream example for monorepo setup

[2022-09-14 09:34] #526 closed

[2022-09-14 11:54] incendial commented on #940
This is an expected false-positive, unfortunately, sometimes it's impossible to calculate the relation between two types. Closing as won't fix.

[2022-09-14 11:54] #940 closed

[2022-09-14 11:55] ksokolovskyi commented on #811
@incendial It works like a charm. Thanks a lot!

[2022-09-14 13:47] fzyzcjy commented on #996
A million.

https://api.flutter.dev/flutter/rendering/RenderBox-class.html has "Implementers":
[PlatformViewRenderBox](https://api.flutter.dev/flutter/rendering/PlatformViewRenderBox-class.html)[RenderCustomMultiChildLayoutBox](https://api.flutter.dev/flutter/rendering/RenderCustomMultiChildLayoutBox-class.html)[RenderEditable](https://api.flutter.dev/flutter/rendering/RenderEditable-class.html)[R

[2022-09-14 13:48] fzyzcjy commented on #996
[code]

[2022-09-14 13:49] fzyzcjy commented on #996
A ton of widgets in flutter. For example, the Opacity:

[code]

[2022-09-14 19:41] lavinov-mercury commented on #982
@incendial The issue has gone after upgrading to the latest version. Thank you!

[2022-09-14 19:41] #982 closed

[2022-09-14 19:46] incendial commented on #982
Yay! So happy to hear that!

[2022-09-15 00:14] maxlapides commented on #811
Awesome work! Not only is the issue resolved, but these scripts now run ~4x faster for us 🙂 Thank you!!!

[2022-09-15 11:09] incendial commented on #935
Checked the code and partial metric ignores are not supported at all. You can only ignore the whole file with the `metrics-exclude:` option. Could you add more details, why you need to ignore a specific metric in the report?

[2022-09-15 11:37] incendial commented on #935
Could you provide a link?

Would be great to know why `metrics-exclude:` doesn't work for you? Also, why not to change the configuration for metrics instead of ignoring the report? Looks like you want to ignore since you don't want to fix this particular report.

[2022-09-15 11:48] incendial commented on #935
It doesn't say anything about ignoring metrics

[2022-09-15 12:31] mit-73 opened #1001 "[BUG] "avoid-wrapping-in-padding" reacts to named and factory constructors that have no padding in their parameters"
* **Dart code metrics version: 4.17.1**
* **Dart sdk version: ">=2.18.0 <3.0.0"**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
I don't expect to see a warning from a lint

**What actually happened?**
I get a warning from lint on Padding: avoid-wrapping-in-p

[2022-09-16 10:26] incendial commented on #997
@fzyzcjy could you share an example from Flutter codebase?

[2022-09-16 10:27] incendial commented on #997
I look at this one https://github.com/flutter/flutter/blob/5bc4a7612f7fd430933b046aeb9e36a5c7f3916e/packages/flutter/lib/src/cupertino/text_selection_toolbar.dart#L667 and it looks too hard to extract a formal rule coz of `_backButton = _updateChild` calls.

[2022-09-16 10:30] incendial commented on #997
The info I'm looking for: which classes should be checked and which setters should have the check.

[2022-09-16 10:33] incendial commented on #997
Right now it looks like it's `a class, that extends RenderObject` and `all setters`, but the example above breaks this rule

[2022-09-16 10:36] fzyzcjy commented on #997
@incendial

Again, any RenderBox's subclass. For example, RenderPadding, RenderOpacity, RenderAnythingYouLike.

[2022-09-16 10:40] incendial commented on #997
Is it okay if I skip the check for a setter if the type is `RenderBox`?

[2022-09-16 10:40] incendial commented on #997
Kinda looks like a pattern, but I'm not sure

<img width="1065" alt="Screenshot 2022-09-16 at 14 40 17" src="https://user-images.githubusercontent.com/21116742/190621254-f9f8110f-81cc-45aa-8f02-6c9e38e6d92b.png">

[2022-09-16 10:46] fzyzcjy commented on #997
I look at this one https://github.com/flutter/flutter/blob/5bc4a7612f7fd430933b046aeb9e36a5c7f3916e/packages/flutter/lib/src/cupertino/text_selection_toolbar.dart#L667 and it looks too hard to extract a formal rule coz of _backButton = _updateChild calls.

There are outliers, surely. I guess we only need to focus on the standard things, and `// ignore: the-rule-name` outliers. For example, this is

[2022-09-16 10:47] fzyzcjy commented on #997
I never realized this pattern.

IMHO, maybe we can firstly implement a naive version. Then let the version report a lot of false positives. Then we check them, and see what common pattern they have. Then change our code to ignore them.

[2022-09-16 10:52] incendial commented on #997
Agreed!

[2022-09-18 14:07] fzyzcjy opened #1005 "Apply check-for-equals-in-render-object-setters & consistent-update-render-object to popular packages on pub.dev automatically"
We all know that, the code quality of (popular) packages on pub.dev usually will not be higher than the Flutter framework *itself*. Therefore, given that the two linter rules have found out about 7 issues in the flutter framework itself, I guess it will also find out many for (popular) packages on pub.dev.

Thus, I suggest that, we may download the (popular) packages on pub.dev, and scan them just

[2022-09-19 18:06] incendial commented on #1005
Oh, automating such process would be a great thing, actually!

[2022-09-20 17:53] incendial commented on #113
Available in 4.19.0 🚀

[2022-09-20 17:53] #113 closed

[2022-09-20 17:54] incendial commented on #997
Available in 4.19.0 🚀

[2022-09-20 17:54] #997 closed

[2022-09-20 17:54] incendial commented on #996
Available in 4.19.0 🚀

[2022-09-20 17:54] #996 closed

[2022-09-20 23:03] fzyzcjy commented on #997
🚀

[2022-09-20 23:04] fzyzcjy commented on #996
🚀

[2022-09-22 00:04] maxlapides opened #1006 "[BUG] avoid-redundant-async doesn't handle nullable return values"
* **Dart code metrics version: 4.19.0**
* **Dart sdk version: 2.18.1**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
This should be allowed by the lint rule because the `async` keyword is not redundant in this case.

[2022-09-23 20:28] illia-romanenko opened #1007 "[Rule change] avoid-late-keyword to allow late for AnimationControllers"
**What rule do you want to change?**
avoid-late-keyword

**How will the change be implemented? (New option, new default behavior, etc.)?**
new behavior
**Please provide some example code that this change will affect:**

It looks like using late is pretty idiomatic for AnimationController: https://api.flutter.dev/flutter/animation/AnimationController-class.html

[code]

**What does the rule current

[2022-09-24 09:51] incendial commented on #1007
@illia-romanenko so, on one hand I understand the idea, but on the other hand this is general dart rule, hardcoding ignores just for AnimationController looks not that flexible as I'd prefer. Any ideas how to make this configurable from the user standpoint?

[2022-09-24 14:00] solid-software commented on #1007
If we can pass parameters to the rule and include classes to ignore that would do it too.

[2022-09-26 17:03] incendial commented on #1006
Available in 4.19.1 🚀

[2022-09-26 17:03] #1006 closed

[2022-09-26 17:03] #1001 closed

[2022-09-26 19:50] maxlapides commented on #1006
Thank you @incendial!!!

[2022-09-27 06:34] incendial commented on #1006
Thanks for reporting the problem!

[2022-09-27 10:23] jsgalarraga opened #1010 "[Question] Analyzer version update"
**What do you want to discuss?**

Is it possible to upgrade the analyzer version to the latest (5.1.0)?

Current restrictions with latest dart-code-metrics version (4.19.1) only allows for: `analyzer >=4.1.0 <4.8.0`

[2022-09-27 16:11] incendial commented on #1010
@jsgalarraga could you share why do you need the latest version?

[2022-09-28 09:05] jsgalarraga commented on #1010
@incendial I upgraded some other packages (`build_runner: 2.2.1` and `json_serializable: 6.3.2`) to their latest version and when running `flutter pub run build_runner build` I got the following warning message.
[code]

I went ahead and upgraded analyzer and got conflicts with `dart_code_metrics: 4.19.1`.
There might be other workaround to update the analyzer language version that I don't know of.

[2022-09-28 12:00] jsgalarraga commented on #1010
No need to rush, I didn't NEED to upgrade those other packages. I was just upgrading everything to keep code up to date. I can just upgrade those in a few weeks once you're more confident on the stability

[2022-09-30 01:24] kurtdnyc opened #1012 "[New rule] avoid_empty_nullable_iterables"
**Please describe what the rule should do:**

It suggests you avoid passing in values to object constructors that are nullable, and iterable. If an object has a nullable, iterable property, assigning it an empty value allows an avoidable `StateError` to be thrown when accessing the `first` or `last` property.  Instead, it should be ensured that this property is either null, or not empty only.

Add

[2022-09-30 05:46] incendial commented on #1012
@kurtdnyc hi, I'm actually wondering maybe it's better to suggest using `firstOrNull` from `package:collections` https://api.flutter.dev/flutter/package-collection_collection/IterableExtension/firstOrNull.html? Looks like it covers the case and is way easier to implement as a rule. WDYT?

[2022-10-01 00:03] kurtdnyc commented on #1012
Yeah agreed, that would be much simpler!

[2022-10-01 06:56] incendial commented on #1012
@kurtdnyc if you need any help with implementing the rule, just let me know!

[2022-10-03 18:24] solid-yuriiprykhodko opened #1015 "[BUG] `avoid-non-null-assertion`: no lint for non-null assertion when it's immediately applied to a `Map<String, Object?>` value."
`Map<String, Object?>` is a structure we commonly use to describe JSON objects incoming from external APIs, so this is a problem that emerges when parsing it.

* **Dart code metrics version:** [4.19.1](https://github.com/solid-yuriiprykhodko/subscript-bang-lint-repro/blob/master/pubspec.lock#L80)
* **Dart sdk version:** Dart SDK version: 2.18.1 (stable) (Tue Sep 13 11:42:55 2022 +0200) on "macos_x

[2022-10-06 12:43] pro100andrey commented on #1010
Hi @incendial, any updates ?

[2022-10-07 08:02] Pitazzo opened #1017 "[BUG] async*/yield Stream building function triggers avoid-redundant-async"
* **Dart code metrics version:** 4.19.1
* **Dart sdk version:** 2.18.2

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**
I have used the `async*/yield` syntax to build a stream

[code]

**What did you expect to happen?**
As the `async*`keyword is mandatory to crea

[2022-10-07 08:54] lsaudon opened #1018 "[Question] All rules in YAML file"
**What do you want to discuss?**
Add a file in docs with all rules in YAML format like [Analysis Options](https://dart-lang.github.io/linter/lints/options/options.html).

[2022-10-07 10:00] orevial opened #1019 "[New rule] missing_test_assertion"
**Please describe what the rule should do:**

To be useful, a test should make an assertion, expect something. A test that only initializes things but make no assertion afterwards should trigger a warning to tell that "the test contains no assertion". The developer might have just forgot the expectation at the end. However this is dangerous because :
- The test is useless (apart from validating th

[2022-10-07 10:11] incendial commented on #1018
@lsaudon actually, we have an idea to create presets. Will this work for you?

[2022-10-07 10:11] incendial commented on #1019
@orevial amazing rule!

[2022-10-07 10:31] lsaudon commented on #1018
Like [lints](https://github.com/dart-lang/lints) with `core` and `recommended` ? I don't think so.

I would like to do as I did for the lints.
Have [all_lint_rules.yaml](https://raw.githubusercontent.com/lsaudon/calm_mind/main/all_lint_rules.yaml) with all the rules and in the file [analysis_options.yaml](https://raw.githubusercontent.com/lsaudon/calm_mind/main/analysis_options.yaml) disabled thos

[2022-10-07 11:09] incendial commented on #1018
Yeah, but also there will be `all.yaml` with all the rules.

And I think we can just add a link to that file in our docs and that'd enough.

[2022-10-07 11:44] lsaudon commented on #1018
I'm fine with it then. 😄

[2022-10-07 12:08] incendial commented on #1017
Available in 4.20.0 🚀

[2022-10-07 12:08] #1017 closed

[2022-10-07 12:08] incendial commented on #1010
Available in 4.20.0 🚀

If you encounter any issues with the plugin stability, please report them here https://github.com/flutter/flutter/issues/95092

[2022-10-07 12:08] #1010 closed

[2022-10-07 18:53] lsaudon commented on #1019
Can't there be tests in which you don't want to `expect`?
If we use third party libraries ([shouldly](https://pub.dev/packages/shouldly)), we will have false negatives?

[2022-10-07 18:55] incendial commented on #1019
The rule can still be ignored or we can support the case iteratively. But this rule looks useful, since it's  easy to forget about `expect`, especially for newcomers.

[2022-10-08 09:55] lsaudon commented on #1019
I tried to implement it.
Unfortunately, I don't understand AST 😥😀

[2022-10-08 10:12] incendial commented on #1019
If you want to give it another shot, you need to find all `test` function invocations and check if they invoke `expect`. But the best way is to write test and check the AST there.

[2022-10-08 14:38] lsaudon commented on #1019
I can see the `test` function, but I can't see the code in the `body` parameter.

[2022-10-08 15:04] incendial commented on #1019
First, you need to define the function you're trying to call:
<img width="439" alt="Screenshot 2022-10-08 at 19 02 37" src="https://user-images.githubusercontent.com/21116742/194714031-2f0705e4-0aed-490a-b5e1-00bf96ae37b2.png">

And then you need to visit invocations, not declaration and the callback will be one of the arguments:
<img width="921" alt="Screenshot 2022-10-08 at 19 03 04" src="https:

[2022-10-08 20:37] lsaudon commented on #1019
I never managed to get the debugger like that, but I did with the screenshot.
Thanks a lot.

[2022-10-09 08:55] #1018 closed

[2022-10-09 10:07] incendial commented on #1018
So here is the implementation https://github.com/dart-code-checker/dart-code-metrics/pull/1025

[2022-10-09 10:10] incendial commented on #975
@fzyzcjy I'll close this for now. Feel free to reopen when you have an example

[2022-10-09 10:10] #975 closed

[2022-10-10 08:17] lsaudon opened #1027 "[New rule] prefer-define-hero-tag"
**Please describe what the rule should do:**

Please describe what the rule should do:
The rule should tell us to give a `heroTag` to the widget that supports it to avoid a `FlutterError`.

**What category of rule is this? (place an "X" next to just one item)**

- [x] Warns about a potential error (problem)
- [ ] Suggests an alternate way of doing something (suggestion)
- [ ] Other (please specify

[2022-10-10 11:00] incendial commented on #1027
@lsaudon I thought that this tag is an optional thing and the rule will lead to a lot of false-positives. Or l'm wrong?

[2022-10-10 11:26] lsaudon commented on #1027
When `heroTag` is not set, then a default `heroTag` is set.
If you have 2 widgets with default `heroTag`, when you go on the page, you have an error.
I don't know about false positives.

[2022-10-10 16:43] incendial commented on #1019
Available in 4.21.0 🚀

[2022-10-10 16:43] #1019 closed

[2022-10-10 16:43] incendial commented on #459
Available in 4.21.0 🚀

[2022-10-10 16:43] #459 closed

[2022-10-11 05:46] lsaudon opened #1029 "Participating in Hacktoberfest"
It would be nice to participate to the hacktoberfest.

[Hacktoberfest Mainterners](https://hacktoberfest.com/participation/#maintainers)

[2022-10-11 13:34] mit-73 opened #1030 "[BUG] "long-method" can't handle many lines of code"
* **Dart code metrics version: 4.19.1**
* **Dart sdk version: ">=2.18.0 <3.0.0"**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**
There is a problem with "long-method" on `Widget build(BuildContext context)`, it blinks (shows or doesn't show the lint). I think it is because the project was over the limi

[2022-10-11 14:32] incendial commented on #1029
@lsaudon could you elaborate?

[2022-10-11 15:18] lsaudon commented on #1029
Hacktoberfest is a month-long celebration of open-source projects, their maintainers, and the entire community of contributors.

This is to encourage contributions to open source projects.

[2022-10-13 15:23] NANASHI0X74 opened #1033 "[BUG] avoid-passing-async-when-sync-expected interprets FutureOr Functions as synchronous functions"
* **Dart code metrics version: 4.18.2**
* **Dart sdk version: 2.18.2**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

Any asynchronous function passed to methods that take functions returning FutureOr - such as Future's then() and whenComplete() methods - will

[2022-10-13 17:58] incendial commented on #1030
@mit-73 looks like it's not connected with the method, but rather with the release of 4.20 which has a new plugins api support. And it seems that somehow this newer version is used by IDE and not 4.19.1

[2022-10-13 18:00] incendial commented on #1029
You're suggesting to add DCM to this program?

[2022-10-14 06:43] lsaudon commented on #1029
Yes, that's right.
I think it's just adding a topic in about and putting labels in the issues and pull requests.
[The Dart language site](https://github.com/dart-lang/site-www) participates for example.

[2022-10-14 07:17] incendial commented on #1030
@mit-73 we got several reports, but they confirmed that the issue is now resolved. Do you still have the problem?

[2022-10-14 08:35] mit-73 commented on #1030
@incendial the problem seems to be gone. Where can you keep track of problems like this?

[2022-10-14 09:46] #1030 closed

[2022-10-14 16:09] incendial commented on #1029
Done. I've added labels and topic, looks like that enough. Feel free to reopen if I did miss anything!

[2022-10-14 16:09] #1029 closed

[2022-10-14 16:25] incendial commented on #528
This should be fixed since 4.21.1, please update to this version. If you still experience the problem, feel free to comment or open another issue

[2022-10-14 16:25] #528 closed

[2022-10-14 16:28] incendial commented on #1033
Fix available in 4.21.2 🚀

[2022-10-14 16:28] #1033 closed

[2022-10-14 17:32] incendial commented on #946
@taibaiyinxing sorry for the long delay, but have you found a solution for the problem?

[2022-10-16 10:03] incendial commented on #457
@ookami-kb cli runner will become a part of public API. It's occurred, that this use-case is pretty common, so we'll support it officially

[2022-10-18 14:40] allenbrunson commented on #935
i would like to add my vote for adding this feature.

yes, i could exclude the whole file to get around a specific warning, but that is not ideal. it might be only one function in a source file that has a problem, while i would prefer that all the remaining functions continue to get checked.

the other reason why it would be preferable to have partial excludes is because excluding a whole file eff

[2022-10-19 04:04] dkrutskikh commented on #935
Sounds interested. I'll start implement this feature.

[2022-10-20 16:31] khoadng opened #1046 "[BUG] prefer-iterable-of warns on unrelated type from other package."
* **Dart code metrics version:** 4.15.2
* **Dart sdk version:** 2.18.2

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**
1. Install https://pub.dev/packages/collection
2. Use QueueList from the package

[code]

**What did you expect to happen?**
Analyzer shouldn't

[2022-10-22 08:39] lsaudon commented on #1046
Which `collection` version do you use?

[2022-10-23 01:01] DetachHead opened #1051 "[New rule] error when rule name not found"
**Please describe what the rule should do:**

if there's an invalid rule name in `analysis_options.yaml`, it should cause an error

**What category of rule is this? (place an "X" next to just one item)**

- [X] Warns about a potential error (problem)
- [ ] Suggests an alternate way of doing something (suggestion)
- [ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn a

[2022-10-23 14:59] incendial commented on #1051
That's planned for the next release, stay tuned 😉

[2022-10-24 03:44] taibaiyinxing commented on #946
@incendial I'm sorry for such a long delay. My solution is adding the ".flutterw" folder which has lots of dart files to the 'exclude' field of the ContextRoot instance in the 'createAnalysisDriver' method, and it did work for me.

[2022-10-24 06:20] incendial commented on #946
@taibaiyinxing so you have a fork of DCM plugin?

[2022-10-24 06:27] taibaiyinxing commented on #946
@incendial Emmm, I just downloaded the source code of v4.16.0 and modified it and used it locally. My main flutter project does not support Flutter3.0 now.

[2022-10-24 06:53] incendial commented on #946
Yeah, I meant that you use some modified version and it works for you? Looks like since you're on the old version, there is not much we can do

[2022-10-24 07:00] taibaiyinxing commented on #946
@incendial Yes, my modification works for me now, and I don't think there's any thing you need to do, because it's not a common situation.

[2022-10-24 07:02] incendial commented on #946
Okay, so I'm closing this for now. Feel free to reopen when you update to the latest version. We'll see what we can do (maybe some API for those type of excludes).

[2022-10-24 07:02] #946 closed

[2022-10-24 15:44] DFelten commented on #640
I am also very interested in it. We currently have an app that integrates a framework with various packages. Here we would like to generate the metrics for the app with the framework and all packages together in one report.

We can connect a coverage report because we have a lcov file. The metrics, however, as far as we know not.

[2022-10-25 13:10] hanskenis opened #1055 "[Question] override rules from preset"
I would like to use the presets, but still be able to override some rules. Like this:

[code]

At the moment this doesn't seem to work and i'm still getting warnings on the test files. Am i missing something? Will this be supported in a future release? Thx!

[2022-10-25 13:18] incendial commented on #1055
@hanskenis hi, is you posted the yaml example as is, then there is a mistake. `exclude` should move more indentation, like:
[code]
and that should work

[2022-10-25 13:29] hanskenis commented on #1055
@incendial sorry, i made a mistake in the example.
I have indentation correct in my project, but still getting those warnings?

[2022-10-25 14:03] incendial commented on #1055
Thats interesting, will check and get back to you

[2022-10-25 14:24] incendial commented on #1055
@hanskenis what version of DCM do you have?

[2022-10-25 14:35] hanskenis commented on #1055
version: "4.21.2"

[2022-10-25 15:00] hanskenis commented on #1055
hi, i created a small project with the warning over here: https://github.com/hanskenis/test_dcm_presets

[2022-10-25 15:11] hanskenis commented on #1055
@incendial i'm very sorry, just noticed the indentation is wrong. i fixed indentation and it works indeed.

[2022-10-25 15:13] hanskenis commented on #1055
@incendial Thx a lot for quick response, and sorry for waisting some of your time 😛

[2022-10-25 15:13] #1055 closed

[2022-10-31 02:43] fzyzcjy opened #1062 "[New rule] dispose-fields"
**Please describe what the rule should do:**

It is common for flutter dev to forget disposing things, so this may be helpful for devs. Maybe we can also scan flutter repo itself using this linter rule :)

Consider the following case:

[code]

If we forget to call `dispose`, it will cause memory leak or other bad things.

More formally, it should lint if the following satisfies:

* The type of a f

[2022-10-31 05:18] incendial commented on #1062
It's not the same as https://dartcodemetrics.dev/docs/rules/flutter/always-remove-listener?

[2022-10-31 05:20] fzyzcjy commented on #1062
Looks close but somehow different: this one is for general `dispose`. For example `ui.Image` should be disposed (while it is not a listener at all). But I guess the code will be very similar to that

[2022-10-31 05:24] incendial commented on #520
After some time I think we'll keep the rule names as is.

[2022-10-31 05:24] #520 closed

[2022-10-31 15:20] incendial opened #1063 "Measure overall performance"
Currently we don't have any measurement for our rules and commands performance.
We need to check the current state and think about automating it.

[2022-10-31 18:58] incendial commented on #1051
Available in 5.0.0 🚀

[2022-10-31 18:58] #1051 closed

[2022-10-31 18:58] incendial commented on #1046
Available in 5.0.0 🚀

[2022-10-31 18:58] #1046 closed

[2022-10-31 18:59] incendial commented on #956
Available in 5.0.0 🚀 , check out the docs for `widget-order` and `order` setup

[2022-10-31 18:59] #956 closed

[2022-10-31 19:00] incendial commented on #858
Available in 5.0.0 🚀  with this order https://github.com/dart-code-checker/dart-code-metrics/blob/master/lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/config_parser.dart#L16 as default for widgets

[2022-10-31 19:00] #858 closed

[2022-10-31 19:01] incendial commented on #648
Available in 5.0.0 🚀

[2022-10-31 19:01] #648 closed

[2022-10-31 19:01] incendial commented on #457
Available in 5.0.0 🚀

[2022-10-31 19:01] #457 closed

[2022-10-31 19:02] incendial commented on #444
Available in 5.0.0 🚀

[2022-10-31 19:02] #444 closed

[2022-10-31 19:03] #485 closed

[2022-10-31 19:04] #114 closed

[2022-10-31 19:04] #134 closed

[2022-10-31 19:06] #442 closed

[2022-10-31 19:07] incendial commented on #495
Closing as duplicate of #420

[2022-10-31 19:07] #495 closed

[2022-11-04 14:39] vitoramaral10 opened #1070 "[BUG] avoid-use-expanded-as-spacer causing warning in analyze command"
* **Dart code metrics version:** 5.0.1
* **Dart sdk version:** 2.18.4

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the source code example causing the issue.**

[code]

**What did you expect to happen?**
[code]
**What actually happened?**
[code]
**Are you willing to submit a pull request to fix this bug

[2022-11-04 14:43] incendial commented on #1070
@vitoramaral10 thanks, the docs are wrong, the rule name is `avoid-expanded-as-spacer`. Please use it instead of `avoid-use-expanded-as-spacer`.

[2022-11-04 14:51] vitoramaral10 commented on #1070
Thanks, this solution works for me!

[code]

[2022-11-04 14:51] #1070 closed

[2022-11-06 03:19] fzyzcjy opened #1071 "[New rule] annotation-on-invalid-class"
**Please describe what the rule should do:**

Just a tiny rule, recorded here in case someone else is also interested in it :)

For example, in https://github.com/mobxjs/mobx.dart, we should use `@observable`, `@computed`, etc, only on a subclass of `Store`. If not, we have a bug because that annotation will not generate code needed for an observable/computed, and we will not see any compile time

[2022-11-06 06:53] incendial commented on #1071
@fzyzcjy interesting use-case, maybe we should have a separate rules set for flutter-mobx? Do you have other rule ideas?

[2022-11-06 06:58] fzyzcjy commented on #1071
@incendial Not sure whether this idea is useful: In mobx, we should write down the following boilerplate

[code]

(Or, in the old days `CounterBase` used to be `_Counter` by convention).

So maybe if the user names the class wrongly, we can lint it?

[2022-11-06 09:54] incendial commented on #1071
This might be a good stylistic rule, do you have anything else?

[2022-11-06 09:58] fzyzcjy commented on #1071
Not sure about this one: https://github.com/mobxjs/mobx.dart#readonly

A stylistic rule may be, forbid @observable and only allow @readonly (because we may want things not to be modifiable from outside without actions)

[2022-11-12 06:43] fzyzcjy opened #1075 "[New rule] abstract_field"
**Please describe what the rule should do:**

[code]

can be written as following:

[code]

The linter should warn for the first case (so users can write the second case)

**If your rule is inspired by other please provide link to it:**

**What category of rule is this? (place an "X" next to just one item)**

- [ ] Warns about a potential error (problem)
- [x] Suggests an alternate way of doing so

[2022-11-24 10:26] NANASHI0X74 opened #1079 ""all" presets don't contain all rules"
The rule presets under https://github.com/dart-code-checker/dart-code-metrics/tree/master/lib/presets
Don't contain all rules- at least avoid-cascade-after-if-null rule is missing.
I think they should be autogenerated like they are for the dart linter - https://raw.githubusercontent.com/dart-lang/linter/main/example/all.yaml

[2022-11-24 13:39] incendial commented on #1079
Thanks for noticing! As for autogeneration - there are no plans for adding it, but contributions are very welcome!

[2022-11-26 17:44] EhabSalah opened #1080 "[BUG] CLI analyze command always fails"
Error from the terminal
[code]

* **Dart code metrics version:5.0.1**
* **Dart sdk version:2.18.2 (stable)**

**Please show your full configuration:**
in `analysis_options.yaml` I have added
[code]
The above configuration is working very well and as expected, but I only need to analyze the `lib` it fails!

[2022-11-26 17:51] incendial commented on #1080
@EhabSalah why do you have analyzer 4.7.0? DCM >5.0.0 works only with the analyzer above 5.1.0

[2022-11-28 16:48] #1080 closed

[2022-11-29 10:44] lavinov-mercury opened #1083 "[BUG] unused_code doesn't recognize code used with conditional imports"
* **Dart code metrics version:** 5.0.1
* **Dart sdk version:** 2.18.5

**Please show your full configuration:**

Default configuration, i've just added code metrics to the project

**What did you do? Please include the source code example causing the issue.**

Here is a [sample project](https://github.com/lavinov-mercury/code_metrics_conditional_import) with reproducible issue. I've split implemen